<!DOCTYPE html>
<html lang="ko">
<head>
<title>퍼블리싱 작업현황표</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" target-densitydpi="device-dpi" />
<link type="text/css" rel="stylesheet" href="../../css/libs/coding.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
//<![CDATA[
	//테이블 tr over효과
	$(document).ready(function() {
		$("table tr:gt(0)").hover(
			function() { $(this).addClass("hover"); },
			function() { $(this).removeClass("hover"); }
		);
		$("table tr:not(.del)").each(function(index){
			$("td:first-child", this).text(index);
		});
		$("table tr.del td:first-child").text("삭제");
		$tr = $("tbody tr:not(.del)");
		$("#rate").html("( 총:"+$tr.length+" / 잔여:"+$("td.date:empty",$tr).length+" / 진행:"+parseInt((($tr.length-$("td.date:empty",$tr).length)/$tr.length*100))+"% )");

		//날짜 출력
		var date = new Date();
		var year = date.getFullYear();
		var month = new String(date.getMonth()+1);
		var day = new String(date.getDate());

		$(".today").text(year + "년 " + month + "월 " + day + "일");
	});
	//'table tr:gt(0) 0보다 큰것만 마우스 오버 효과가 나타남
//]]>
</script>
</head>
<body>
	<div id="wrap">
		<div class="tit">
			<h1>카포라 - MOBILE</h1>
			<p>
				<span class="today red bold"></span>
				<span id="rate"></span><br />
			</p>
		</div>
        <!-- <div class="txt">
        	<ul>
            	<li>웹접근 준수, HTML5, 절대경로, UTF-8</li>
                <li>브라우저범위 : ie 7~ 10, 크롬, 파이어폭스</li>
             </ul>
        </div> -->

		<table class="list">
			<colgroup>
				<col width="3%" />
				<col width="12%" />
				<col width="12%" />
				<col width="12%" />
				<col width="12%" />
				<col width="8%" />
				<col width="8%" />
				<col width="5%" />
				<col width="5%" />
				<col width="5%" />
				<col width="18%" />
			</colgroup>
			<thead>
				<tr>
					<th>No</th>
					<th>1depth</th>
					<th>2depth</th>
					<th>3depth</th>
					<th>4depth</th>
					<th>directory</th>
					<th>html</th>
					<th>코딩완료일</th>
					<th>개발완료일</th>
					<th>수정일</th>
					<th>비고</th>
				</tr>
			</thead>
			<tbody>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">메인</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">main</td>
					<td class="cut"><a href="../main/main.html" target="_blank">main.html</a></td>
					<td class="date">2020-02-14</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">검색결과</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">search</td>
					<td class="cut"><a href="../search/search.html" target="_blank">search.html</a></td>
					<td class="date">2020-2-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">상세페이지</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">view</td>
					<td class="cut"><a href="../view/view.html" target="_blank">view.html</a></td>
					<td class="date">2020-2-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">기획테마전</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">theme</td>
					<td class="cut"><a href="../theme/theme.html" target="_blank">theme.html</a></td>
					<td class="date">2020-03-06</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">마이페이지</td>
					<td class="cut">최근 본 차량</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mypage</td>
					<td class="cut"><a href="../mypage/myview.html" target="_blank">myview.html</a></td>
					<td class="date">2020-3-03</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">품질평가시스템</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">quality</td>
					<td class="cut"><a href="../quality/quality.html" target="_blank">quality.html</a></td>
					<td class="date">2020-03-18</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">관심차량</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mypage</td>
					<td class="cut"><a href="../mypage/wishlist.html" target="_blank">wishlist.html</a></td>
					<td class="date">2020-3-03</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">온라인 전용관</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">sell</td>
					<td class="cut"><a href="" target="_blank"></a></td>
					<td class="date"></td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">가이드</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">guide</td>
					<td class="cut"><a href="../guide_m/guide_font.html" target="_blank">guide_font.html</a></td>
					<td class="date">상시업데이트</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">이벤트</td>
					<td class="cut">list</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">event</td>
					<td class="cut"><a href="" target="_blank"></a></td>
					<td class="date"></td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">view</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">event</td>
					<td class="cut"><a href="" target="_blank"></a></td>
					<td class="date"></td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">내차어떄</td>
					<td class="cut">차량검색</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/mycar_main.html" target="_blank">mycar_main.html</a></td>
					<td class="date">2020-02-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">구매방식</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/mycar_step_1.html" target="_blank">mycar_step_1.html</a></td>
					<td class="date">2020-02-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">연식</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/mycar_step_2.html" target="_blank">mycar_step_2.html</a></td>
					<td class="date">2020-02-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">사고이력</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/mycar_step_3.html" target="_blank">mycar_step_3.html</a></td>
					<td class="date">2020-02-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">주행거리</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/mycar_step_4.html" target="_blank">mycar_step_4.html</a></td>
					<td class="date">2020-02-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">옵션</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/mycar_step_5.html" target="_blank">mycar_step_5.html</a></td>
					<td class="date">2020-02-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">결과</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/mycar_result.html" target="_blank">mycar_result.html</a></td>
					<td class="date">2020-02-28</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">data insert & loading</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../mycar/my_car_process_update.html" target="_blank">my_car_process_update.html</a></td>
					<td class="date">2020-02-13</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">로그인</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">login</td>
					<td class="cut"><a href="../login/login.html" target="_blank">login.html</a></td>
					<td class="date">2020-03-03</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">회원가입</td>
					<td class="cut">회원가입1</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../register/register_1.html" target="_blank">register_1.html</a></td>
					<td class="date">2020-03-03</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">회원가입2</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../register/register_2.html" target="_blank">register_2.html</a></td>
					<td class="date">2020-03-03</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">회원가입3</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../register/register_3.html" target="_blank">register_3.html</a></td>
					<td class="date">2020-03-03</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">회원가입 결과</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">mycar</td>
					<td class="cut"><a href="../register/register_result.html" target="_blank">register_result.html</a></td>
					<td class="date">2020-03-03</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">아이디&비밀번호 찾기</td>
					<td class="cut">아이디찾기</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">register</td>
					<td class="cut"><a href="../register/find_id.html" target="_blank">find_id.html</a></td>
					<td class="date">2020-03-04</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">아이디찾기 결과</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">register</td>
					<td class="cut"><a href="../register/done_id.html" target="_blank">done_id.html</a></td>
					<td class="date">2020-03-04</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">비밀번호 찾기</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">register</td>
					<td class="cut"><a href="../register/find_pw.html" target="_blank">find_pw.html</a></td>
					<td class="date">2020-03-04</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">비밀번호 찾기 결과</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">register</td>
					<td class="cut"><a href="../register/done_pw.html" target="_blank">done_pw.html</a></td>
					<td class="date">2020-03-04</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">비밀번호 변경</td>
					<td class="cut">비밀번호 변경</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">register</td>
					<td class="cut"><a href="../register/change_pw.html" target="_blank">change_pw.html</a></td>
					<td class="date">2020-03-04</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut"></td>
					<td class="cut">비밀번호 변경 결과</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">register</td>
					<td class="cut"><a href="../register/done_change_pw.html" target="_blank">done_change_pw.html</a></td>
					<td class="date">2020-03-04</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr>
				<!-- <tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">검색결과</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">content</td>
					<td class="cut"><a href="../content/search.html" target="_blank">search.html</a></td>
					<td class="date">2019-12-01</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr> -->
				<!-- <tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">faq</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">content</td>
					<td class="cut"><a href="../content/faq.html" target="_blank">faq.html</a></td>
					<td class="date">2019-12-01</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr> -->
				<!-- <tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">인터뷰기사</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">content</td>
					<td class="cut"><a href="../content/interview_article.html" target="_blank">interview_article.html</a></td>
					<td class="date">2019-12-01</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr> -->
				<!-- <tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">인터뷰영상</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">content</td>
					<td class="cut"><a href="../content/interview_video.html" target="_blank">interview_video.html</a></td>
					<td class="date">2019-12-01</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr> -->
				<!-- <tr id="layout" class="cut">
					<td class="cut center"></td>
					<td class="cut">팩트체크</td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut"></td>
					<td class="cut">content</td>
					<td class="cut"><a href="../content/fact.html" target="_blank">fact.html</a></td>
					<td class="date">2019-12-01</td>
					<td class="dev"></td>
					<td class="bigo"></td>
					<td class="memo"></td>
				</tr> -->
			</tbody>
		</table>
	</div>
</body>
</html>
