<%
	page_type = "login"
	page = "login"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg type-login">
    <div class="wrap">
        <div class="loginbox ">
            <h3 class="loginbox__tit tit-v1">내 차 쉽게 찾을 땐<br><span class="loginbox__tit__point"> 카포라 2.0</span></h3>
                <!-- 입력오류시 기존과 동일하게 alert로 처리한다고 합니다. -->
                <form action="" class="loginbox__form" id="loginbox__form">
                    <div class="loginbox__inputwrap">
                        <input type="txt" id="id" class="loginbox__id logininput type-login txt-v1" placeholder="카포라 아이디 (이메일 형식)" autocomplete="off"  name="">
                    </div>
                    <div class="loginbox__inputwrap">
                        <input type="password" id="id" class="loginbox__pw logininput type-login txt-v1" placeholder="비밀번호" autocomplete="off"  name="">
                    </div>
                    <button type="submit" class="loginbox__btn button-default type-radius txt-v1">로그인</button>
                </form>
                <p class="loginbox__findbox">
                    <a href="../../html/register/find_id.html" class="loginbox__findbox__id txt-v2">아이디</a>
                    <a href="../../html/register/find_pw.html" class="loginbox__findbox__pw type-before txt-v2" >비밀번호 찾기</a>
                </p>
                <p class="login-or type-login"><span class='login-or__txt txt-v2'>또는</span></p>
                <div class="buttonbox">
                    <a href="" class="buttonbox__btn button-default type-radius type-kakao txt-v1">카카오톡으로 로그인</a>
                    <a href="" class="buttonbox__btn button-default type-radius type-facebook txt-v1">페이스북으로 로그인</a>
                </div>
        </div>
    </div>
</div>




<% include ../_include/_footer %>
