<div class="layer-search">
    <div class="search_box">
          <form action="../mycar_step.php" id="main-search_form" method="post">
              <img src="../../img/mobile/mycar/go_back_m.png" alt="" class="search_box__go-back js-search-close"><input type="text" class="search_box__auto-input auto_input" name="car_name" required>
              <input type="reset" class="search_box__delete-input" value="" ><input type="submit" class="search_box__submit-btn submit_btn" value="">
          </form>
    </div>
    <p class="search-txt txt-v1">검색어를 입력해 주세요.</p>
</div>
