<div class="layer-search more-search">
    <div class="search_box">
          <form action="../mycar_step.php" id="search_form" method="post">
              <img src="../../img/mobile/mycar/go_back_m.png" alt="" class="search_box__go-back js-more-close"><input type="text" class="search_box__auto-input js-auto-input2" name="car_name" required>
              <input type="reset" class="search_box__delete-input" value="" ><input type="submit" class="search_box__submit-btn submit_btn" value="">
          </form>
    </div>
	<p class="search-txt txt-v1">추가할 태그를 입력하세요.</p>
</div>
