// .mycar{min-width:$min-size; padding:0 10px; box-sizing:border-box;}

.mycar-header{position:relative;text-align:left; box-sizing:border-box;background-color:#fff;
    &__wrap{display:table-cell; width:1%;height:50px;  vertical-align:middle;  padding:0 70px 0 34px;}
    &__tit{color:#000;}
    &__back{position:absolute; top:0; left:20px; display:inline-block; width:20px; height:50px; line-height:50px; background-color:transparent;
        background:url('../../img/mobile/mycar/go_back_m.png') no-repeat center center / 21px 17px; font-size:0;}
}

.mycar-list{position:absolute; top:22px; right:20px; font-size:0;
    &__item{display:inline-block; width:6px; height:6px; border-radius:50%; background:#cccccc;
        &.is-active{background-color:$point1;}
        & + &{margin-left:7px;}
    }
}

.mycar-body{padding-top:60px; background-color:#f8f9fa;
    $this:&;
    &__tit{margin-bottom:50px; color:#666; text-align:center;}
    &__list{margin:0; padding:0;}
    &__item{list-style:none;
        & + &{margin-top:30px;}
    }
    &.type-buy{
        #{$this}__item{
            #{$this}__item + #{$this}__item{margin-top:20px;}
        }
    }
    &__label{display:block; margin-bottom:14px; color:#000;}
    &__submit{margin-top:50px;}
}





.mycar-option{
    $this:&;
    &__list{margin:-10px 0 0 -10px; padding:0; font-size:0;
        &.type-two{margin-left:-20px;
            #{$this}__item{width:50%; padding-left:20px;}
        }
    }
    &__item{display:inline-block; width:33.33%; margin-top:10px; padding-left:10px; box-sizing:border-box; list-style:none;}
    &__input{position: absolute;width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;
        &:checked{
            & + #{$this}__label{border-color:$black1; color:$black1;}
        }
    }
    &__label{ display:block; width:100%; height:42px; line-height:40px; border:1px solid #ddd; border-radius: 4px; background-color:#fff; font-size:1.7rem; color:#888; text-align: center; font-weight:$medium;
    cursor:pointer;
        &:hover{border-color:$point1;}
    }
}

.mycar-split{margin:0 0 0 -20px; padding:0; font-size:0;
    &__item{display:inline-block; position:relative; width:50%; padding-left:20px; list-style:none; box-sizing:border-box;
        & + &{
            &:before{display:block; position:absolute; top:50%;; left:0; width:20px; text-align:center; font-size:1.7rem; @include vendor('transform','translateY(-50%)'); content:'~'}
        }
    }
}

.mycar-distance{position:relative; border-bottom:1px solid #ccc; line-height:48px; height:48px; color:#ccc; font-size:14px;
    &.is-active{color:#000; border-bottom-color:#000;}
    &__input{background: transparent; width:100%; @include placeholder-color(#ccc); font-size:14px;}
    &__span{float:right; position:absolute; right:0;}
}

.swiper{position:relative;
    $this:&;
    &__input{
        &:checked{
            & + #{$this}__label{background-color:$point1;
                #{$this}__circle{left:24px}
            }
        }
    }
    &__label{position:absolute; top:-3px; right:0; display:inline-block; width:54px; height:30px; padding:3px; background:#ddd; border-radius: 15px; box-sizing:border-box; z-index:10; transition:0.3s;}
    &__circle{position:relative; display:inline-block; overflow:hidden; left:0; width:24px; height:24px; border-radius:50%; background-color:#fff; text-indent:-9999px; transition:0.3s;}
}

label.error{display:block; margin-top:5px; color:red; font-size:1.2rem;}
