<%
	var data = jsonData
%>
<!-- //select 시작 -->
<div class="bottom-select type-align">
	<form action="">
		<div class="bottom-select__wrap">
			<ul class="bottom-select__list">
				<li class="bottom-select__item txt-v1">
					<input type="radio" name="productAlign" id="productAlign1" value="최근등록순" class="radio-v1 type-b-select" checked>
					<label for="productAlign1">최근등록순</label>
				</li>
				<li class="bottom-select__item txt-v1">
					<input type="radio" name="productAlign" id="productAlign2" value="높은가격순" class="radio-v1 type-b-select">
					<label for="productAlign2">높은가격순</label>
				</li>
				<li class="bottom-select__item txt-v1">
					<input type="radio" name="productAlign" id="productAlign3" value="낮은가격순" class="radio-v1 type-b-select">
					<label for="productAlign3">낮은가격순</label>
				</li>
				<li class="bottom-select__item txt-v1">
					<input type="radio" name="productAlign" id="productAlign4" value="품질순" class="radio-v1 type-b-select">
					<label for="productAlign4">품질순</label>
				</li>
				<li class="bottom-select__item txt-v1">
					<input type="radio" name="productAlign" id="productAlign5" value="주행거리순" class="radio-v1 type-b-select">
					<label for="productAlign5">주행거리순</label>
				</li>
				<li class="bottom-select__item txt-v1">
					<input type="radio" name="productAlign" id="productAlign6" value="연식순" class="radio-v1 type-b-select">
					<label for="productAlign6">연식순</label>
				</li>
			</ul>
			<button type="submit" class="bottom-select__btn button-default type-white w-100 txt-v1 js-align-input">확인</button>
		</div>
	</form>
</div>
<!-- //select 끝 -->
