	<% if (header == "true") { %>
	<% if(page_type != "login" && page_type != "register" ){%>
		<div class="footer">
			<div class="wrap">
				<ul class="footer__list">
					<li class="footer__item type-icon type-facebook"><a href="" class="footer__link txt-v2"><span class="footer__span">페이스북</span></a></li>
					<li class="footer__item type-icon type-post"><a href="" class="footer__link txt-v2"><span class="footer__span">네이버 포스트</span></a></li>
				</ul>
				<ul class="footer__list">
					<li class="footer__item"><a href="" class="footer__link txt-v2">회사소개</a></li>
					<li class="footer__item"><a href="" class="footer__link txt-v2">이용약관</a></li>
					<li class="footer__item"><a href="" class="footer__link txt-v2">개인정보취급방침</a></li>
					<!-- <li class="footer__item"><a href="" class="footer__link txt-v2">제휴문의</a></li> -->
					<li class="footer__item"><a href="" class="footer__link txt-v2">고객센터</a></li>
				</ul>
				<div class="footer-info">
					<ul class="footer-info__list">
						<li class="footer-info__item txt-v2">넥스리치홀딩스(주) 대표이사 <span class="footer-info__span">이원근</span></li>
						<li class="footer-info__item txt-v2"><span class="footer-info__span">서울특별시 강남구 봉은사로68길 8, DECKS빌딩 2층</span></li>
						<li class="footer-info__item txt-v2">사업자등록번호 <span class="footer-info__span">411-81-92067</span></li>
						<li class="footer-info__item txt-v2">개인정보관리책임자 <span class="footer-info__span">박종민</span></li>
					</ul>
					<ul class="footer-info__list">
						<li class="footer-info__item txt-v2">대표전화 <span class="footer-info__span"><a href="tel:1600-0984" class="footer-info__link">1600-0984</a></span></li>
						<li class="footer-info__item txt-v2">팩스 <span class="footer-info__span"><a href="tel:02-3412-0508" class="footer-info__link">02-3412-0508</a></span></li>
						<li class="footer-info__item txt-v2">이메일 <span class="footer-info__span"><a href="mailto:carfora@carfora.co.kr" class="footer-info__link">carfora@carfora.co.kr</a></span></li>
					</ul>
					<p class="footer__copy txt-v3">© CARFORA Corp. All rights reserved.</p>
				</div>
			</div>
		</div>
		<% }else{ %>
			<div class="footer type-fullbg">
				<div class="wrap">
					<ul class="footer__list type-login">
						<li class="footer__item type-register"><a href="" class="footer__link txt-v2">회사소개</a></li>
						<li class="footer__item type-register"><a href="" class="footer__link txt-v2">이용약관</a></li>
						<li class="footer__item type-register"><a href="" class="footer__link txt-v2">개인정보취급방침</a></li>
						<li class="footer__item type-register"><a href="" class="footer__link txt-v2">공지사항</a></li>
					</ul>
					<p class="footer__copy txt-v3 type-fullbg">© CARFORA Corp. All rights reserved.</p>
				</div>
			</div>
		<% } %>

	</div><!--// common-->
	<% } %>
</body>
</html>
<!--footer끝-->
