<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<!-- 공통 css,js -->
<!-- <link rel="stylesheet" href="../../css/libs/mobile.css"> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="../../css/libs/nouislider.css">
<link rel="stylesheet" href="../../css/mobile/style.css">
<!-- <link rel="icon" href="../../images/common/favicon.ico"> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- <script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script> -->
<script type="text/javascript" src="../../js/libs/nouislider.js"></script>
<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="../../js/mobile/style.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.counterup.min.js"></script>

<!-- 공통 css,js -->
<% if (page_type == "loding") { %>
	<link rel="stylesheet" href="../../css/mobile/loding.css">
<% }else if (page_type == "main") { %>
	<link rel="stylesheet" href="../../css/mobile/main.css">
	<script type="text/javascript" src="../../js/mobile/main.js"></script>
<% }else if (page_type == "test") { %>
	<link rel="stylesheet" href="../../css/test.css">
	<script type="text/javascript" src="../../js/mobile/test.js"></script>
<% }else if (page_type == "mycar") { %>
	<link rel="stylesheet" href="../../css/mobile/mycar.css">
	<script type="text/javascript" src="../../js/mobile/mycar.js"></script>
	<script type="text/javascript" src="../../js/mobile/step.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<% }else if (page_type == "mypage") { %>
	<link rel="stylesheet" href="../../css/mobile/mypage.css">
	<script type="text/javascript" src="../../js/mobile/mypage.js"></script>
<% }else if (page_type == "step") { %>
	<link rel="stylesheet" href="../../css/mobile/mycar.css">
	<script type="text/javascript" src="../../js/mobile/step.js"></script>
<% }else if (page_type == "search" || page_type == "theme") { %>
	<link rel="stylesheet" href="../../css/mobile/search.css">
	<script type="text/javascript" src="../../js/mobile/search.js"></script>
<% }else if (page_type == "view") { %>
	<link rel="stylesheet" href="../../css/mobile/view.css">
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bfe9c6516ee365d01bffc404422b7bd1&libraries=services,clusterer"></script>
	<script type="text/javascript" src="../../js/mobile/view.js"></script>
<% }else if (page_type == "login") { %>
	<link rel="stylesheet" href="../../css/mobile/login.css">
	<script type="text/javascript" src="../../js/mobile/login.js"></script>
<% }else if (page_type == "quality") { %>
	<link rel="stylesheet" href="../../css/mobile/quality.css">
	<script type="text/javascript" src="../../js/mobile/quality.js"></script>
<% }else if (page_type == "register") { %>
	<link rel="stylesheet" href="../../css/mobile/register.css">
	<script type="text/javascript" src="../../js/mobile/register.js"></script>
<% } %>
</head>
<% if(page_type != "login" && page_type != "register" ){%>
<body>
	<div class="dim">dim</div>
<%}else{%>
	<!--로그인시에 배경화면 변경시 클래스명 type-bg1 ~ type-bg24 까지 추가하시면 됩니다.-->
<body class="body__type-login">
	<div class="dim">dim</div>
<%}%>
	<% if (header == "true") { %>
		<%if (page_type == "white" || page_type == "theme"){ //화이트헤더%>
		<div class="common">
			<header class="header">
				<div class="wrap">
					<div class="header__wrap">
						<!-- <div class="header__left">
							<div class="gnb">
								<button class="gnb__btn">
									<span class="gnb__wrap">
										<span class="gnb__bar nth-1 type-wht">bar</span>
										<span class="gnb__bar nth-2 type-wht">bar</span>
										<span class="gnb__bar nth-3 type-wht">bar</span></span>
								</button>
							</div>
						</div> -->
						<a href="" class="header__logo"><img src="../../img/mobile/common/logo_white.png" 	class="img-w100" alt="cafora"></a>
						<div class="header__right">
							<a href="../mycar/mycar_main.html" class="header__mycar button-v2 type-point txt-v2">내차 어때?</a>
							<button class="header__btn type-login type-wht">로그인</button>
							<button class="header__btn type-history type-wht js-history-open">
								<span class="history-count">99</span>
								최근 본 상품 보기
							</button>
						</div>
					</div>
				</div>
			</header>
		<%}else if(page_type == "view"){//뷰페이지용 %>
			<div class="common">
				<header class="header">
					<div class="wrap">
						<div class="header__wrap">
							<div class="header__left">
								<button class="header__btn type-back" onClick='self.close()'>페이지 닫기</button>
							</div>
							<a href="" class="header__logo type-view"><img src="../../img/mobile/common/logo_white.png" 	class="img-w100" alt="cafora"></a>
							<div class="header__right">
								<button class="header__btn type-like type-wht add_btn">좋아요</button>
								<button class="header__btn type-interest type-wht add_btn">관심차량</button>
							</div>
						</div>
					</div>
				</header>
		<%} else if (page_type == "mypage"){ //마이페이지%>
			<div class="common">
				<header class="header">
					<div class="wrap">
						<div class="header__wrap">
							<a href="" class="header__logo"><img src="../../img/mobile/common/logo.png" 	class="img-w100" alt="cafora"></a>
						</div>
					</div>
				</header>
		<%}else{ //블랙헤더%>
			<div class="common">
				<header class="header type-bgwhite">
					<div class="wrap">
						<div class="header__wrap">
							<!-- <div class="header__left">
								<div class="gnb">
									<button class="gnb__btn">
										<span class="gnb__wrap">
											<span class="gnb__bar nth-1 type-blk">bar</span>
											<span class="gnb__bar nth-2 type-blk">bar</span>
											<span class="gnb__bar nth-3 type-blk">bar</span></span>
									</button>
								</div>
							</div> -->

							<a href="" class="header__logo"><img src="../../img/mobile/common/logo.png" class="img-w100" alt="cafora"></a>
							<div class="header__right">
								<%if(page_type == "login"){%>
								<button class="header__btn type-register" onclick="location.href='../../html/register/register_1.html'">회원가입</button>
								<%}else{%>
									<%if( page_type != "register"){%>
										<a href="../mycar/mycar_main.html" class="header__mycar button-v2 type-point txt-v2">내차 어때?</a>
										<button class="header__btn type-login type-blk">로그인</button>
										<button class="header__btn type-history type-blk js-history-open">
											<span class="history-count">99</span>
											최근 본 상품 보기
										</button>
									<%}%>
								<% } %>
							</div>
						</div>
					</div>
				</header>
		<%}%>

		<div class="history">
			<div class="history__scroll">
				<div class="history__header">
					<button class="history__back">뒤로가기</button>
					<h3 class="history__tit txt-v1">최근 본 차량</h3>
				</div>
				<div class="remove-box">
					<input type="checkbox" name="chkAll" id="chkAll" class="checkbox-v2"><label for="chkAll">전체선택</label>
					<div class="remove-box__right">
						<button class="button-v2 is-disabled remove-box__btn js-check-remove">선택차량 삭제</button>
					</div>
				</div>
				<div class="history-product">
					<ul class="history-product__list">
						<li class="product__item no-message bld">
							<div class="notice">
								<h4 class="notice__tit txt-v1">최근 본 차량이 없습니다.</h4>
								<p class="notice__txt txt-v2">
									최근 본 차량을 계속 보관하려면<br> 로그인 후 관심차량에 담아 주세요.
								</p>
							</div>
						</li>
						<% for(var i = 1; i<=5; i++){%>

							<li class="product__item">
								<div class="product__wrap">
									<div class="product__box type-img">
										<div class="product__relative">
											<div class="remove-check">
												<input type="checkbox" name="productChk" id="productChk<%=i%>" class="checkbox-only js-history-check"><label for="productChk<%=i%>">전체선택</label>
											</div>
											<div class="product__img">
												<img src="http://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
											</div>
										</div>
									</div>
									<div class="product__box type-txt">
										<div class="product__outer">
											<div class="product__inner">
												<h3 class="product__name txt-v1 ellipsis2">
													BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
												</h3>
												<p class="product__txt txt-v1">
													<span class="product__rank">SA+</span>
													<span class="product__price">1,960<span class="ft-300">만원</span></span>
												</p>
											</div>
										</div>
									</div>
								</div>
								<p class="product__txt">
									<span class="product__info info-style txt-v2">19러9780</span>
									<span class="product__info info-style txt-v2">10년04월</span>
									<span class="product__info info-style txt-v2">197,458km</span>
								</p>
								<p class="product__txt">
									<span class="product__mark mark-style txt-v2 type-hart">113</span>
									<span class="product__mark mark-style txt-v2 type-top">상위 10%</span>
								</p>
								<img src="../../img/mobile/common/brand_kb.png" class="product__brand"alt="kb차차차"/>
								<!-- <img src="../../img/mobile/common/brand_mpark.png" class="product__brand"alt="mpark"/> -->
								<!-- <img src="../../img/mobile/common/brand_sk.png" class="product__brand"alt="sk엔카"/> -->
								<!-- <img src="../../img/mobile/common/brand_aj.png" class="product__brand"alt="aj셀카"/> -->
								<a href="" class="product__link">자세히보기</a>
							</li>
						<% }%>

					</ul>
				</div>
			</div>
		</div>

	<% } %>
<!-- //header끝 -->
<!-- section시작 -->
