<%
	var data = jsonData
%>
<!-- mypage-heade 시작 -->
<div class="mypage-header">
	<div class="wrap">
		<div class="profile">
			<div class="profile__wrap">
				<div class="profile__thumbnail img-border">
					<img src="../../img/mobile/mypage/profile_img.jpg" alt="" class="profile__img"/>
				</div>
				<a href="" class="profile__plus">자세히 보기</a>
			</div>
			<div class="profile__box">
				<p class="profile__name txt-v1"><span class="vt-middle">머글킴</span> <a href="" class="profile__btn txt-v3 vt-middle">정보수정</a></p>
				<p class="profile__email txt-v2 js-news-ellipsis ellipsis">muggle-kim@naver.com muggle-kim@naver.com</p>
			</div>
			<button class="profile__logout button-v2 txt-v2">로그아웃</button>
		</div>
	</div>
</div>
<!-- //mypage-heade 끝 -->
