<%
	page_type = "view"
	page = "view"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container">
    <div class="view">
        <div class="view__imgbox">
            <img src="../../img/mobile/view/mainimg.jpg" alt="차량 메인이미지" class="view__img" />
			<!-- <img src="../../img/mobile/view/view_car_error_m.jpg" alt="차량 이미지없음" class="view__img" /> -->
        </div>
        <div class="page-tab">
            <div class="wrap">
                <div class="page-tab__inbox">
                    <div class="page-tab__list clb">
                        <button class="page-tab__btn is-active type-info fl txt-v1">기본정보</button>
                        <button class="page-tab__btn type-score fl txt-v1">종합평가</button>
                    </div>
                </div>
			</div>
		</div>
		<div class="tab-page type-1 is-active">
		<div class="viewtit">
		    <div class="wrap">
                <h3 class="view__tit tit-v2">아우디 Q5 2.0 TDI 콰트로 다이나믹 8R</h3>
            </div>
		</div>
            <section>
                <div class="wrap">
                    <div class="cert-info">
                        <span class="cert-info__txt txt-v2">19러9780</span>
                        <span class="cert-info__txt type-before txt-v2">10년04월식</span>
                        <span class="cert-info__txt type-before txt-v2">197,458km</span>
                    </div>
                    <div class="hash type-view">
                        <ul class="hash__list">
                            <li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
                            <li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
                        </ul>
                    </div>
                    <div class="price-box">
                        <span class="price-box__price type-price tit-v2">1,580 만원</span>
                        <span class="price-box__price type-monthly txt-v1">36개월 할부 시 154,504원</span>
                    </div>
                </div>
            </section>
            <section class="more-info">
                <div class="wrap">
                    <ul class="more-info__list">
                        <li class="more-info__item clb">
                            <span class="more-info__name fl txt-v1">종합평가</span>
                            <span class="more-info__val type-blue fr">AA+</span>
                        </li>
                        <li class="more-info__item  type-icon clb">
                            <span class="more-info__name type-local fl txt-v1">지역</span>
                            <span class="more-info__val fr txt-v1">서울</span>
                        </li>
                        <li class="more-info__item type-icon clb">
                            <span class="more-info__name type-fuel fl txt-v1">변속기/연료</span>
                            <span class="more-info__val fr txt-v1">오토/가솔린</span>
                        </li>
                        <li class="more-info__item type-icon clb">
                            <span class="more-info__name type-displacement fl txt-v1">배기량</span>
                            <span class="more-info__val fr txt-v1">3,342cc</span>
                        </li>
                    </ul>
					<a href="" class="button-default w-100 type-encar txt-v1">SK엔카에서 확인하기</a>
					<!-- <a href="" class="button-default w-100 type-kb txt-v1">KB차차차에서 확인하기</a> -->
					<!-- <a href="" class="button-default w-100 type-aj txt-v1">AJ셀카에서 확인하기</a> -->
					<!-- <a href="" class="button-default w-100 type-mpark txt-v1">엠파크에서 확인하기</a> -->
                </div>
            </section>
            <section class="compare-area view__cont">
                <div class="wrap clb">
                        <div class="js-tab-relative">
                        	<h4 class="view__tit type-tab tit-v2">가격비교</h4>
                        	<div class="view-tab fr">
                        	    <span class="view-tab__item is-active txt-v1">최저가순</span>
                        	    <span class="view-tab__item type-before txt-v1">가성비순</span>
                        	    <span class="view-tab__item type-before txt-v1">품질순</span>
                        	</div>
                        </div>
                    <div class="view-tab__wrap">
                        <div class="view__titwrap">
                            <ul class="compare-area__list tab-index  is-active">
                                <%for(var i=0; i<5; i++){%>
                                <li class="compare-area__item">
                                    <div class="compare-area__logo">
                                        <!-- 이미지명 변경하시면 됩니다.encar_logo, kb_logo, aj_logo, mpark_logo -->
                                        <img src="../../img/mobile/view/encar_logo.png" alt="" class="compare-area__logo__img" />
                                    </div>
                                    <div class="compare-area__txtbox">
                                        <p class="compare-area__top clb">
                                            <span class="compare-area__score fl txt-v1">AA+</span>
                                            <span class="compare-area__price fr txt-v1">1,580만원</span>
                                        </p>
                                        <p class="compare-area__bottom">
                                            <span class="fl">
                                                <span class="compare-area__info txt-v1">15,646km</span>
                                                <span class="compare-area__info type-before txt-v1">18년08월식</span>
                                            </span>
                                            <span class="fr compare-area__merit txt-v1">최저가</span>
                                        </p>
                                    </div>
                                </li>
                                <%}%>
							</ul>
							<ul class="compare-area__list tab-index">
								<%for(var i=0; i<5; i++){%>
                                <li class="compare-area__item">
                                    <div class="compare-area__logo">
                                        <!-- 이미지명 변경하시면 됩니다.encar_logo, kb_logo, aj_logo, mpark_logo -->
                                        <img src="../../img/mobile/view/encar_logo.png" alt="" class="compare-area__logo__img" />
                                    </div>
                                    <div class="compare-area__txtbox">
                                        <p class="compare-area__top clb">
                                            <span class="compare-area__score fl txt-v1">AA+</span>
                                            <span class="compare-area__price fr txt-v1">1,580만원</span>
                                        </p>
                                        <p class="compare-area__bottom">
                                            <span class="fl">
                                                <span class="compare-area__info txt-v1">15,646km</span>
                                                <span class="compare-area__info type-before txt-v1">18년08월식</span>
                                            </span>
                                            <span class="fr compare-area__merit txt-v1">최저가</span>
                                        </p>
                                    </div>
                                </li>
                                <%}%>
							</ul>
							<ul class="compare-area__list tab-index">
								<%for(var i=0; i<5; i++){%>
                                <li class="compare-area__item">
                                    <div class="compare-area__logo">
                                        <!-- 이미지명 변경하시면 됩니다.encar_logo, kb_logo, aj_logo, mpark_logo -->
                                        <img src="../../img/mobile/view/encar_logo.png" alt="" class="compare-area__logo__img" />
                                    </div>
                                    <div class="compare-area__txtbox">
                                        <p class="compare-area__top clb">
                                            <span class="compare-area__score fl txt-v1">AA+</span>
                                            <span class="compare-area__price fr txt-v1">1,580만원</span>
                                        </p>
                                        <p class="compare-area__bottom">
                                            <span class="fl">
                                                <span class="compare-area__info txt-v1">15,646km</span>
                                                <span class="compare-area__info type-before txt-v1">18년08월식</span>
                                            </span>
                                            <span class="fr compare-area__merit txt-v1">최저가</span>
                                        </p>
                                    </div>
                                </li>
                                <%}%>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="changearea view__cont">
				<div class="wrap">
					<h4 class="view__tit tit-v2">가격 변동 내역</h4>
					<div class="price-change">
						<table class="price-change__table">
							<tbody>
								<tr class="price-change__tr">
									<td class="price-change__td type-l">
										<span class="fl price-change__td__name txt-v1">가격변동</span>
										<span class="fr price-change__td__val txt-v1">2건</span>
									</td>
									<td class="price-change__td type-r">
										<span class="fl price-change__td__name txt-v1">최저가</span>
										<span class="fr price-change__td__val txt-v1">2,000만원</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="price-range">
							<div class="price-range__box">
								<div class="price-range__limit">
									<div class="price-range__bar type-grey" style="width:80%; min-width:110px;">
										<span class="price-range__bar__price txt-v1">2,250 만원</span>
									</div>
								</div>
								<p class="price-range__date txt-v1">19.11.01</p>
							</div>
							<div class="price-range__box">
								<div class="price-range__limit">
									<div class="price-range__bar type-blue" style="width:100%;min-width:110px;">
										<span class="price-range__bar__price txt-v1">2,000만원</span>
									</div>
								</div>
								<p class="price-range__date txt-v1">19.12.25</p>
							</div>
						</div>
					</div>
				</section>
				<section class="view-chart view__cont">
					<div class="wrap clb js-tab-relative">
                    	<h4 class="view__tit type-tab tit-v2">차량분포도</h4>
                    	<div class="view-tab fr">
                    	    <span class="view-tab__item is-active txt-v1">품질</span>
                    	    <span class="view-tab__item type-before txt-v1">가성비</span>
                    	    <span class="view-tab__item type-before txt-v1">주행거리</span>
                    	</div>
					</div>
	                    <div class="view-tab__wrap type-chart">
							<div class="wrap tab-index is-active">
								<div class="view-chart">
									<div class="view-chart__wrap ">
										<div class="view-chart__bg">
											<img src="../../img/mobile/view/chart_bg.jpg" alt="" class="view-chart__bg__img"/>
											<!-- y축 구분라벨 -->
											<span class="view-chart__txt type-y type-y1 txt-v1">S</span>
											<span class="view-chart__txt type-y type-y2 txt-v1">A</span>
											<span class="view-chart__txt type-y type-y3 txt-v1">B</span>
											<span class="view-chart__txt type-y type-y4 txt-v1">C</span>
											<span class="view-chart__txt type-y type-y5 txt-v1">D</span>
											<!-- x축 구분라벨 -->
											<span class="view-chart__txt type-x type-x1 txt-v1">1,000만원</span>
											<span class="view-chart__txt type-x type-x2 txt-v1">3,000만원</span>
											<span class="view-chart__txt type-x type-x3 txt-v1">5,000만원</span>
											<!-- 좌표 점 1 -->
											<div class="view-chart__dot thiscar" style="left:50%;bottom:60%;">
											</div>
											<!-- 점클릭시 나오는 정보 1 -->
											<div class="view-chart__info">
												<ul class="view-chart__list">
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">금액</span>
														<span class="view-chart__val fr txt-v1">1,546 만원</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">주행거리</span>
														<span class="view-chart__val fr txt-v1">861,521km</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">연식</span>
														<span class="view-chart__val fr txt-v1">2019년 06월식</span>
													</li>
												</ul>
												<button type="button" class="view-chart__btn txt-v2">자세히 보기</button>
											</div>
											<!-- 좌표 점 2 -->
											<div class="view-chart__dot" style="left:20%;bottom:80%;">
											</div>
											<!-- 점클릭시 나오는 정보 2 -->
											<div class="view-chart__info">
												<ul class="view-chart__list">
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">금액</span>
														<span class="view-chart__val fr txt-v1">1,546 만원</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">주행거리</span>
														<span class="view-chart__val fr txt-v1">861,521km</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">연식</span>
														<span class="view-chart__val fr txt-v1">2019년 06월식</span>
													</li>
												</ul>
												<button type="button" class="view-chart__btn txt-v2">자세히 보기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wrap tab-index">
								<div class="view-chart">
									<div class="view-chart__wrap ">
										<div class="view-chart__bg">
											<img src="../../img/mobile/view/chart_bg.jpg" alt="" class="view-chart__bg__img"/>
											<!-- y축 구분라벨 -->
											<span class="view-chart__txt type-y type-y1 txt-v1">S</span>
											<span class="view-chart__txt type-y type-y2 txt-v1">A</span>
											<span class="view-chart__txt type-y type-y3 txt-v1">B</span>
											<span class="view-chart__txt type-y type-y4 txt-v1">C</span>
											<span class="view-chart__txt type-y type-y5 txt-v1">D</span>
											<!-- x축 구분라벨 -->
											<span class="view-chart__txt type-x type-x1 txt-v1">1,000만원</span>
											<span class="view-chart__txt type-x type-x2 txt-v1">3,000만원</span>
											<span class="view-chart__txt type-x type-x3 txt-v1">5,000만원</span>
											<!-- 좌표 점 1 -->
											<div class="view-chart__dot thiscar" style="left:50%;bottom:60%;">
											</div>
											<!-- 점클릭시 나오는 정보 1 -->
											<div class="view-chart__info">
												<ul class="view-chart__list">
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">금액</span>
														<span class="view-chart__val fr txt-v1">1,546 만원</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">주행거리</span>
														<span class="view-chart__val fr txt-v1">861,521km</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">연식</span>
														<span class="view-chart__val fr txt-v1">2019년 06월식</span>
													</li>
												</ul>
												<button type="button" class="view-chart__btn txt-v2">자세히 보기</button>
											</div>
											<!-- 좌표 점 2 -->
											<div class="view-chart__dot" style="left:80%;bottom:80%;">
											</div>
											<!-- 점클릭시 나오는 정보 2 -->
											<div class="view-chart__info">
												<ul class="view-chart__list">
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">금액</span>
														<span class="view-chart__val fr txt-v1">1,546 만원</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">주행거리</span>
														<span class="view-chart__val fr txt-v1">861,521km</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">연식</span>
														<span class="view-chart__val fr txt-v1">2019년 06월식</span>
													</li>
												</ul>
												<button type="button" class="view-chart__btn txt-v2">자세히 보기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wrap tab-index">
								<div class="view-chart">
									<div class="view-chart__wrap ">
										<div class="view-chart__bg">
											<img src="../../img/mobile/view/chart_bg.jpg" alt="" class="view-chart__bg__img"/>
											<!-- y축 구분라벨 -->
											<span class="view-chart__txt type-y type-y1 txt-v1">S</span>
											<span class="view-chart__txt type-y type-y2 txt-v1">A</span>
											<span class="view-chart__txt type-y type-y3 txt-v1">B</span>
											<span class="view-chart__txt type-y type-y4 txt-v1">C</span>
											<span class="view-chart__txt type-y type-y5 txt-v1">D</span>
											<!-- x축 구분라벨 -->
											<span class="view-chart__txt type-x type-x1 txt-v1">1,000만원</span>
											<span class="view-chart__txt type-x type-x2 txt-v1">3,000만원</span>
											<span class="view-chart__txt type-x type-x3 txt-v1">5,000만원</span>
											<!-- 좌표 점 1 -->
											<div class="view-chart__dot thiscar" style="left:10%;bottom:70%;">
											</div>
											<!-- 점클릭시 나오는 정보 1 -->
											<div class="view-chart__info">
												<ul class="view-chart__list">
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">금액</span>
														<span class="view-chart__val fr txt-v1">1,546 만원</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">주행거리</span>
														<span class="view-chart__val fr txt-v1">861,521km</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">연식</span>
														<span class="view-chart__val fr txt-v1">2019년 06월식</span>
													</li>
												</ul>
												<button type="button" class="view-chart__btn txt-v2">자세히 보기</button>
											</div>
											<!-- 좌표 점 2 -->
											<div class="view-chart__dot" style="left:20%;bottom:80%;">
											</div>
											<!-- 점클릭시 나오는 정보 2 -->
											<div class="view-chart__info">
												<ul class="view-chart__list">
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">금액</span>
														<span class="view-chart__val fr txt-v1">1,546 만원</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">주행거리</span>
														<span class="view-chart__val fr txt-v1">861,521km</span>
													</li>
													<li class="view-chart__item clb">
														<span class="view-chart__name fl txt-v1">연식</span>
														<span class="view-chart__val fr txt-v1">2019년 06월식</span>
													</li>
												</ul>
												<button type="button" class="view-chart__btn txt-v2">자세히 보기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</section>
				<section class="cluster view__cont">
					<div class="wrap">
						<h4 class="view__tit tit-v2">같은 모델 지역정보</h4>
						<div class="cluster__wrap">
							<div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
						</div>
					</div>
				</section>
				<section class="view__cont feed">
					<div class="wrap">
						<h4 class="view__tit tit-v2">도움이 되셨나요?</h4>
						<div class="feed view-cont__box type-a">
							<h5 class="feed__tit txt-v1">피드백하고 기프티콘 받자<i>!</i></h5>
							<p class="feed__sub txt-v2">카포라의 차량분석이 얼마나 도움이 되었는지 평가해 주세요! 평가에 참여하시면 매월 10명을 추첨하여 기프티콘을 발송해 드립니다.</p>
							<form action="" method="post">
								<ul class="clb feed-icon__list">
									<li class="fl feed-icon__item">
										<input type="radio" id="best" name="feed-score" class="feed-icon__radio sr-only" value="5" checked/>
										<label for="best" class="feed-icon__label type-5">최고에요</label>
									</li>
									<li class="fl feed-icon__item">
										<input type="radio" id="good" name="feed-score" class="feed-icon__radio sr-only" value="4"/>
										<label for="good" class="feed-icon__label type-4">도움돼요</label>
									</li>
									<li class="fl feed-icon__item">
										<input type="radio" id="soso" name="feed-score" class="feed-icon__radio sr-only" value="3"/>
										<label for="soso" class="feed-icon__label type-3">평범해요</label>
									</li>
									<li class="fl feed-icon__item">
										<input type="radio" id="notgood" name="feed-score" class="feed-icon__radio sr-only" value="2"/>
										<label for="notgood" class="feed-icon__label type-2">그럭저럭</label>
									</li>
									<li class="fl feed-icon__item">
										<input type="radio" id="bad" name="feed-score" class="feed-icon__radio sr-only" value="1"/>
										<label for="bad" class="feed-icon__label type-1">별로에요</label>
									</li>
								</ul>
								<div class="placeholder-style">
									<p class="placeholder-style__txt feed__writearea txt-v2">평가 이유를 작성해 주세요!<br>자세히 작성할수록 추첨 확률이 올라갑니다.</p>
									<textarea name="name" rows="8" cols="80" class="feed__writearea txt-v2 js-placeholder-style"></textarea>
								</div>
								<input type="submit" value="작성하기" class="button-default type-black type-radius w-100 txt-v1"/>
								<!-- <span class="feed__submit txt-v1" onclick="location.href='../bbs/login.php?url=<?=$urlencode?>';">로그인 후 작성가능합니다.</span> -->
							</form>
						</div>
						<ul class="view-info">
							<li class="view-info__txt txt-v2">카포라 종합 평가는 차량의 정보를 기반으로 평가되므로 실제 차량의 상태와 다를 수 있습니다.</li>
							<li class="view-info__txt txt-v2">차량 구매 시 꼭 실물을 확인하시기 바랍니다.</li>
						</ul>
					</div>
				</section>

			</div>
			<div class="tab-page type-2">
				<section class="view__cont type-scoreslot ">
					<div class="wrap">
						<h4 class="view__tit tit-v2">종합평가</h4>
						<button type="button" class="js-pop-open quality-info__open">
							<img src="../../img/mobile/view/info_icon.png" alt="평가정보 안내" class="quality-info__img"/>
						</button>
						<div class="slot">
							<div class="slot__score">
								<div class="slot__box js-score-box">
								<span class="slot__origin">A</span>
								<div class="slot__text js-slot-text">
								<p class="slot__alpha js-alpha bld" >A</p>
								<% for(i=0; i<4; i++){ %>
								<span class="slot__word">S</span>
								<span class="slot__word">A</span>
								<span class="slot__word">B</span>
								<span class="slot__word">C</span>
								<span class="slot__word">D</span>
								<span class="slot__word">E</span>
								<span class="slot__word">F</span>
								<% } %>
								</div>
								</div>
								<p class="slot__tit txt-v1">품질</p>
							</div>
							<div class="slot__score">
								<div class="slot__box js-score-box">
                                    <span class="slot__origin">S</span>
                                    <div class="slot__text js-slot-text2">
                                        <p class="slot__alpha js-alpha2 bld">S</p>
                                        <% for(i=0; i<4; i++){ %>
                                        <span class="slot__word">S</span>
                                        <span class="slot__word">A</span>
                                        <span class="slot__word">B</span>
                                        <span class="slot__word">C</span>
                                        <span class="slot__word">D</span>
                                        <span class="slot__word">E</span>
                                        <span class="slot__word">F</span>
                                        <% } %>
                                    </div>
                                </div>
								<p class="slot__tit txt-v1">가성비</p>
							</div>
							<div class="slot__score">
								<div class="slot__box js-score-box">
                                    <span class="slot__origin">A</span>
                                    <div class="slot__text js-slot-text3">
                                        <p class="slot__alpha js-alpha3 bld">+</p>
										<% for(i=0; i<7; i++){ %>
                                        <span class="slot__word">+</span>
                                        <span class="slot__word">0</span>
                                        <span class="slot__word">-</span>
                                        <% } %>
                                    </div>
                                </div>
								<p class="slot__tit txt-v1">사고</p>
							</div>
						</div>
						<div class="level-score">
							<div class="level-score">
										<div class="level-score__box">
											<h5 class="level-score__tit txt-v2">품질평가</h5>
											<div class="rank-bar">
												<ul class="rank-bar__list">
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">S</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item is-active">
														<span class="rank-bar__text txt-v1">A</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">B</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">C</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">D</span>
														<span class="rank-bar__bar">bar</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="level-score__box">
											<h5 class="level-score__tit txt-v2">가성비 평가</h5>
											<div class="rank-bar">
												<ul class="rank-bar__list">
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">S</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item is-active">
														<span class="rank-bar__text txt-v1">A</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">B</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">C</span>
														<span class="rank-bar__bar">bar</span>
													</li>
													<li class="rank-bar__item">
														<span class="rank-bar__text txt-v1">D</span>
														<span class="rank-bar__bar">bar</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="level-score__box">
											<h5 class="level-score__tit type-accident txt-v2">사고여부</h5>
											<div class="accident-style">
												<span class="accident-style__span type-plus is-active txt-v1">없음</span>
												<span class="accident-style__span type-minus txt-v1">있음</span>
											</div>
										</div>
									</div>
						</div>
					</div>
				</section>
				<section class="view__cont">
					<div class="wrap">
						<div class="score__box">
							<h4 class="view__tit tit-v2">품질 평가 세부 내역</h4>
							<ul class="score__list">
								<li class="score__item clb">
									<span class="score__name fl txt-v1">주행거리</span>
									<span class="score__val fr txt-v1">A+</span>
								</li>
								<li class="score__item clb">
									<span class="score__name fl txt-v1">수리이력</span>
									<span class="score__val fr txt-v1">D</span>
								</li>
								<li class="score__item clb">
									<span class="score__name fl txt-v1">소유자이전</span>
									<span class="score__val fr txt-v1">A</span>
								</li>
								<li class="score__item clb">
									<span class="score__name fl txt-v1">특수사고</span>
									<span class="score__val fr txt-v1">C-</span>
								</li>
								<li class="score__item clb">
									<span class="score__name fl txt-v1">사고이력</span>
									<span class="score__val fr txt-v1">B+</span>
								</li>
							</ul>
						</div>
						<div class="score__box">
							<h4 class="view__tit tit-v2">가성비 평가 세부 내역</h4>
							<ul class="score__list">
								<li class="score__item clb">
									<span class="score__name fl txt-v1">동일모델</span>
									<span class="score__val fr txt-v1">15건</span>
								</li>
								<li class="score__item clb">
									<span class="score__name fl txt-v1">평균금액</span>
									<span class="score__val fr txt-v1">1,543 만원</span>
								</li>
								<li class="score__item clb">
									<span class="score__name fl txt-v1">A품질 평균금액</span>
									<span class="score__val fr txt-v1">2,050 만원</span>
								</li>
							</ul>
						</div>
						<div class="score-info">
							<p class="score-info__txt txt-v2">카포라 빅데이터 봇을 통해 차량의<br>
							상품가치와 가격의 적정성을 분석합니다.</p>
							<a href="" class="score-info__link txt-v1">카포라 차량 종합평가 더 알아보기</a>
						</div>
					</div>
				</section>
				<section class="reply view__cont">
					<div class="wrap">
						<div class="mycar view-cont__box">
							<div class="mycar-top">
								<span class="mycar-top__txt txt-v2">지금 다른 차주들과 내차를 비교해 보세요!</span>
							</div>
							<div class="mycar-bottom">
								<div class="mycar-bottom__inbox  clb">
									<div class="mycar-bottom__txt txt-v1">내차는<br>지금 괜찮을까?</div>
									<a href="../mycar_main.php" class="button-v1 txt-v1 mycar-bottom__btn">내차어때?</a>
								</div>
							</div>
						</div>
						<div class="replywrap">
							<h4 class="view__tit tit-v2">Q5 2.0 의견</h4>
												    <form action="" id="" method="post" class="reply__form">
								<textarea name="name" rows="8" cols="80" class="reply__writearea txt-v2" placeholder="댓글을 입력해 주세요." required></textarea>
								<button type="submit" class="button-default w-100 type-point txt-v1">작성하기</button>
							</form>
							<div class="reply__inbox">
								<div class="clb">
									<h5 class="reply-list__tit fl txt-v1">댓글 21개</h5>
								</div>
								<ul class="reply-list__box">
									<li class="reply-list__item">
										<p class="reply-list__txt txt-v2">수입/무사고 운행 차량임을 강조하며 차량상태가 아주 우수함</p>
										<p class="reply-list__bottom">
											<span class="reply-list__writer txt-v2">방명희</span><span class="reply-list__date txt-v2">20.01.01</span>
										</p>
									</li>
									<li class="reply-list__item">
										<p class="reply-list__txt txt-v2">수입/무사고 운행 차량임을 강조하며 차량상태가 아주 우수함</p>
										<p class="reply-list__bottom">
											<span class="reply-list__writer txt-v2">방명희</span><span class="reply-list__date txt-v2">20.01.01</span>
										</p>
									</li>
									<li class="reply-list__item">
										<p class="reply-list__txt txt-v2">수입/무사고 운행 차량임을 강조하며 차량상태가 아주 우수함</p>
										<p class="reply-list__bottom">
											<span class="reply-list__writer txt-v2">방명희</span><span class="reply-list__date txt-v2">20.01.01</span>
										</p>
									</li>
								</ul>
								<button type="button" class="reply-list__btn txt-v1">더보기 +</button>
							</div>
						</div>
					</div>
				</section>
				<section class="view__cont type-info">
					<div class="wrap">
						<ul class="view-info">
							<li class="view-info__txt txt-v2">카포라 종합 평가는 차량의 정보를 기반으로 평가되므로 실제 차량의 상태와 다를 수 있습니다.</li>
							<li class="view-info__txt txt-v2">차량 구매 시 꼭 실물을 확인하시기 바랍니다.</li>
						</ul>
					</div>
				</section>
			</div>
    	</div>
	</div>
<!-- //팝업 -->
	<div class="quality-info per-pop">
		<div class="wrap quality-info__wrap">
			<div class="quality-info__box">
				<h4 class="color-black txt-v1 popup__tit">등급별 선정 기준</h4>
				<div class="graph type-popup">
					<div class="graph__wrap clb">
						<p class="graph__info txt-v2 fl">(상위등급)</p>
						<p class="graph__info txt-v2 fr">(하위등급)</p>
					</div>
					<ul class="graph__list">
						<li class="graph__item type-s">
							<div class="graph__bar txt-v1">S</div>
							<div class="graph__txt txt-v2">10%</div>
						</li>
						<li class="graph__item type-a">
							<div class="graph__bar txt-v1">A</div>
							<div class="graph__txt txt-v2">15%</div>
						</li>
						<li class="graph__item type-b">
							<div class="graph__bar txt-v1">B</div>
							<div class="graph__txt txt-v2">50%</div>
						</li>
						<li class="graph__item type-c">
							<div class="graph__bar txt-v1">C</div>
							<div class="graph__txt txt-v2">15%</div>
						</li>
						<li class="graph__item type-d">
							<div class="graph__bar txt-v1">D</div>
							<div class="graph__txt txt-v2">10%</div>
						</li>
					</ul>
					<div class="graph-info">
						<ul class="graph-info__list">
							<li class="graph-info__item txt-v2 type-s">S등급</li>
							<li class="graph-info__item txt-v2 type-a">A등급</li>
							<li class="graph-info__item txt-v2 type-b">B등급</li>
							<li class="graph-info__item txt-v2 type-c">C등급</li>
							<li class="graph-info__item txt-v2 type-d">D등급</li>
						</ul>
					</div>
				</div>
				<div class="pop-info">
					<ul class="pop-info__list">
						<li class="pop-info__item bullet-square txt-v2">국내 주요 사이트의 매물을 통합으로 비교분석하여 순위와 점수를 부여합니다.</li>
						<li class="pop-info__item bullet-square txt-v2">AI기술을 통한 각 항목별 평가 가중치를 두어 품질평가에 반영합니다.</li>
						<li class="pop-info__item bullet-square txt-v2">종합평가를 통하여 제시된 등급별 분포 비율은 매일마다 정기적으로 업데이트 됩니다.</li>
					</ul>
				</div>
			</div>
			<button type="button" class="button-default type-black txt-v1 w-100 js-pop-close">확인</button>
			<button type="button" class="js-pop-close bg-close quality-info__close">닫기</button>
		</div>
	</div>
<% include ../_include/_footer %>
