<%
	page_type = "search"
	page = "main"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container">
	<div class="wrap">
		<div class="header-search">
			<form class="header-search__form" name="inputSearch" id="inputSearch" action="">
				<label class="sr-only" for="inputSearch">통합검색</label>
				<button class="header-search__btn">검색</button>
				<input type="text" class="header-search__input js-total-search txt-v1" id="inputSearch" name="inputSearch" placeholder="검색어를 입력하세요">
				<button class="header-search__link js-search-open">검색하러가기</button>
			</form>
			<!-- <a href="" class="result-search__del" style="display: inline;">닫기</a> -->
		</div>
		<!-- 가격우선-->
		<!-- <div class="search-banner type-price">
			<div class="search-banner__vertical">
				<h3 class="search-banner__tit tit-v2">합리적인 <strong class="search-banner__point">가격 우선 차량</strong></h3>
				<p class="search-banner__txt txt-v2">매일 착한 가격으로 찾아오는 가격우선 차량<i>!</i> <span class="inline-block">국내 주요 사이트에서 추천하는 가격우선 차량입니다.</span></p>
			</div>
		</div> -->
		<!-- 품질우선-->
		<!-- <div class="search-banner type-quality">
			<div class="search-banner__vertical">
				<h3 class="search-banner__tit tit-v2">베스트  <strong class="search-banner__point">품질 우선 차량</strong></h3>
				<p class="search-banner__txt txt-v2">중고차 가격과 품질을 함께 고려한 베스트 우수차량<i>!</i> <span class="inline-block">지금 가장 핫한 차량을 확인하세요.</span></p>
			</div>
		</div> -->
		<div class="hash">
			<ul class="hash__list">
				<li class="hash__item"><a href="" class="hash__link  txt-v2">장거리출퇴근</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">기아</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">직장인</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">장거리출퇴근</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">기아</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">직장인</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">장거리출퇴근</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">기아</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">직장인</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">장거리출퇴근</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">기아</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">직장인</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">장거리출퇴근</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">기아</a></li>
				<li class="hash__item"><a href="" class="hash__link  txt-v2">직장인</a></li>
			</ul>
		</div>
		<div class="search-header clb">
			<div class="search-header__box fl">
				<a href="" class="search-header__btn js-category-open">
					<span class="search-header__category txt-v1">전체</span>
					<span class="search-header__num txt-v1">4,514</span>
				</a>
			</div>
			<div class="search-header__box fr">
				<ul class="search-header__list">
					<li class="search-header__item">
						<a href="" class="search-header__btn js-align-open txt-v2">최근등록순</a>
					</li>
					<li class="search-header__item">
						<a href="" class="search-header__btn type-no-arrow txt-v2 js-more-open">태그추가</a>
					</li>
					<li class="search-header__item">
						<a href="" class="search-header__btn type-icon txt-v2 js-tag-open">menu</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="product">
		<ul class="product__list">
			<li class="product__item">
				<img src="../../img/mobile/search/product_skeleton.jpg" alt="" class="img-w100"/>
			</li>
			<li class="product__item">
				<div class="product__wrap">
					<div class="product__box type-img">
						<div class="product__relative">
							<div class="product__img">
								<img src="http://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
							</div>
						</div>
					</div>
					<div class="product__box type-txt">
						<div class="product__outer">
							<div class="product__inner">
								<h3 class="product__name txt-v1 ellipsis2">
									BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
								</h3>
								<p class="product__txt txt-v1">
									<span class="product__rank">SA+</span>
									<span class="product__price">1,960<span class="ft-300">만원</span></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<p class="product__txt">
					<span class="product__info info-style txt-v2">19러9780</span>
					<span class="product__info info-style txt-v2">10년04월</span>
					<span class="product__info info-style txt-v2">197,458km</span>
				</p>
				<p class="product__txt">
					<span class="product__mark mark-style txt-v2 type-eye">113</span>
					<span class="product__mark mark-style txt-v2 type-top">상위 10%</span>
				</p>
				<img src="../../img/mobile/common/brand_kb.png" class="product__brand"alt="kb차차차"/>
				<!-- <img src="../../img/mobile/common/brand_mpark.png" class="product__brand"alt="mpark"/> -->
				<!-- <img src="../../img/mobile/common/brand_sk.png" class="product__brand"alt="sk엔카"/> -->
				<!-- <img src="../../img/mobile/common/brand_aj.png" class="product__brand"alt="aj셀카"/> -->
				<a href="" class="product__link">자세히보기</a>
			</li>
			<li class="product__item">
				<div class="product__wrap">
					<div class="product__box type-img">
						<div class="product__relative">
							<div class="product__img">
								<img src="http://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
							</div>
						</div>
					</div>
					<div class="product__box type-txt">
						<div class="product__outer">
							<div class="product__inner">
								<h3 class="product__name txt-v1 ellipsis2">
									BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
								</h3>
								<p class="product__txt txt-v1">
									<span class="product__rank">SA+</span>
									<span class="product__price">1,960<span class="ft-300">만원</span></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<p class="product__txt">
					<span class="product__info info-style txt-v2">19러9780</span>
					<span class="product__info info-style txt-v2">10년04월</span>
					<span class="product__info info-style txt-v2">197,458km</span>
				</p>
				<p class="product__txt">
					<span class="product__mark mark-style txt-v2 type-eye">113</span>
					<span class="product__mark mark-style txt-v2 type-top">상위 10%</span>
				</p>
				<img src="../../img/mobile/common/brand_aj.png" class="product__brand"alt="aj셀카"/>
				<a href="" class="product__link">자세히보기</a>
			</li>
		</ul>
		<div class="wrap">
			<a href="" class="product__btn button-default txt-v1">
				<span class="button-default__wrap type-plus">
					검색결과 더 보기<span class="plus type-middle"><span class="plus__wrap">plus</span></span>
				</span>
			</a>
		</div>
	</div>
	<% include ../_include/_align_select %>
	<div class="bottom-select type-category">
		<form action="">
			<div class="bottom-select__wrap">
				<ul class="bottom-select__list">
					<li class="bottom-select__item txt-v1">
						<input type="radio" name="platform" id="category1" value="전체" class="radio-v1 type-b-select" checked>
						<label for="category1">전체</label>
						<span class="bottom-select__num">4,514</span>
					</li>
					<li class="bottom-select__item txt-v1">
						<input type="radio" name="platform" id="category2" value="SK엔카" class="radio-v1 type-b-select">
						<label for="category2">SK엔카</label>
						<span class="bottom-select__num">4,514</span>
					</li>
					<li class="bottom-select__item txt-v1">
						<input type="radio" name="platform" id="category3" value="KB차차차" class="radio-v1 type-b-select">
						<label for="category3">KB차차차</label>
						<span class="bottom-select__num">4,514</span>
					</li>
					<li class="bottom-select__item txt-v1">
						<input type="radio" name="platform" id="category4" value="AJ셀카" class="radio-v1 type-b-select">
						<label for="category4">AJ셀카</label>
						<span class="bottom-select__num">4,514</span>
					</li>
					<li class="bottom-select__item txt-v1">
						<input type="radio" name="category" id="category5" value="엠파크" class="radio-v1 type-b-select">
						<label for="category5">엠파크</label>
						<span class="bottom-select__num">4,514</span>
					</li>
				</ul>
				<button type="submit" class="bottom-select__btn txt-v2 btn-v5 js-category-input">확인</button>
			</div>
		</form>
	</div>
	<div class="search-menu">
		<div class="search-menu__scroll">
			<form action="../search.php" method="post">
				<div class="search-menu__top">
					<button class="search-menu__back">뒤로가기</button>
					<h3 class="search-menu__tit txt-v1">상세검색 <span class="color-point1">#Tag</span></h3>
					<button type="reset" class="search-menu__reset">초기화</button>
				</div>
				<div class="hash  type-margin-zero">
					<div class="wrap">
						<ul class="hash__list">
							<li class="hash__item"><a href="" class="hash__link  txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link  txt-v2">기아</a></li>
						</ul>
					</div>
				</div>
				<div class="search-menu__box">
					<ul class="search-menu__list">
						<li class="search-menu__item">
							<div class="search-menu__header txt-v2">
								<div class="search-menu__subject">제조사/모델</div>
								<a href="" class="search-menu__link" data-page="model">상세보기</a>
							</div>
						</li>
						<li class="search-menu__item">
							<div class="search-menu__header txt-v2">
								연식
							</div>
							<div class="search-menu__body">
								<div class="period-style1">
									<dl class="period-style1__dl">
										<dt class="period-style1__dt txt-v2">최소</dt>
										<dd class="period-style1__dd">
											<div class="period-style1__box">
												<select name="year_year" class="select-v1" id="year_year" required="">
													<option value="">년</option>
													<% for(var i = 1989; i<=2021; i++){%>
														<option value="<%=i%>"><%=i%></option>
													<% } %>
												</select>
											</div>
											<div class="period-style1__box">
												<select name="year_year" class="select-v1" id="year_year" required="">
													<option value="">월</option>
													<% for(var i = 1; i<=12; i++){%>
														<option value="<%=i%>"><%=i%></option>
													<% } %>
												</select>
											</div>
										</dd>
									</dl>
									<dl class="period-style1__dl">
										<dt class="period-style1__dt txt-v2">최대</dt>
										<dd class="period-style1__dd">
											<div class="period-style1__box">
												<select name="year_year" class="select-v1" id="year_year" required="">
													<option value="">년</option>
													<% for(var i = 1989; i<=2021; i++){%>
														<option value="<%=i%>"><%=i%></option>
													<% } %>
												</select>
											</div>
											<div class="period-style1__box">
												<select name="year_year" class="select-v1" id="year_year" required="">
													<option value="">월</option>
													<% for(var i = 1; i<=12; i++){%>
														<option value="<%=i%>"><%=i%></option>
													<% } %>
												</select>
											</div>
										</dd>
									</dl>
								</div>
							</div>
						</li>
						<li class="search-menu__item">
							<div class="search-menu__header txt-v2">
								주행거리
							</div>
							<div class="search-menu__body">
								<div class="period-style2">
									<div class="period-style2__slider" id="drive-slider">

									</div>
									<ul class="period-style2__list">
										<li class="period-style2__item">
											<select name="year_year" class="select-v1" id="drive-select1" required="">
												<option value="">선택</option>
											</select>
										</li>
										<li class="period-style2__item">
											<select name="year_year" class="select-v1" id="drive-select2" required="">
												<option value="">선택</option>
											</select>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="search-menu__item">
							<div class="search-menu__header txt-v2">
								가격 <button class="search-menu__directly txt-v3 js-directly">직접입력</button>
							</div>
							<div class="search-menu__body">
								<div class="period-style2">
									<div class="period-style2__slider" id="price-slider">

									</div>
									<ul class="period-style2__list">
										<li class="period-style2__item">
											<select name="year_year" class="period-style2__select select-v1" id="price-select1" required="">
												<option value="-100">선택</option>
											</select>
											<div class="period-style2__box">
												<input class="input-v1 type-unit" type="number"/>
												<p class="period-style2__unit">만원</p>
											</div>
										</li>
										<li class="period-style2__item">
											<select name="year_year" class="period-style2__select select-v1" id="price-select2" required="">
												<option value="10100">선택</option>
											</select>
											<div class="period-style2__box">
												<input class="input-v1 type-unit" type="number"/>
												<p class="period-style2__unit">만원</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="search-menu__item">
							<div class="search-menu__header txt-v2">
								<div class="search-menu__subject">지역</div>
								<a href="" class="search-menu__link" data-page="area">상세보기</a>
							</div>
						</li>
						<li class="search-menu__item">
							<div class="search-menu__header txt-v2">
								<div class="search-menu__subject">색상</div>
								<a href="" class="search-menu__link" data-page="color">상세보기</a>
							</div>
						</li>
						<li class="search-menu__item">
							<div class="search-menu__header txt-v2">
								<div class="search-menu__subject">연료</div>
								<a href="" class="search-menu__link" data-page="area">상세보기</a>
							</div>
						</li>
					</ul>
					<div class="tag type-model">
						<ul class="tag__outer-list">
							<li class="tag__outer-item js-2depth-open">
								<input type="checkbox" name="model" id="model1"  class="tag__checkbox">
								<label for="model1">
									<div class="tag__outer-wrap">
										<span class="tag__name txt-v1">기아</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
								<ul class="tag__inner-list">
									<li class="tag__inner-item">
										<input type="checkbox" name="model" id="model2"  class="tag__checkbox">
										<label for="model2">
											<div class="tag__inner-wrap">
												<span class="tag__name txt-v1">K3</span>
												<span class="tag__number txt-v1">494</span>
											</div>
										</label>
									</li>
								</ul>
							</li>
							<% for(var i = 3; i<=5; i++){%>
								<li class="tag__outer-item js-2depth-open">
									<input type="checkbox" name="model" id="model<%=i%>"  class="tag__checkbox">
									<label for="model<%=i%>">
										<div class="tag__outer-wrap">
											<span class="tag__name txt-v1">기아</span>
											<span class="tag__number txt-v1">8,864</span>
										</div>
									</label>
								</li>
							<% } %>
							<li class="tag__outer-item js-2depth-open">
								<div class="tag__outer-wrap txt-v1">
									20개 더보기
									<a href="" class="tag__link" data-page="area">상세보기</a>
								<div>
							</li>
						</ul>
					</div>
					<div class="tag type-color">
						<ul class="tag__outer-list">
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color1"  class="tag__checkbox">
								<label for="color1">
									<div class="tag__outer-wrap">
										<span class="tag__name color-1 txt-v1">흰색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color2"  class="tag__checkbox">
								<label for="color2">
									<div class="tag__outer-wrap">
										<span class="tag__name color-2 txt-v1">검정색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color3"  class="tag__checkbox">
								<label for="color3">
									<div class="tag__outer-wrap">
										<span class="tag__name color-3 txt-v1">진주색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color4"  class="tag__checkbox">
								<label for="color4">
									<div class="tag__outer-wrap">
										<span class="tag__name color-4 txt-v1">쥐색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color5"  class="tag__checkbox">
								<label for="color5">
									<div class="tag__outer-wrap">
										<span class="tag__name color-5 txt-v1">청색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color6"  class="tag__checkbox">
								<label for="color6">
									<div class="tag__outer-wrap">
										<span class="tag__name color-6 txt-v1">은색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color7"  class="tag__checkbox">
								<label for="color7">
									<div class="tag__outer-wrap">
										<span class="tag__name color-7 txt-v1">빨간색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color8"  class="tag__checkbox">
								<label for="color8">
									<div class="tag__outer-wrap">
										<span class="tag__name color-8 txt-v1">하늘색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color9"  class="tag__checkbox">
								<label for="color9">
									<div class="tag__outer-wrap">
										<span class="tag__name color-9 txt-v1">연금색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color10"  class="tag__checkbox">
								<label for="color10">
									<div class="tag__outer-wrap">
										<span class="tag__name color-10 txt-v1">노란색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color11"  class="tag__checkbox">
								<label for="color11">
									<div class="tag__outer-wrap">
										<span class="tag__name color-11 txt-v1">자주색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color12"  class="tag__checkbox">
								<label for="color12">
									<div class="tag__outer-wrap">
										<span class="tag__name color-12 txt-v1">갈색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color13"  class="tag__checkbox">
								<label for="color13">
									<div class="tag__outer-wrap">
										<span class="tag__name color-13 txt-v1">갈대색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color14"  class="tag__checkbox">
								<label for="color14">
									<div class="tag__outer-wrap">
										<span class="tag__name color-14 txt-v1">진주투톤</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color15"  class="tag__checkbox">
								<label for="color15">
									<div class="tag__outer-wrap">
										<span class="tag__name color-15 txt-v1">담녹색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color16"  class="tag__checkbox">
								<label for="color16">
									<div class="tag__outer-wrap">
										<span class="tag__name color-16 txt-v1">은회색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color17"  class="tag__checkbox">
								<label for="color17">
									<div class="tag__outer-wrap">
										<span class="tag__name color-17 txt-v1">기타</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color18"  class="tag__checkbox">
								<label for="color18">
									<div class="tag__outer-wrap">
										<span class="tag__name color-18 txt-v1">연두색</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
							<li class="tag__outer-item">
								<input type="checkbox" name="color" id="color19"  class="tag__checkbox">
								<label for="color19">
									<div class="tag__outer-wrap">
										<span class="tag__name color-19 txt-v1">갈색투톤</span>
										<span class="tag__number txt-v1">8,864</span>
									</div>
								</label>
							</li>
						</ul>
					</div>
					<div class="tag type-area">
						<ul class="tag__outer-list">
							<% for(var i = 1; i<=5; i++){%>
								<li class="tag__outer-item">
									<input type="checkbox" name="area" id="area<%=i%>"  class="tag__checkbox">
									<label for="area<%=i%>">
										<div class="tag__outer-wrap">
											<span class="tag__name txt-v1">기아</span>
											<span class="tag__number txt-v1">8,864</span>
										</div>
									</label>
								</li>
							<% } %>
						</ul>
					</div>
					<div class="tag type-fuel">
						<ul class="tag__outer-list">
							<% for(var i = 1; i<=5; i++){%>
								<li class="tag__outer-item">
									<input type="checkbox" name="fuel" id="fuel<%=i%>"  class="tag__checkbox">
									<label for="fuel<%=i%>">
										<div class="tag__outer-wrap">
											<span class="tag__name txt-v1">기아</span>
											<span class="tag__number txt-v1">8,864</span>
										</div>
									</label>
								</li>
							<% } %>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="bottom-search">
		<button class="button-default w-100 type-radius type-black txt-v1 js-tag-close type-apply" type="submit">검색</button>
		<button class="button-default w-100 type-radius type-black txt-v1 js-tag-confirm type-confirm">확인</button>
	</div>
	<% include ../_search/_inner_search %>
	<% include ../_search/_more_search %>
</div>
<!-- //container-->
<% include ../_include/_footer %>
