<%
	page_type = "mypage"
	page = "main"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container">
	<div class="mypage">
		<% include ../_include/_mypage_header %>
		<div class="mypage-body">
			<div class="tab-v2">
				<ul class="tab-v2__list">
					<li class="tab-v2__item is-active"><a href="myview.html" class="tab-v2__link txt-v1">최근본차량 <span class="tab-v2__num">23</span></a></li>
					<li class="tab-v2__item"><a href="wishlist.html" class="tab-v2__link txt-v1">관심차량</a></li>
				</ul>
				<div class="remove-box">
					<input type="checkbox" name="mypageChkAll" id="mypageChkAll" class="checkbox-v2"><label for="mypageChkAll">전체선택</label>
					<div class="remove-box__right">
						<a href="" class="remove-box__link js-align-open txt-v2">최근등록순</a>
						<button class="button-v2 is-disabled remove-box__btn js-mypage-remove">선택차량 삭제</button>
					</div>
				</div>
			</div>
			<div class="tab-v2__content">
				<div class="product type-margin-zero">
					<ul class="product__list">
						<li class="product__item no-message bld">
							<div class="notice">
								<h4 class="notice__tit txt-v1">최근 본 차량이 없습니다.</h4>
								<p class="notice__txt txt-v2">
									최근 본 차량을 계속 보관하려면<br> 로그인 후 관심차량에 담아 주세요.
								</p>
							</div>
						</li>
						<li class="product__item">
							<img src="../../img/mobile/search/product_skeleton.jpg" alt="" class="img-w100"/>
						</li>
						<li class="product__item">
							<div class="product__wrap">
								<div class="product__box type-img">
									<div class="product__relative">
										<div class="product__img">
											<div class="remove-check">
												<input type="checkbox" name="mypageChk" id="mypageChk1" class="checkbox-only js-mypage-check"><label for="mypageChk1">선택</label>
											</div>
											<img src="../../img/mobile/search/product_img.jpg" class="img-w100" alt="">
										</div>
									</div>
								</div>
								<div class="product__box type-txt">
									<div class="product__outer">
										<div class="product__inner">
											<h3 class="product__name txt-v1 ellipsis2">
												BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
											</h3>
											<p class="product__txt txt-v1">
												<span class="product__rank">SA+</span>
												<span class="product__price">1,960<span class="ft-300">만원</span></span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<p class="product__txt">
								<span class="product__info info-style txt-v2">19러9780</span>
								<span class="product__info info-style txt-v2">10년04월</span>
								<span class="product__info info-style txt-v2">197,458km</span>
							</p>
							<p class="product__txt">
								<span class="product__mark mark-style txt-v2 type-eye">113</span>
								<span class="product__mark mark-style txt-v2 type-top">상위 10%</span>
							</p>
							<img src="../../img/mobile/common/brand_kb.png" class="product__brand"alt="kb차차차"/>
							<!-- <img src="../../img/mobile/common/brand_mpark.png" class="product__brand"alt="mpark"/> -->
							<!-- <img src="../../img/mobile/common/brand_sk.png" class="product__brand"alt="sk엔카"/> -->
							<!-- <img src="../../img/mobile/common/brand_aj.png" class="product__brand"alt="aj셀카"/> -->
							<a href="" class="product__link">자세히보기</a>
						</li>

						<% for(var i = 2; i<=10; i++){%>
							<li class="product__item">
								<div class="product__wrap">
									<div class="product__box type-img">
										<div class="product__relative">
											<div class="product__img">
												<div class="remove-check">
													<input type="checkbox" name="mypageChk" id="mypageChk<%=i%>" class="checkbox-only js-mypage-check"><label for="mypageChk<%=i%>">선택</label>
												</div>
												<img src="../../img/mobile/search/product_img.jpg" class="img-w100" alt="">
											</div>
										</div>
									</div>
									<div class="product__box type-txt">
										<div class="product__outer">
											<div class="product__inner">
												<h3 class="product__name txt-v1 ellipsis2">
													BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
												</h3>
												<p class="product__txt txt-v1">
													<span class="product__rank">SA+</span>
													<span class="product__price">1,960<span class="ft-300">만원</span></span>
												</p>
											</div>
										</div>
									</div>
								</div>
								<p class="product__txt">
									<span class="product__info info-style txt-v2">19러9780</span>
									<span class="product__info info-style txt-v2">10년04월</span>
									<span class="product__info info-style txt-v2">197,458km</span>
								</p>
								<p class="product__txt">
									<span class="product__mark mark-style txt-v2 type-eye">113</span>
									<span class="product__mark mark-style txt-v2 type-top">상위 10%</span>
								</p>
								<img src="../../img/mobile/common/brand_aj.png" class="product__brand"alt="aj셀카"/>
								<a href="" class="product__link">자세히보기</a>
							</li>
						<%}%>
					</ul>
					<div class="wrap">
						<a href="" class="product__btn button-default txt-v1">
							<span class="button-default__wrap type-plus">
								검색결과 더 보기<span class="plus type-middle"><span class="plus__wrap">plus</span></span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<% include ../_include/_align_select %>
</div>
<!-- //container-->
<% include ../_include/_footer %>
