@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
.theme-header{position:relative; width:100%; margin-top:-60px; padding-bottom:118.05%;
    &.type-theme-1{background:url('../../img/mobile/theme/theme_1.jpg') no-repeat center center / cover;}
    &__wrap{position:absolute; bottom:12.9%; left:0; color:#fff;}
    &__tit{font-size:3rem; font-weight:$bold; line-height:1.3;}
    &__txt{margin:30px 0 0;}
    &__txt2{margin:16px 0 0; opacity:0.5;}
}
