<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg">
    <div class="wrap">
        <h3 class="register__tit tit-v3">비밀번호 변경</h3>
        <div class="register-2 register__box">
            <form action="../../html/register/done_change_pw.html" id="register_form" method="get" class="registerform">
                <ul class="registerform__list">
                	<li class="registerform__item">
                	    <label htmlFor="register__name" class="register__label txt-v2">아이디</label>
                	    <input type="email" id="register__name" class="input-v2 js-r-input type-clear txt-v1" placeholder="" autocomplete="off" name="" value="muggle-kim@naver.com" readonly>
                	</li>
                	<li class="registerform__item">
                	    <label for="register__pw" class="register__label txt-v2">새로운 비밀번호</label>
                	    <input type="password" id="register__pw" class="input-v2 type-tworow js-r-input txt-v1" placeholder="8자리 이상의 영문,숫자,특수문자 조합으로 입력" autocomplete="off" name="">
                	    <!-- 비밀번호 형식 오류시 -->
                	    <!-- <p class="register__errorinfo txt-v3">비밀번호 형식이 올바르지 않습니다.</p> -->
                	    <input type="password" id="register__pw2" class="input-v2 type-tworow js-r-input txt-v1" placeholder="비밀번호 재입력" autocomplete="off" name="">
                	    <!-- 비밀번호 일치하지 않을때 오류시 -->
                	    <!-- <p class="register__errorinfo txt-v3">비밀번호가 일치하지 않습니다.</p> -->
                	</li>
                </ul>
				<button type="submit" class="register__submit js-register-submit button-default w-100 type-radius txt-v1 type-black" disabled>비밀번호 변경 완료</button>
            </form>
        </div>
    </div>
</div>




<% include ../_include/_footer %>
