<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg">
        <div class="wrap">
            <h3 class="bld">비밀번호 변경 결과 페이지</h3>
            <div class="register-result">
                <img src="../../img/mobile/login/result_check_bg.png" alt="" class="register-r__img"/>
                <p class="register-r__tit type-result tit-v1">비밀번호 변경 완료!</p>
                <p class="register-r__txt type-top txt-v1">김선미 회원님의 비밀번호가<br> 새롭게 설정되었습니다.</p>
                <p class="register-r__txt txt-v1">다시 카포라에 로그인하여<br>다양한 서비스를 경험해 보세요.</p>
        		<div class="register-r__btnwrap clb">
                    <div class="register-r__btninbox">
						<a href="../../html/main/main.html" class="button-default type-radius w-100 txt-v1 color-black">홈으로 가기</a>
                    </div>
                    <div class="register-r__btninbox">
						<a href="../../html/login/login.html" class="button-default type-radius w-100 txt-v1 type-point">로그인 하러 가기</a>
                    </div>
                </div>

            </div>
        </div>
</div>




<% include ../_include/_footer %>
