<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg">
        <div class="wrap">
            <h3 class="bld">아이디 찾기 결과 페이지</h3>
        </div>
                <div class="register-result">
                    <div class="wrap">
                        <img src="../../img/mobile/login/result_check_bg.png" alt="" class="register-r__img"/>
                        <p class="register-r__tit type-result tit-v1">아이디 찾기 성공!</p>
                        <p class="register-r__txt txt-v1">김선미 회원님의 아이디로 등록된<br>이메일 주소는<br><span class="register-r__txt__point">muggle-kim@naver.com</span> 입니다.</p>

							<div class="register-r__btnwrap clb">
                                <div class="register-r__btninbox">
                                    <a href="../../html/login/login.html" type="button" class="button-default type-radius w-100 txt-v1 color-black">로그인 하러 가기</a>
                                </div>
                                <div class="register-r__btninbox">
                                    <a href="../../html/register/find_pw.html" type="button" class="button-default type-radius w-100 txt-v1 type-point">비밀번호 찾기</a>
                                </div>
                            </div>


                        </div>
                </div>
</div>




<% include ../_include/_footer %>
