<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg type-result">
        <div class="wrap">
            <h3 class="bld">비밀번호 찾기 결과 페이지</h3>
            <div class="register-result">
                <img src="../../img/mobile/login/result_check_bg.png" alt="" class="register-r__img"/>
                <p class="register-r__tit type-result tit-v1">이메일 발송 완료!</p>
                <p class="register-r__txt txt-v1">비밀번호 재설정을 위한 이메일이<br> 회원님의 이메일 주소<br><span class="register-r__txt__point">muggle-kim@naver.com</span><br>으로 발송되었습니다.</p>
        		<div class="register-r__btnwrap clb">
                    <div class="register-r__btninbox">
						<a href="../../html/main/main.html" class="button-default type-radius w-100 txt-v1 color-black">홈으로 가기</a>
                    </div>
                    <div class="register-r__btninbox">
						<a href="../../html/login/login.html" class="button-default type-radius w-100 txt-v1 type-point">로그인 하러 가기</a>
                    </div>
                </div>
                <div class="register-r__txtbox">
                    <p class="register-r__txt__sub txt-v2">받으신 이메일을 확인하시고 안내에 따라<br>비밀번호를 재설정하세요.</p>
                    <p class="register-r__txt__sub txt-v2">만약 메일을 받지 못하셨다면,<br> 스팸 메일함도 확인해 주세요.</p>
                </div>
            </div>
        </div>
</div>




<% include ../_include/_footer %>
