<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg">
        <div class="wrap">
            <h3 class="register__tit tit-v3">아이디(이메일) 찾기</h3>
                <div class="register-2 register__box">
                    <form action="../done_id.php" id="register_form" method="get" class="registerform">
                            <ul class="registerform__list">
                            	<li class="registerform__item">
                            	    <label htmlFor="register__name" class="register__label txt-v2">이름</label>
                            	    <input type="text" id="register__name" class="input-v2 js-r-input txt-v1" placeholder="한글 2자이상 입력" autocomplete="off" name="">
                            	</li>
                            	<li class="registerform__item">
                            	    <label htmlFor="" class="register__label txt-v2">생년월일</label>
									<div class="register__innerbox type-birth">
                            	        <div class="register__inputwrap type-3">
                            	            <input type="text" id="register__birth" class="input-v2 type-center js-r-input type-num txt-v1" placeholder="******" autocomplete="off"  name="" maxlength="6">
                            	        </div>
                            	        <div class="register__inputwrap type-3 type-before type-birth">
                        	            	<select id="register__birth" class="select-v1 type-d3 js-r-input txt-v1" name="" >
                        	            	    <option value="1">1</option>
                        	            	    <option value="2">2</option>
                        	            	    <option value="3">3</option>
                        	            	    <option value="4">4</option>
                        	            	</select>
                            	        </div>
                            	    </div>
									<!-- 형식 오류시 -->
                            	    <!-- <p class="register__errorinfo txt-v3">생년월일이 올바르지 않습니다.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label htmlFor="" class="register__label txt-v2">연락처</label>
                            	    <div class="register__innerbox">
                            	        <div class="register__inputwrap type-3 ">
                            	            <select id="register__phone1" class="select-v1 type-d3 js-r-input txt-v1" name="" >
                            	                <option value="010">010</option>
                            	                <option value="011">011</option>
                            	                <option value="019">019</option>
                            	            </select>
                            	        </div>
                            	        <div class="register__inputwrap type-3 type-before">
                            	            <input type="text" id="register__phone2" class="input-v2 type-center js-r-input type-num txt-v1" placeholder="****" autocomplete="off" maxlength="4"  name="">
                            	        </div>
                            	        <div class="register__inputwrap type-3 type-before">
                            	            <input type="text" id="register__phone3" class="input-v2 type-center js-r-input type-num txt-v1" placeholder="****" autocomplete="off" maxlength="4"  name="">
                            	        </div>
                            	    </div>
									<!-- 형식 오류시 -->
                            	    <!-- <p class="register__errorinfo txt-v3">휴대폰번호가 올바르지 않습니다.</p> -->
                            	</li>
                            </ul>
							<button type="submit" class="register__submit js-register-submit button-default w-100 type-radius txt-v1 type-black" disabled>다음</button>
                        </form>
                </div>
        </div>
</div>




<% include ../_include/_footer %>
