<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg">
        <div class="wrap">
            <h3 class="register__tit tit-v3">비밀번호 찾기</h3>
            <div class="register-2 register__box">
                <form action="../../html/register/done_pw.html" id="register_form" method="get" class="registerform">
                    <ul class="registerform__list">
                    	<li class="registerform__item">
                    	    <label htmlFor="register__name" class="register__label txt-v2">아이디</label>
                    	    <input type="email" id="register__name" class="input-v2 js-r-input txt-v1" placeholder="카포라 아이디로 등록된 이메일을 입력하세요" autocomplete="off" name="">
							<!-- 형식 오류시 -->
							<!-- <p class="register__errorinfo txt-v3">아이디 형식이 올바르지 않습니다. 이메일 형식으로 입력해주세요 </p> -->
                    	</li>
                    	<li class="registerform__item">
                    	    <label htmlFor="register__name" class="register__label txt-v2">자동등록방지 숫자 입력</label>
                    	    <input type="text" id="register__name" class="input-v2 js-r-input type-num txt-v1" placeholder="자동등록 방지 숫자를 입력하세요" autocomplete="off" name="">
							<!-- 형식 오류시 -->
							<!-- <p class="register__errorinfo txt-v3">번호를 확인후 재입력해 주세요.</p> -->
                    	</li>
                    </ul>
					<button type="submit" class="register__submit js-register-submit button-default w-100 type-radius txt-v1 type-black" disabled>비밀번호 변경 링크받기</button>
                </form>
            </div>
        </div>
</div>




<% include ../_include/_footer %>
