<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg type-register">
        <div class="wrap">
            <h3 class="register__tit tit-v3">휴대폰 인증</h3>
                <div class="register-2 register__box">
                    <form action="../../html/register/register_3.html" id="register_form2" method="get" class="registerform2">
                            <ul class="registerform__list">
                            	<li class="registerform__item">
                            	    <label htmlFor="register__name" class="register__label txt-v2">이름</label>
                            	    <input type="text" id="register__name" class="input-v2 type-txt txt-v1 js-r-input2 js-error-check" placeholder="한글 2자이상 입력" autocomplete="off" name="">
                            		<!-- 이름 형식 오류시 -->
                            	    <!-- <p class="register__errorinfo txt-v3">이름 형식이 올바르지 않습니다.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label htmlFor="" class="register__label txt-v2">생년월일</label>
                            	    <div class="register__innerbox type-birth">
                            	        <div class="register__inputwrap type-3">
                            	            <input type="text" id="register__birth" class="input-v2 js-r-input2 type-center type-txt type-num txt-v1 js-error-check" placeholder="******" autocomplete="off"  name="" maxlength="6">
                            	        </div>
                            	        <div class="register__inputwrap type-3 type-before type-birth">
                        	            	<div class="js-select">
                        	            		<select id="register__birth" class="select-v1 type-d3 js-r-input2 type-birth type-select  txt-v1" name="" >
                        	            		    <option value="1">1</option>
                        	            		    <option value="2">2</option>
                        	            		    <option value="3">3</option>
                        	            		    <option value="4">4</option>
                        	            		</select>
                        	            	</div>
                            	        </div>
                            	    </div>
									<!-- 생년월일 형식 오류시 -->
									<!-- <p class="register__errorinfo txt-v3 ">생년월일이 올바르지 않습니다.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label htmlFor="" class="register__label txt-v2">연락처</label>
                            	    <div class="register__innerbox">
                            	        <div class="register__inputwrap type-3">
                        	            	<div class="js-select">
                        	            		<select id="register__phone1" class="select-v1 type-d3 js-r-input2 type-birth  txt-v1" name="" >
                        	            		    <option value="010">010</option>
                        	            		    <option value="011">011</option>
                        	            		    <option value="019">019</option>
                        	            		</select>
                        	            	</div>
                            	        </div>
                            	        <div class="register__inputwrap type-3 type-before">
                            	            <input type="text" id="register__phone2" class="input-v2 js-r-input2 type-center type-txt type-num txt-v1 js-error-check" placeholder="****" autocomplete="off" maxlength="4"  name="">
                            	        </div>
                            	        <div class="register__inputwrap type-3 type-before">
                            	            <input type="text" id="register__phone3" class="input-v2 js-r-input2 type-center type-txt type-num txt-v1 js-error-check" placeholder="****" autocomplete="off" maxlength="4"  name="">
                            	        </div>
                            	    </div>
									<!-- 휴대폰번호 형식 오류시 -->
									<!-- <p class="register__errorinfo txt-v3">휴대폰번호가 올바르지 않습니다.</p> -->
	                                <div class="register__innerbox type-certify clb">
	                                        <p class="certify-box">
	                                        	<input type="text"  class="input-v2 js-r-certify type-certify type-txt fl type-num txt-v1 block-focus" placeholder="발송버튼을 눌러주세요" autocomplete="off" name="" maxlength="4" readonly>
	                                        </p>
											<button type="button" class="button-v1 js-certify-btn fr w-xs is-start type-border txt-v1">인증번호 발송</button>
											<button type="button" class="button-v1 js-certify-btn fr w-xs is-during type-border bld txt-v1">인증번호 확인</button>
											<button type="button" id="certify__num" class="button-v1 js-certify-btn fr w-xs fr is-done bld type-border txt-v1">
												<span class="button-v1__wrap type-check">인증완료</span>
											</button>
											<!-- 번호 오류는  alert 으로 처리 -->
	                                </div>
                            	</li>
                            </ul>
                            <button type="submit" class="register__submit js-register-submit button-default w-100 type-radius txt-v1 type-black" disabled>다음</button>
                        </form>
                </div>
        </div>
</div>




<% include ../_include/_footer %>
