<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg type-register">
        <div class="wrap">
            <h3 class="register__tit tit-v3">카포라 시작하기</h3>
                    <div class="register-1 register__box">
                        <p class="register__subtit__sub txt-v3">복잡한 절차 없이 간편하게</p>
                        <h4 class="register__subtit type-titv1 txt-v1">SNS 계정으로 가입</h4>
                        <div class="buttonbox">
                            <a href="../" class="buttonbox__btn button-default type-radius type-kakao txt-v1">카카오톡으로 회원가입</a>
                            <a href="../" class="buttonbox__btn button-default type-radius type-facebook txt-v1">페이스북으로 회원가입</a>
                        </div>
                        <p class="login-or type-register"><span class='login-or__txt txt-v2'>또는</span></p>
                        <p class="register__subtit__sub txt-v3">기존에 사용하던 이메일 주소로</p>
                        <h4 class="register__subtit type-titv1 txt-v1">기본 정보 입력 후 가입</h4>
                        <div class="buttonbox">							
                            <button type="button" class="buttonbox__btn button-default w-100 type-black type-radius">
								<a href="../../html/register/register_2.html" class="type-blk txt-v1">이메일로 가입하기</a>
							</button>
                        </div>
                        <p class="register__infotxt txt-v3">계속 진행하면 carfora <a href="" class="register__infotxt__link txt-v3">이용약관</a> 및 <a href="" class="register__infotxt__link txt-v3">개인정보 취급방침</a>에 동의하는 것으로 간주됩니다.
                    </p>
                    </div>

        </div>
</div>




<% include ../_include/_footer %>
