<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg type-register">
        <div class="wrap">
            <h3 class="register__tit tit-v3">회원정보 입력</h3>
                <div class="register-3 register__box">
                    <form action="../../html/register/register_result.html" id="register_form" method="" class="registerform">
                            <ul class="registerform__list">
                            	<li class="registerform__item">
                            	    <label htmlFor="register__id" class="register__label txt-v2">아이디</label>
                            	    <input type="email" id="register__id" class="input-v2 js-r-input type-txt txt-v1" placeholder="기존에 사용중인 이메일주소로 아이디를 설정해주세요" autocomplete="off" name="">
                            	    <!-- 형식 오류시 -->
                            	    <!-- <p class="register__errorinfo txt-v3">아이디 형식이 올바르지 않습니다. 이메일 형식으로 입력해주세요.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label for="register__pw" class="register__label txt-v2">비밀번호</label>
                            	    <input type="password" id="register__pw" class="input-v2 type-tworow js-r-input type-txt  txt-v1" placeholder="8자리 이상의 영문,숫자,특수문자 조합으로 입력" autocomplete="off" name="">
                            	    <!-- 비밀번호 형식 오류시 -->
                            	    <!-- <p class="register__errorinfo txt-v3">비밀번호 형식이 올바르지 않습니다.</p> -->
                            	    <input type="password" id="register__pw2" class="input-v2 type-tworow js-r-input type-txt txt-v1" placeholder="비밀번호 재입력" autocomplete="off" name="">
                            	    <!-- 비밀번호 일치하지 않을때 오류시 -->
                            	    <!-- <p class="register__errorinfo txt-v3">비밀번호가 일치하지 않습니다.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label for="register__nick" class="register__label txt-v2">닉네임</label>
                            	    <input type="text" id="register__nick" class="input-v2 js-r-input type-txt  txt-v1" placeholder="카포라에서 사용할 닉네임 입력" autocomplete="off" name="">
                            		<!-- 닉네임 형식 오류시 -->
                            	    <!-- <p class="register__errorinfo txt-v3">닉네임 형식이 올바르지 않습니다.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label htmlFor="" class="register__label txt-v2">결혼여부</label>
                            	    <div class="register__innerbox type-marriage">
                            	        <div class="register__m-wrap">
                            	            <input type="radio" id="marriage0" class="radio-v1 txt-v1"  name="marriage" value="0"checked/>
                            	            <label for="marriage0" class="txt-v1">미혼</label>
                            	        </div>
                            	        <div class="register__m-wrap">
                            	            <input type="radio" id="marriage1" class="radio-v1 txt-v1" name="marriage" value="1"/>
                            	            <label for="marriage1" class="txt-v1">기혼</label>
                            	        </div>
                            	    </div>
                            	</li>
                            </ul>
                            <!-- 모든폼 입력완료되면 is-active 클래스 추가 -->
							<button type="submit" class="register__submit js-register-submit button-default w-100 type-radius txt-v1 type-black" disabled>회원가입 완료</button>
                        </form>
                </div>
        </div>
</div>




<% include ../_include/_footer %>
