<%
	page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container type-fullbg">
        <div class="wrap">
            <h3 class="bld">회원가입완료</h3>
        </div>
                <div class="register-result">
                    <div class="wrap">
                        <img src="../../img/mobile/login/result_check_bg.png" alt="" class="register-r__img"/>
                        <p class="register-r__tit type-result tit-v1">자, 이제 시작이야</p>
                        <p class="register-r__txt txt-v1">머글킴 님, 회원가입을 축하합니다.<br>카포라에 가입하신 아이디는 <span class="register-r__txt__point">muggle-kim@naver.com</span> 입니다.</p>

							<div class="register-r__btnwrap clb">
                                <div class="register-r__btninbox">
									<a href="../../html/main/main.html" class="button-default type-radius w-100 txt-v1 color-black">홈으로 가기</a>
                                </div>
                                <div class="register-r__btninbox">
									<a href="../../html/mycar/mycar_main.html" class="button-default type-radius w-100 txt-v1 type-point">'내차어때' 바로가기</a>
                                </div>
                            </div>
                            <div class="register-r__txtbox">
                                <p class="register-r__txt__sub txt-v2">카포라2.0에서 제공하는 프리미엄 서비스인<br> '내차어때' beta 버전을 무료로 경험해 보세요.</p>
                                <p class="register-r__txt__sub txt-v2">60,548 대의 차량과 내 차를 비교하여, 지금 내차의 상태와 견적을 한 눈에 확인할 수 있습니다.</p>
                            </div>

                        </div>
                </div>
</div>




<% include ../_include/_footer %>
