<%
	page_type = "main"
	page = "main"
	header = "true"
%>
<% include ../_include/_header %>
<!--container-->
<div class="container">
	<div class="main">
		<div class="wrap">
			<h3 class="main__tit"><img src="../../img/mobile/main/main_tit.png" alt="carfora DI.Bot" class="img-w100"/></h3>
			<p class="main__txt tit-v2">
				클릭한번으로 충분합니다.<br>
				지금 카포라 빅데이터에서 경험하세요.
			</p>
			<div class="main-search">
				<form class="main-search__form" name="main-search_form" id="main-search_form" action="../../index.php">
					<label class="sr-only" for="inputSearch">통합검색</label>
					<button type="submit" class="main-search__btn">검색</button>
					<input type="text" class="main-search__input js-total-search txt-v1" id="inputSearch" name="inputSearch" placeholder="검색어를 입력하세요" required="">
				</form>
				<button class="main-search__link js-search-open">검색하러가기</button>
				<!-- <a href="" class="result-search__del" style="display: inline;">닫기</a> -->
			</div>
		</div>
		<div class="section type-main">
			<div class="wrap">
				<div class="section__wrap">
					<div class="clb">
						<h4 class="section-tit tit-v2">인기 해시태그</h4>
						<a href="" class="plus-btn">전체보기<span class="plus"><span class="plus__wrap">plus</span></span></a>
					</div>
					<div class="hash">
						<ul class="hash__list">
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
						</ul>
					</div>
					<ul class="hash-banner__list js-recommend-product2">
						<li class="hash-banner__item">
							<div class="hash-banner__wrap">
								<div class="hash-banner__box">
									<h5 class="hash-banner__tit txt-v1">국산차</h5>
									<p class="hash-banner__txt txt-v2">빅데이터 추천 갑 of 갑</p>
								</div>
								<img src="../../img/mobile/main/main_banner_1.jpg" class="img-w100" alt="국산차"/>
								<a href="" class="hash-banner__link">상세보기</a>
							</div>
						</li>
						<li class="hash-banner__item">
							<div class="hash-banner__wrap">
								<div class="hash-banner__box">
									<h5 class="hash-banner__tit txt-v1">국산차</h5>
									<p class="hash-banner__txt txt-v2">빅데이터 추천 갑 of 갑</p>
								</div>
								<img src="../../img/mobile/main/main_banner_2.jpg" class="img-w100" alt="국산차"/>
								<a href="" class="hash-banner__link">상세보기</a>
							</div>
						</li>
						<li class="hash-banner__item">
							<div class="hash-banner__wrap">
								<div class="hash-banner__box">
									<h5 class="hash-banner__tit txt-v1">국산차</h5>
									<p class="hash-banner__txt txt-v2">빅데이터 추천 갑 of 갑</p>
								</div>
								<img src="../../img/mobile/main/main_banner_3.jpg" class="img-w100" alt="국산차"/>
								<a href="" class="hash-banner__link">상세보기</a>
							</div>
						</li>
						<li class="hash-banner__item">
							<div class="hash-banner__wrap">
								<div class="hash-banner__box">
									<h5 class="hash-banner__tit txt-v1">국산차</h5>
									<p class="hash-banner__txt txt-v2">빅데이터 추천 갑 of 갑</p>
								</div>
								<img src="../../img/mobile/main/main_banner_4.jpg" class="img-w100" alt="국산차"/>
								<a href="" class="hash-banner__link">상세보기</a>
							</div>
						</li>
						<li class="hash-banner__item">
							<div class="hash-banner__wrap">
								<div class="hash-banner__box">
									<h5 class="hash-banner__tit txt-v1">국산차</h5>
									<p class="hash-banner__txt txt-v2">빅데이터 추천 갑 of 갑</p>
								</div>
								<img src="../../img/mobile/main/main_banner_5.jpg" class="img-w100" alt="국산차"/>
								<a href="" class="hash-banner__link">상세보기</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="line-banner">
			<a href="" class="line-banner__link">
				<img src="../../img/mobile/main/main_recommend_1.jpg" class="img-w100" alt="중고차의 품질을 우수한 차량선별 - 중고차의 품질등급 서비스">
			</a>
		</div>
		<!-- 추천차량 -->
		<div class="section">
			<div class="main-recommend">
				<ul class="main-recommend__list js-recommend-product">
					<li class="main-recommend__item">
						<div class="wrap">
							<p class="main-recommend__emphasis txt-v1">가성비와 최저가를 동시에</p>
							<h4 class="main-recommend__subject tit-v2">
								카포라가 엄선한 <strong class="ft-bold">인기판매 차량</strong>
							</h4>
						</div>
						<div class="product type-two type-margin-zero">
							<ul class="product__list site-padding">
								<% for(var i = 0; i < 4; i ++){ %>
									<li class="product__item">
										<div class="product__wrap">
											<div class="product__box type-img">
												<div class="product__relative">
													<div class="product__img">
														<img src="http://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
													</div>
												</div>
											</div>
											<div class="product__box type-txt">
												<div class="product__outer">
													<div class="product__inner">
														<h3 class="product__name txt-v1 ellipsis2">
															BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
														</h3>
														<p class="product__txt txt-v1">
															<span class="product__rank">SA+</span>
															<span class="product__price">1,960<span class="ft-300">만원</span></span>
														</p>
													</div>
												</div>
											</div>
										</div>
										<a href="" class="product__link">자세히보기</a>
									</li>
								<%}%>


							</ul>
						</div>
					</li>
					<li class="main-recommend__item">
						<div class="wrap">
							<p class="main-recommend__emphasis txt-v1">주행거리 5,000km미만 차량</p>
							<h4 class="main-recommend__subject tit-v2">
								<strong class="ft-bold">신차급 차량</strong> 빠르게 득템하기
							</h4>
						</div>
						<div class="product type-two type-margin-zero">
							<ul class="product__list site-padding">
								<% for(var i = 0; i < 4; i ++){ %>
									<li class="product__item">
										<div class="product__wrap">
											<div class="product__box type-img">
												<div class="product__relative">
													<div class="product__img">
														<img src="http://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
													</div>
												</div>
											</div>
											<div class="product__box type-txt">
												<div class="product__outer">
													<div class="product__inner">
														<h3 class="product__name txt-v1 ellipsis2">
															BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
														</h3>
														<p class="product__txt txt-v1">
															<span class="product__rank">SA+</span>
															<span class="product__price">1,960<span class="ft-300">만원</span></span>
														</p>
													</div>
												</div>
											</div>
										</div>
										<a href="" class="product__link">자세히보기</a>
									</li>
								<%}%>


							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //추천차량 -->
		<div class="section">
			<div class="wrap">

				<div class="section__wrap">
					<h4 class="section-tit tit-v2">오늘의 차</h4>
					<div class="tab-v1">
						<ul class="tab-v1__list">
							<li class="tab-v1__item is-active"><a href="page-price" class="tab-v1__link txt-v1">가격우선</a></li>
							<li class="tab-v1__item"><a href="page-quality" class="tab-v1__link txt-v1">품질우선</a></li>
						</ul>
					</div>
					<!-- 가격우선 -->
					<div class="tab-v1__content page-price is-active">
						<div class="summary">
							<ul class="summary__list">
								<li class="summary__item">
									<div class="summary__wrap">
										<div class="summary__thumbnail">
											<div class="summary__rank txt-v2 type-a">AA+</div>
											<div class="summary__inner">
												<!-- type-a,type-b,type-c,type-d 로 랭크 색상변화-->
												<img src="../../img/mobile/common/circle_no_img.png" alt="아우디 Q5 2.0 TDI 콰트로 다이나믹 8R" class="summary__img img-normal"/>
											</div>
										</div>
										<div class="summary__box">
											<h5 class="summary__tit txt-v1">아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R</h5>
											<p class="summary__txt">
												<span class="info-style summary__info txt-v2">19러9780</span>
												<span class="info-style summary__info txt-v2">197,458km</span>
												<span class="info-style summary__info txt-v2">10년04월</span>
											</p>
										</div>
									</div>
									<div class="summary__wrap">
										<p class="summary__price txt-v1">
											<span class="summary__number">2,550</span><span class="summary__unit">만원</span>
										</p>
										<p class="summary__txt">
											<span class="mark-style summary__mark txt-v2 type-price">113</span>
											<span class="mark-style summary__mark txt-v2 type-top">상위 10%</span>
										</p>
									</div>
									<a href="" class="summary__link">상세보기</a>
								</li>
								<li class="summary__item">
									<div class="summary__wrap">
										<div class="summary__thumbnail">
											<div class="summary__rank txt-v2 type-a">AA+</div>
											<div class="summary__inner">
												<!-- type-a,type-b,type-c,type-d 로 랭크 색상변화-->
												<img src="../../img/mobile/main/main_thumbnail_1.png" alt="아우디 Q5 2.0 TDI 콰트로 다이나믹 8R" class="summary__img img-normal"/>
											</div>
										</div>
										<div class="summary__box">
											<h5 class="summary__tit txt-v1">아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R</h5>
											<p class="summary__txt">
												<span class="info-style summary__info txt-v2">19러9780</span>
												<span class="info-style summary__info txt-v2">197,458km</span>
												<span class="info-style summary__info txt-v2">10년04월</span>
											</p>

										</div>
									</div>
									<div class="summary__wrap">
										<p class="summary__price txt-v1">
											<span class="summary__number">2,550</span><span class="summary__unit">만원</span>
										</p>
										<p class="summary__txt">
											<span class="mark-style summary__mark txt-v2 type-eye">113</span>
											<span class="mark-style summary__mark txt-v2 type-top">상위 10%</span>
										</p>
									</div>
									<a href="" class="summary__link">상세보기</a>
								</li>
								<li class="summary__item">
									<div class="summary__wrap">
										<div class="summary__thumbnail">
											<div class="summary__rank txt-v2 type-a">AA+</div>
											<div class="summary__inner">
												<!-- type-a,type-b,type-c,type-d 로 랭크 색상변화-->
												<img src="../../img/mobile/main/main_thumbnail_1.png" alt="아우디 Q5 2.0 TDI 콰트로 다이나믹 8R" class="summary__img img-normal"/>
											</div>
										</div>
										<div class="summary__box">
											<h5 class="summary__tit txt-v1">아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R</h5>
											<p class="summary__txt">
												<span class="info-style summary__info txt-v2">19러9780</span>
												<span class="info-style summary__info txt-v2">197,458km</span>
												<span class="info-style summary__info txt-v2">10년04월</span>
											</p>

										</div>
									</div>
									<div class="summary__wrap">
										<p class="summary__price txt-v1">
											<span class="summary__number">2,550</span><span class="summary__unit">만원</span>
										</p>
										<p class="summary__txt">
											<span class="mark-style summary__mark txt-v2 type-eye">113</span>
											<span class="mark-style summary__mark txt-v2 type-top">상위 10%</span>
										</p>
									</div>
									<a href="" class="summary__link">상세보기</a>
								</li>
							</ul>
							<a href="" class="summary__btn button-default txt-v1"><span class="button-default__wrap type-arrow">가격우선 전체보기</span></a>
						</div>
					</div>
					<!-- //가격우선 -->
					<!-- 품질우선 -->
					<div class="tab-v1__content page-quality">
						<div class="summary">
							<ul class="summary__list">
								<li class="summary__item">
									<div class="summary__wrap">
										<div class="summary__thumbnail">
											<!-- type-a,type-b,type-c,type-d 로 랭크 색상변화-->
											<div class="summary__rank txt-v2 type-b">BA+</div>
											<img src="../../img/mobile/main/main_thumbnail_1.png" alt="아우디 Q5 2.0 TDI 콰트로 다이나믹 8R" class="summary__img img-normal"/>
										</div>
										<div class="summary__box">
											<h5 class="summary__tit txt-v1">아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R</h5>
											<p class="summary__txt">
												<span class="info-style summary__info txt-v2">19러9780</span>
												<span class="info-style summary__info txt-v2">197,458km</span>
												<span class="info-style summary__info txt-v2">10년04월</span>
											</p>

										</div>
									</div>
									<div class="summary__wrap">
										<p class="summary__price txt-v1">
											<span class="summary__number">2,550</span><span class="summary__unit">만원</span>
										</p>
										<p class="summary__txt">
											<span class="mark-style summary__mark txt-v2 type-eye">113</span>
											<span class="mark-style summary__mark txt-v2 type-top">상위 10%</span>
										</p>
									</div>
									<a href="" class="summary__link">상세보기</a>
								</li>
								<li class="summary__item">
									<div class="summary__wrap">
										<div class="summary__thumbnail">
											<!-- type-a,type-b,type-c,type-d 로 랭크 색상변화-->
											<div class="summary__rank txt-v2 type-b">BA+</div>
											<img src="../../img/mobile/main/main_thumbnail_1.png" alt="아우디 Q5 2.0 TDI 콰트로 다이나믹 8R" class="summary__img img-normal"/>
										</div>
										<div class="summary__box">
											<h5 class="summary__tit txt-v1">아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R</h5>
											<p class="summary__txt">
												<span class="info-style summary__info txt-v2">19러9780</span>
												<span class="info-style summary__info txt-v2">197,458km</span>
												<span class="info-style summary__info txt-v2">10년04월</span>
											</p>

										</div>
									</div>
									<div class="summary__wrap">
										<p class="summary__price txt-v1">
											<span class="summary__number">2,550</span><span class="summary__unit">만원</span>
										</p>
										<p class="summary__txt">
											<span class="mark-style summary__mark txt-v2 type-eye">113</span>
											<span class="mark-style summary__mark txt-v2 type-top">상위 10%</span>
										</p>
									</div>
									<a href="" class="summary__link">상세보기</a>
								</li>
								<li class="summary__item">
									<div class="summary__wrap">
										<div class="summary__thumbnail">
											<!-- type-a,type-b,type-c,type-d 로 랭크 색상변화-->
											<div class="summary__rank txt-v2 type-b">BA+</div>
											<img src="../../img/mobile/main/main_thumbnail_1.png" alt="아우디 Q5 2.0 TDI 콰트로 다이나믹 8R" class="summary__img img-normal"/>
										</div>
										<div class="summary__box">
											<h5 class="summary__tit txt-v1">아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R 아우디 Q5 2.0 TDI 콰트로 다이나믹 8R</h5>
											<p class="summary__txt">
												<span class="info-style summary__info txt-v2">19러9780</span>
												<span class="info-style summary__info txt-v2">197,458km</span>
												<span class="info-style summary__info txt-v2">10년04월</span>
											</p>

										</div>
									</div>
									<div class="summary__wrap">
										<p class="summary__price txt-v1">
											<span class="summary__number">2,550</span><span class="summary__unit">만원</span>
										</p>
										<p class="summary__txt">
											<span class="mark-style summary__mark txt-v2 type-eye">113</span>
											<span class="mark-style summary__mark txt-v2 type-top">상위 10%</span>
										</p>
									</div>
									<a href="" class="summary__link">상세보기</a>
								</li>
							</ul>
							<a href="" class="summary__btn button-default txt-v1"><span class="button-default__wrap type-arrow">품질우선 전체보기</span></a>
						</div>
					</div>
					<!-- //품질우선 -->
				</div>
			</div>
		</div>

		<!-- <div class="line-banner">
			<a href="" class="line-banner__link">
				<img src="../../img/mobile/main/main_recommend_2.jpg" class="img-w100" alt="60,548대의 차량과 내차를 비교하세요. - 중고차의 내차어때 서비스">
			</a>
		</div> -->
		<div class="section">
			<div class="wrap">
				<div class="section__wrap">
					<h4 class="section-tit tit-v2">맞춤 기획전</h4>
					<a href="" class="fr button-v3 type-mt txt-v1">전체보기<span class="plus"><span class="plus__wrap">plus</span></span></a>
					<div class="main-plan">
						<ul class="main-plan__list js-plan-slider">
							<li class="main-plan__item">
								<div class="main-plan__wrap">
									<div class="main-plan__img">
										<img src="../../img/mobile/main/main_plan_1.jpg" class="img-w100" alt="빅데이터 추천 갑 of 갑"/>
									</div>
									<h5 class="main-plan__tit txt-v1">빅데이터 추천 갑 of 갑</h5>
									<a href="" class="main-plan__link">상세보기</a>
								</div>
							</li>
							<li class="main-plan__item">
								<div class="main-plan__wrap">
									<div class="main-plan__img">
										<img src="../../img/mobile/main/main_plan_2.jpg" class="img-w100" alt="빅데이터 추천 갑 of 갑"/>
									</div>
									<h5 class="main-plan__tit txt-v1">빅데이터 추천 갑 of 갑</h5>
									<a href="" class="main-plan__link">상세보기</a>
								</div>
							</li>
							<li class="main-plan__item">
								<div class="main-plan__wrap">
									<div class="main-plan__img">
										<img src="../../img/mobile/main/main_plan_3.jpg" class="img-w100" alt="빅데이터 추천 갑 of 갑"/>
									</div>
									<h5 class="main-plan__tit txt-v1">빅데이터 추천 갑 of 갑</h5>
									<a href="" class="main-plan__link">상세보기</a>
								</div>
							</li>
							<li class="main-plan__item">
								<div class="main-plan__wrap">
									<div class="main-plan__img">
										<img src="../../img/mobile/main/main_plan_4.jpg" class="img-w100" alt="빅데이터 추천 갑 of 갑"/>
									</div>
									<h5 class="main-plan__tit txt-v1">빅데이터 추천 갑 of 갑</h5>
									<a href="" class="main-plan__link">상세보기</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_search/_main_search %>
</div>
<!-- //container-->
<% include ../_include/_footer %>
