.ui-widget.ui-widget-content{overflow:auto; border:1px solid #ddd;  max-height: 400px;}
.ui-menu-item{font-size:14px; color:#000; font-family: $font-normal; list-style-image:none !important;}
.ui-menu .ui-menu-item-wrapper{padding:11px 30px 10px; box-sizing:border-box;}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border:none;
	background: transparent;
	font-weight: inherit;
	color: inherit;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{margin:0;}

// 검색페이지 자동완성 custom
.ui-widget.ui-widget-content{border:0;width:100%;}
.ui-menu .ui-menu-item{padding:10px 0;font-size:17px;font-weight:300;color:#888;padding-left:60px;position:relative;}
.ui-menu .ui-menu-item__img{position:absolute;left:20px;top:50%;transform: translateY(-50%);width:29px;}
.ui-menu .ui-menu-item-wrapper{padding:0;}
.ui-menu div.ui-menu-item-wrapper{padding:0;display: table-cell;padding-right: 20px;word-break: keep-all;vertical-align: middle;height:44px; background-color:!important;}
.ui-menu div.ui-menu-item-wrapper .t_wrap{display:inline-block;vertical-align: middle;}
.ui-menu div.ui-menu-item-wrapper span{vertical-align: baseline;}
// .ui-widget.ui-widget-content .ui-state-active{border:0;background-color:#efefef;}

.search-match{color:$point1;}
.search-model{float:right; font-size:14px; color:#888;}
