html{height:100%; font-size:10px;-webkit-text-size-adjust: none;
    @media only screen and (max-width: $iphone-size) {font-size:9px;}
}
body{position:relative; min-height:100%;  margin:0; padding:0 0 393px; font-family: $font-normal; word-break: keep-all; line-height:1.4; color:#888; font-weight:$medium;
     box-sizing:border-box;
     &.no-scroll{position:fixed; overflow:hidden !important; width:100%; height:100%;
        .footer{position:static;}
     }
 }
.body{
     &__type-login{min-height:100vh;}
}
 .product{margin-top:20px;
     $this:&;
     &.type-margin-zero{margin-top:0;}
     &.type-two{
         #{$this}__wrap{margin-left:0;}
         #{$this}__list{margin-left:-10px; font-size:0;}
         #{$this}__item{display:inline-block; width:50%;  padding:0 0 0 10px; border-top:none;
            &:nth-child(2) ~ #{$this}__item{margin-top:24px;}
         }
         #{$this}__box{width:100%; padding-left:0;
            &.type-txt{position:static; top:auto; right:auto; bottom:auto; width:100%; margin-top:14px;}
         }
     }
     &__list{margin:0; padding:0;}
     &__item{position:relative; padding:25px 20px 0; list-style:none; box-sizing:border-box; font-size:0; border-top:10px solid #f8f9fa;
         &.no-message{padding-top:100px;}
         & + &{margin-top:25px;}
         .info-style{
             &:nth-child(3){display:inline-block; margin-left:10px; padding-left:13px;
                    &:before{display:block;}
             }
         }
     }
     &__wrap{position:relative; margin-left:-15px;}
     &__relative{overflow:hidden;  position:relative; width:100%; height:0; padding-bottom:56%; border-radius:4px;}
     &__img{position:absolute; top:0; left:0; width:100%; height:100%;}
     &__box{position:relative; display:inline-block; width:48.5%; padding-left:15px; box-sizing:border-box; vertical-align:top;
         &.type-txt{position:absolute; top:0; right:0; bottom:0; width:51.5%;}
     }
     &__outer{display:inline-table; height:100%;}
     &__inner{display:table-cell; width:1%; vertical-align:middle;}
     &__name{font-weight:$medium; color:#000;
         & + #{$this}__txt{margin-top:10px;}
     }
     &__txt{margin-top:16px;
         & + &{margin-top:10px;}
     }
     &__rank{color:$point1;}
     &__price{margin-left:8px; color:#000;}
     &__info{
         &:nth-child(3){display:inline-block; margin:0 0 0 10px; padding-left:13px;
             &:before{display:block;}
         }
     }
     &__brand{position:absolute; right:20px; bottom:0; width:50px;}
     &__btn{margin-top:60px;}
     &__link{display:block;  position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; }
 }





.img-border{position:relative;
   &:before{display:block; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid rgba(0,0,0,0.1); border-radius:inherit; content:''; box-sizing:border-box; z-index:10;}
}
.wrap{ margin:0px auto; padding:0 $sitePadding; box-sizing:border-box;}
.gnb{display:inline-block; font-size:0;
    &__btn{display:inline-block; position:relative; margin-top:28px; width:30px; height:60px; margin:0; padding:21px 10px 21px 0; border:none; background:none; outline:0; cursor:pointer;}
    &__bar{display:block; position:absolute; left:0; width:100%; height:0;  font-size:0; text-indent:-9999px;
        &.type-blk{border-top:2px solid #000;}
        &.type-wht{border-top:2px solid #fff;}
        &.nth-1{top:0;}
        &.nth-2{top:0; bottom:0; margin:auto 0;}
        &.nth-3{bottom:0;}
    }
    &__wrap{position:relative; display:block; width:100%; height:100%; }
}
.header{position:absolute;top:0;left:0;z-index:10;width:100%;height:60px; text-align:center;
    $this:&;
    &.type-bgwhite{background-color:#fff;}
    &__wrap{width:100%;height:60px;}
    &__logo{position:absolute;top:20px;left:20px; width:93px; height:19px; box-sizing:border-box;
        &.type-view{left:60px;}
    } /*gnb 있을시 left:60px*/
    &__left{position:absolute; top:0; bottom:0; left:20px;}
    &__right{position:absolute; right:20px; top:0; font-size:0;}
    &__btn{display:inline-block; position:relative;  height:60px; width:20px; padding:0; border:none; background:none; outline:0; vertical-align:middle; cursor:pointer; font-size:0;
        &.type-login{
            &.type-blk{background:url('../../img/mobile/common/user_icon.png') no-repeat center right / 20px 20px;}
            &.type-wht{background:url('../../img/mobile/common/user_icon_white.png') no-repeat center right / 20px 20px;}
        }
        &.type-history{
            &.type-blk{background:url('../../img/mobile/common/history_icon.png') no-repeat center right / 20px 20px;}
            &.type-wht{background:url('../../img/mobile/common/history_icon_white.png') no-repeat center right / 20px 20px;}
        }
        &.type-back{display:inline-block; overflow:hidden; width:20px; height:100%; background:url('../../img/mobile/common/back_arrow_white.png') no-repeat center center / 20px 17px; border:none; outline:0; text-indent:-9999px; cursor:pointer;}
        &.type-like{background:url('../../img/mobile/common/like_icon.png') no-repeat center right / 20px 22px;
            &.is-active{background:url('../../img/mobile/common/like_icon_on.png') no-repeat center right / 20px 22px;}
        }
        &.type-interest{background:url('../../img/mobile/common/interest_icon.png') no-repeat center right / 20px 22px;
            &.is-active{background:url('../../img/mobile/common/interest_icon_on.png') no-repeat center right / 20px 22px;}
        }
        &.type-register{width:auto;font-size:14px; color:#000;text-indent:inherit;}
        &.type-btn{width:auto; text-indent:0;}
        & + &{margin-left:20px;}
    }
    &__mycar{margin-right:20px; vertical-align:middle;}
}
.history-count{position:absolute; top:8px; right:-11px; display:block; width:20px; height:20px; line-height:20px; color:#fff; font-size:1.1rem; background:$point1; border-radius:50%;}

.header-search{position:relative; display:inline-block; position:relative; width:100%;
    &__input{width:100%; height:50px; padding:0 40px 0 20px; box-sizing:border-box; border-radius:24px; border:1px solid #dddddd; color:#000; font-family: $font-normal; line-height:50px;
        @include placeholder-color(#aaa); outline:0;
    }
    &__btn{position:absolute;}
    &__btn{display:block; position:absolute; top:0; bottom:0; right:20px; width:20px; height:50px; margin:auto 0; border:none;
        background:url('../../img/mobile/main/main_search_icon.png') no-repeat center center / 20px 20px; font-size:0; outline:0; cursor:pointer;
    }
    &__link{display:block; overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:20; text-indent:-9999px;}
}





.hash{
    $this:&;
    &.type-margin-zero{
        #{$this}__list{margin-top:0;}
    }
    &__list{overflow-x: auto; margin:20px -20px 0 0px; padding:0 20px 0 0; font-size:0; white-space:nowrap; box-sizing:border-box; -webkit-overflow-scrolling: touch;
    }
    &__item{display:inline-block; list-style:none;
        & + &{margin-left:6px;}
    }
    &__link{display:block; height:36px; padding:0 14px; border-radius:18px; background:#f7f7f7; line-height:36px; color:#888; text-decoration:none; box-sizing:border-box;
        &.type-close{padding-right:31px; background:url('../../img/mobile/common/hash_close.png') #f7f7f7 no-repeat center right 14px / 7px 7px}
    }
    // & + .search-header{margin-top:30px;}
}

.footer{position:absolute; left:0; right:0; bottom:0; padding:40px 0 30px; background:#191919; box-sizing:border-box; text-align:center;
    &.type-fullbg{padding:0 0 30px 0;background-color:transparent;}
    $this:&;
    &__list{margin:0; padding:0; font-size:0; text-align:left;
        &.type-login{text-align: center;}
        & + &{margin-top:30px;}
    }
    &__link{display:block; font-weight:$medium; color:#888; text-decoration:none;}
    &__item{display:inline-block; position:relative;  list-style:none; vertical-align:middle;
        &.type-terms{
            #{$this}__link{color:#fff;}
        }
        & + &{padding-left:10px; margin-left:11px;
            &:before{display:block; position:absolute; top:0; left:0; bottom:0; width:1px; height:6px; margin:auto 0; background-color:#444; content:'';}
            &.type-register:before{display:none;}
        }
        &.type-icon{position:relative; height:30px; padding:0 20px; line-height:30px; border-radius:15px; background: #000; box-sizing:border-box;
            &.type-facebook{
                #{$this}__span{padding-left:18px;
                    &:before{width:8px; height:14px; background:url('../../img/mobile/common/fa_icon.png') no-repeat center center / contain;}
                }
            }
            &.type-post{
                #{$this}__span{ padding-left:20px;
                    &:before{width:11px; height:17px; background:url('../../img/mobile/common/post_icon.png') no-repeat center center / contain;}
                }
            }
            & + &{margin-left:10px;
                &:before{display:none;}
            }
        }
    }
    &__copy{margin:26px 0 0 0; color:#888; font-weight:$medium;
        &.type-fullbg{margin-top:10px;}
    }
    &__span{position:relative; font-weight:$medium;
        &:before{display:block; position:absolute; top:0; bottom:0; left:0; margin:auto 0; content:''; }
    }
}
.footer-info{margin-top:26px; text-align:left;
    &__list{margin:-8px 0 0 -12px; padding:0; font-size:0;
        & + &{margin-top:20px;}
    }
    &__item{position:relative; display:inline-block; margin:8px 0 0 12px; list-style:none; color:#585858; font-weight:$medium;}
    &__span{color:#888;}
    &__link{display:inline-block; color:inherit; text-decoration:none;}
}

.plus{display:block; position:absolute; top:1px; right:0; width:20px; height:20px;  margin:auto 0; border-radius:50%; background:$point1;
    &.type-middle{top:0; bottom:0; margin:auto 0;}
    &__wrap{overflow:hidden; position:relative; display:block; width:100%; height:100%; font-size:0; text-indent:-999px;
        &:before,&:after{display:block; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; background:#fff; content:'';}
        &:before{width:9px; height:2px;}
        &:after{width:2px; height:9px;}
    }
}

.container{padding:60px 0; box-sizing:border-box;
    &.type-grey{background-color:#f8f9fa;}
    &.type-fullbg{
        &.type-login{padding-bottom:60px;}
        &.type-register{padding-bottom:80px;}
    }
}
.section-tit{display:inline-block; margin:0; font-weight:$medium; color:#000; vertical-align:middle;}
.section{position:relative; padding-top:40px; border-top:10px solid #f8f9fa; text-align:left; box-sizing:border-box;
    $this:&;
    &.type-no-style{border-top:0;}
    & + &{margin-top:40px;}
    &.type-main{margin-top:80px;}
    &.type-two{font-size:0;
        #{$this}__box{display:inline-block; width:50%;}
    }
    &__right{position:absolute; top:-5px; right:0;}
    &__wrap{position:relative;}
}



.slider-btn{position:relative; font-size:0;
    $this:&;
    &__prev,&__next{overflow:hidden; display:inline-block; width:40px; height:40px; text-indent:-9999px;}
    &__prev{background:url('../../img/mobile/common/plan_prev_off.png') no-repeat center center / contain;
        &:hover{background:url('../../img/mobile/common/plan_prev_on.png') no-repeat center center / contain;}
        & + #{$this}__next{margin-left:5px;}
    }
    &__next{background:url('../../img/mobile/common/plan_next_off.png') no-repeat center center / contain;
        &:hover{background:url('../../img/mobile/common/plan_next_on.png') no-repeat center center / contain;}
    }
}

.info-style{display:inline-block; position:relative; font-weight:$light;
    & + &{margin-left:10px; padding-left:13px; box-sizing:border-box;
        &:before{display:block; position:absolute; top:0; bottom:0; left:0; width:4px; height:4px; margin:auto 0; border-radius:50%; background:#ddd; content:''}
    }
    &:nth-child(3){display:block; margin:6px 0 0 0; padding-left:0;
        &:before{display:none;}
    }
}

.mark-style{display:inline-block; position:relative; padding-left:24px; box-sizing:border-box; vertical-align: top; font-weight:$light;
    &:before{display:block; position:absolute; top:0; left:0; bottom:0; margin:auto 0; content:'';}
    &.type-eye{
        &:before{width:20px; height:19px; background:url('../../img/mobile/common/mark/mark_eye.png') no-repeat left center / contain;}
    }
    &.type-top{
        &:before{width:18px; height:17px; background:url('../../img/mobile/common/mark/mark_top.png') no-repeat left center / contain;}
    }
    &.type-graph{background:url('../../img/mobile/common/mark/mark_graph.png') no-repeat left center / contain;}
    &.type-price{background:url('../../img/mobile/common/mark/mark_price.png') no-repeat left center / contain;}
    & + &{margin-left:18px;}
}


.bottom-select{display:none; position:fixed; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0.7); z-index:100;
    $this:&;
    &.type-share{
        #{$this}__item{overflow: hidden; padding-top:0; padding-bottom:0;}
    }
    &__wrap{position:fixed; left:0; right:0; bottom:20px; padding:0 20px; box-sizing:border-box; @include vendor('transform','translateY(200%)'); transition:0.5s;
        &.is-active{@include vendor('transform','translateY(0%)');}
    }
    &__list{overflow:hidden; border-radius:4px;}
    &__item{position:relative; box-sizing:border-box; background-color:#fff;
        & + &{border-top:1px solid #ddd;}
    }
    &__num{position:absolute; top:16px; right:20px; font-weight:$light;}
    &__btn{margin-top:10px;}
}

.sns-btn{display:block; padding:15px 0 15px 47px;  box-sizing:border-box;  font-size:inherit; color:#000;
    &.type-katalk{background:url('../../img/mobile/common/sns_katalk.png') no-repeat left center / 25px 25px;}
    &.type-fa{background:url('../../img/mobile/common/sns_fa.png') no-repeat left center / 25px 25px;}
    &.type-tw{background:url('../../img/mobile/common/sns_tw.png') no-repeat left center / 25px 25px;}
    &.type-url{background:url('../../img/mobile/common/sns_url.png') no-repeat left center / 25px 25px;}
}

/*검색페이지*/

.mycar-search{background-color:#fff;min-height:100%;}
.layer-search{display:none; position: fixed; top:0; left:0; right:0; bottom:0;background-color:#fff; z-index:50;
    &.is-active{display:block;}
}

.search_box{height:60px;border-bottom:1px solid #ddd; ;position:relative;
    &__go-back{width:20px;margin-right:20px;position:absolute;left:20px;top:22px;}
    &__auto-input{width:100%;padding-left: 60px;padding-right:90px;border-bottom:1px solid $grey3;font-size:17px;color:#000; height:60px; display: table-cell;}
    &__delete-input{background-color:transparent;position:absolute;width:20px;height:20px;top:20px;right:60px;background-image:url(../../img/mobile/mycar/delete_input_m.png);
        background-position: center;background-size:contain;background-repeat: no-repeat;}
    &__submit-btn{background-color:transparent;width:20px;height:100%;background-image: url(../../img/mobile/mycar/search_icon_m.png);background-repeat: no-repeat;background-position: center;background-size:20px;position:absolute;top:0;right:20px;}
}

.search-txt{margin-top:50px; color:#888; text-align:center}


.remove-box{position:relative; padding:15px 20px; box-sizing:border-box;
    $this:&;
    &__right{position:absolute; right:20px; bottom:10px; text-align:right; font-size:0;}
    &__link{position:relative; top:1px; display:inline-block; margin:0 20px 0 0 ; padding:0 12px 0 0; color:#888;
        &:after{position:absolute; top:8px; right:0; display:block; width:7px; height:4px; background:url('../../img/mobile/common/select_arrow.png') no-repeat center center /contain; content:'';}
    }
    &.type-mypage{float:right; width:210px;
        #{$this}__btn{bottom:-8px;}
    }
}

.remove-check{position:absolute; top:0; left:0; width:100%; height:100%; z-index:20;}







.notice{ text-align:center;
    &__tit{color:#000;
        &:before{display:block; width:60px; height:60px; margin:0 auto 24px; background:url('../../img/mobile/common/noti_icon.png') no-repeat center center / contain; content:'';}
    }
    &__txt{margin-top:14px; line-height:1.7; color:#888; font-weight:$light;}
}








//로그인, 회원가입 공통

.login-or{position:relative;text-align: center;
    &__txt{font-size:14px;font-weight:$light;}
    &.type-login{margin:28px 0;color:#fff;
        &__txt{color:#fff;}
    }
    &.type-login:before{content:"";display:block;position:absolute;left:0;top:50%;
        @include vendor('transform','translateY(-50%)');
        width:calc(50% - 30px);height:1px; border-top:1px solid #fff;opacity:.5; }
    &.type-login:after{content:"";display:block;position:absolute;right:0;top:50%;
        @include vendor('transform','translateY(-50%)');
        width:calc(50% - 30px);height:1px; border-top:1px solid #fff; opacity:.5;}
    &.type-register{margin:30px 0;color:$grey5;
        &__txt{color:$grey5;}
    }
    &.type-register:before{content:"";display:block;position:absolute;left:0;top:50%;
        @include vendor('transform','translateY(-50%)');
        width:calc(50% - 30px);height:1px; border-top:1px solid $grey3;}
    &.type-register:after{content:""; display:block;position:absolute;right:0;top:50%;
        @include vendor('transform','translateY(-50%)');
        width:calc(50% - 30px);height:1px; border-top:1px solid $grey3;}
}
.buttonbox{font-size: 0;
    &__btn{
        & + &{margin-top:10px;}
    }
}
.history{position:fixed; top:0; right:-100%; width:100%; height:100%;  background-color:#fff; z-index:30; transition:right .5s;
    &.is-active{right:0%;}
    &__close{display:block; overflow:hidden; position:absolute; top:0; bottom:0; right:30px; width:20px; height:20px; margin:auto 0;
        background:url('../../img/common/close.png') no-repeat center center / contain; text-indent:-9999px; cursor:pointer;}

    &__header{position:relative; height:60px; line-height:60px; padding:0 60px 0 20px; box-sizing:border-box; border-bottom:1px solid #ddd;
        &:after{display:block; clear: both; content:'';}
    }
    &__tit{display:inline-block; padding-top:22px; margin-left:20px; font-weight:$medium; color:#000; vertical-align:top; line-height:1;}
    &__scroll{overflow:auto; width:100%; height:100%; padding-bottom:60px; box-sizing:border-box;}
    &__back{display:inline-block; overflow:hidden; width:20px; height:100%; background:url('../../img/mobile/common/back_arrow.png') no-repeat center center / 20px 17px; border:none; outline:0; text-indent:-9999px; cursor:pointer;}
}

.line-banner{margin-top:40px; border-top:10px solid #f8f9fa;
    &__link{display:block; text-decoration:none; text-align:center;}
    // img{max-width:750px; margin:0 auto;}
}

.main-recommend{position:relative; overflow:hidden;
    &__subject{color:#000;}
    &__list{margin:0; padding:0; font-size:0;}
    &__item{display:inline-block; list-style:none;}
    &__dot{position:absolute; top:0; right:$sitePadding;}
}

.slide-dot{background:#fff;
    li{display:inline-block; vertical-align:top;
        & + li{margin-left: 10px;}
        &.slick-active button{background-color:$point1;}
        & button{overflow:hidden; width: 10px;height: 10px;background-color:$grey3; border-radius:50%; font-size:0; text-indent:-9999px;}
    }
}


.rank-bar{
    $this:&;
    &__bar{ position:relative; display:block; height:12px; width:100%; border-top:1px solid $grey3; border-bottom:1px solid $grey3;  font-size:0;}
    &__text{display:block; margin-bottom:2px;}
    &__list{height:100%;font-size:0; }
    &__item{display:inline-block;position:relative;width:20%;height:100%;font-size:13px;font-weight:$light; color:$grey5;text-align: center;
        &.is-active{
            #{$this}__text{font-weight:$medium;color:$point1;}
            #{$this}__bar{
                &:after{display:block; position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; border:2px solid $point1;
                    background-image:url(../../img/mobile/view/point_back.png); background-position:1px; background-size:10px 13px; z-index:10; content:'';}
            }
        }
        &:first-child{
            #{$this}__bar{border-left:1px solid $grey3;}
        }
        &:last-child{
            #{$this}__bar{border-right:1px solid $grey3;}
        }
        & + #{$this}__item{
            #{$this}__bar{
                &::before{content:""; display: inline-block;position:absolute;left:0; top:0;width:1px; height:6px; background-color:$grey3;}
            }
        }

    }
    &__point{display:inline-block;position:absolute;height:10px;top:-1px;left:-1px;right:-1px;}
}

.accident-style{
    &__span{display:inline-block;padding-left:30px;color:$grey5;
        & + &{margin-left:40px;}
        &.type-plus{background:url(../../img/mobile/view/accident_plus.png) no-repeat 0 0px/20px;
            &.is-active{background:url(../../img/mobile/view/accident_plus_on.png) no-repeat 0 0px/20px; color:$point1;}
        }
        &.type-minus{background:url(../../img/mobile/view/accident_minus.png) no-repeat 0 0px/20px;
            &.is-active{background:url(../../img/mobile/view/accident_minus_on.png) no-repeat 0 0px/20px; color:$point1;}
        }
    }
}

//슬롯
.slot{text-align: center;font-size: 0;
    $this:&;
    &.type-quality{
        #{$this}__box{width:90px; background:url('../../img/mobile/quality/slot_bg.png') no-repeat center center / 90px 90px; color:#fff;}
        #{$this}__score{color:#fff;
            & + #{$this}__score{padding-left:7px;}
        }
        #{$this}__tit{margin-top:14px; color:#fff;}
    }
    &__score{display:inline-block;font-size:9rem; color:$point1;text-align: center;
        & + &{padding-left:15px;}
    }
    &__tit{font-weight:$light;color:#888;text-align: center;}
    &__box{height:auto;text-align: center;color:$point1;overflow: hidden; position:relative;}
    &__origin{font-size:10.7rem; font-weight:500; line-height:1; opacity:0;}
    &__text{position:absolute;width:100%;opacity:1;transition:opacity .3s}
    &__word{display: block;line-height:1;font-size:10.7rem;font-weight:500;}
}
.bullet-square{position:relative; padding-left:12px;
    &:before{display:block; position:absolute; top:8px; left:0; width:4px; height:4px; background:$grey5; content:'';}
    &.txt-v2{line-height:1.86;
        &:before{top:10px;}
    }
}
.content{
    &__box{
        & + &{margin-top:80px;}
    }
    &__noti{color:#000;}
}
.content-tit{margin-bottom:20px; color:#000;
    &.type-txt{margin-bottom:14px; }
}
.content-txt{color:#000; line-height:1.86;
    & + .content-border{margin-top:24px;}
}
.content-border{padding:60px 40px; box-sizing:border-box; border:1px solid $grey3; border-radius:8px; font-size:0;
    $this:&;
}

.placeholder-style{position:relative;
    $this:&;
    &.is-remove{
        #{$this}__txt{display:none;}
    }
    &__txt{position:absolute; top:0; left:0; pointer-events: none; color:#ccc; font-weight:$light; line-height:1.7;}
}

.graph{
    $this:&;
    &__info{color:$grey5;}
    &__wrap{margin-top:34px}
    &__list{margin:20px 0 0 0; padding:0; font-size:0;}
    &__item{display:inline-block; vertical-align:top;  text-align:center;
        &.type-s{width:10%;
            #{$this}__bar{background-color:$color-s; border-radius:6px 0 0 6px;}
        }
        &.type-a{width:15%;
            #{$this}__bar{background-color:$color-a;}
        }
        &.type-b{width:50%;
            #{$this}__bar{background-color:$color-b;}
        }
        &.type-c{width:15%;
            #{$this}__bar{background-color:$color-c;}
        }
        &.type-d{width:10%;
            #{$this}__bar{background-color:$color-d;  border-radius:0 6px 6px 0;}
        }
    }
    &__bar{height:50px; color:#fff; font-weight:$light; line-height:50px;}
    &__txt{margin-top:20px; color:$grey5; font-weight:$light;}
//팝업 스타일
    &.type-popup{
        #{$this}__wrap{margin-top:8px;}
    }
}

.graph-info{margin-top:24px; text-align:center;
    &__list{margin:0; padding:0; font-size:0; text-align: justify;
        &:after{display:inline-block; width:100%; content:'';}
    }
    &__item{position:relative; display:inline-block; padding-left:18px; box-sizing:border-box; color:#000; font-weight:$light; vertical-align:top;
        &:before{display:block; position:absolute; top:4px; left:0; width:10px; height:10px;border-radius: 50%; content:'';}
        &.type-s{
            &:before{background-color:$color-s;}
        }
        &.type-a{
            &:before{background-color:$color-a;}
        }
        &.type-b{
            &:before{background-color:$color-b;}
        }
        &.type-c{
            &:before{background-color:$color-c;}
        }
        &.type-d{
            &:before{background-color:$color-d;}
        }
    }
}


//팝업관련
.dim{overflow:hidden; position:fixed;display:none; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.7);  z-index:20; text-indent:-9999px;}
