@font-face { font-family: 'noto-kr'; src: url("../../fonts/notokr-thin.eot"); src: url("../../fonts/notokr-thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/notokr-thin.woff2") format("woff2"), url("../../fonts/notokr-thin.woff") format("woff"), url("../../fonts/notokr-thin.ttf") format("truetype"), url("../../fonts/notokr-thin.svg#notokr-thin") format("svg"); font-weight: 100; font-style: normal; }
@font-face { font-family: 'noto-kr'; src: url("../../fonts/notokr-light.eot"); src: url("../../fonts/notokr-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/notokr-light.woff2") format("woff2"), url("../../fonts/notokr-light.woff") format("woff"), url("../../fonts/notokr-light.ttf") format("truetype"), url("../../fonts/notokr-light.svg#notokr-light") format("svg"); font-weight: 200; font-style: normal; }
@font-face { font-family: 'noto-kr'; src: url("../../fonts/notokr-demilight.eot"); src: url("../../fonts/notokr-demilight.eot?#iefix") format("embedded-opentype"), url("../../fonts/notokr-demilight.woff2") format("woff2"), url("../../fonts/notokr-demilight.woff") format("woff"), url("../../fonts/notokr-demilight.ttf") format("truetype"), url("../../fonts/notokr-demilight.svg#notokr-demilight") format("svg"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'noto-kr'; src: url("../../fonts/notokr-regular.eot"); src: url("../../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/notokr-regular.woff2") format("woff2"), url("../../fonts/notokr-regular.woff") format("woff"), url("../../fonts/notokr-regular.ttf") format("truetype"), url("../../fonts/notokr-regular.svg#notokr-regular") format("svg"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'noto-kr'; src: url("../../fonts/notokr-medium.eot"); src: url("../../fonts/notokr-medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/notokr-medium.woff2") format("woff2"), url("../../fonts/notokr-medium.woff") format("woff"), url("../../fonts/notokr-medium.ttf") format("truetype"), url("../../fonts/notokr-medium.svg#notokr-medium") format("svg"); font-weight: 500; font-style: normal; }
@font-face { font-family: 'noto-kr'; src: url("../../fonts/notokr-bold.eot"); src: url("../../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/notokr-bold.woff2") format("woff2"), url("../../fonts/notokr-bold.woff") format("woff"), url("../../fonts/notokr-bold.ttf") format("truetype"), url("../../fonts/notokr-bold.svg#notokr-bold") format("svg"); font-weight: 600; font-style: normal; }
@font-face { font-family: 'noto-kr'; src: url("../../fonts/notokr-black.eot"); src: url("../../fonts/notokr-black.eot?#iefix") format("embedded-opentype"), url("../../fonts/notokr-black.woff2") format("woff2"), url("../../fonts/notokr-black.woff") format("woff"), url("../../fonts/notokr-black.ttf") format("truetype"), url("../../fonts/notokr-black.svg#notokr-black") format("svg"); font-weight: 700; font-style: normal; }


// @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);



/*로보토*/

@font-face{
    font-family:'Roboto';
    font-style: lighter;
    font-weight: 300;
    src:url(../../fonts/Roboto-Light.woff2) format('woff2'),
        url(../../fonts/Roboto-Light.woff) format('woff'),
        url(../../fonts/Roboto-Light.ttf) format('truetype');
}
@font-face{
    font-family:'Roboto';
    font-style: lighter;
    font-weight: 300;
    src:url(../../fonts/Roboto-Light.woff2) format('woff2'),
        url(../../fonts/Roboto-Light.woff) format('woff'),
        url(../../fonts/Roboto-Light.ttf) format('truetype');
}
@font-face{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    src:url(../../fonts/Roboto-Medium.woff2) format('woff2'),
        url(../../fonts/Roboto-Medium.woff) format('woff'),
        url(../../fonts/Roboto-Medium.ttf) format('truetype');
}
@font-face{
    font-family:'Roboto';
    font-style: bold;
    font-weight: 700;
    src:url(../../fonts/Roboto-Bold.woff2) format('woff2'),
        url(../../fonts/Roboto-Bold.woff) format('woff'),
        url(../../fonts/Roboto-Bold.ttf) format('truetype');
}

.color-point1{color:$point1;}
.color-black{color:#000 !important;}


.tit-v1{font-size:3rem;}
.tit-v2{font-size:2.4rem;}
.tit-v3{font-size:2.1rem;}

.txt-v1{font-size:1.7rem;}
.txt-v2{font-size:1.4rem;}
.txt-v3{font-size:1.3rem;}


// mh 추가 common
.fl{float:left !important;}
.fr{float:right !important;}

.ft{font-family:$font-normal!important;}
.ft-300{font-weight:$light!important}
.ft-500{font-weight:$medium!important}
.ft-600{font-weight:$bold!important}

.ft-light{font-weight:$light!important}
.ft-medium{font-weight:$medium!important}
.ft-bold{font-weight:$bold!important}
