

.plus-btn{float:right; position:  relative; margin-top:6px; padding-right:30px; font-size: 1.7rem; color:$grey5; text-decoration: none; box-sizing:border-box; vertical-align:middle;}
.button-v1{display:inline-block; height:42px; padding:0 20px; border-radius:4px; color:#fff; background-color:$point1; font-weight:$medium; line-height:42px;
    &.type-border{border:1px solid $point1; background-color:#fff; color:$point1;}
    &__wrap{display:inline-block; position:relative; box-sizing:border-box;
        &.type-check{padding-right:30px; text-align:left;
            &:after{display:block; position:absolute; top:0; bottom:0; right:0; width:15px; height:10px; margin:auto 0; background:url('../../img/mobile/common/certify_bg.png') no-repeat center center / contain; content:'';}
        }
    }
}

.button-v2{display:inline-block; height:36px; padding:0 20px; border-radius:4px; color:#fff; background-color:#000; font-weight:$medium; line-height:36px;
    &.type-border{border:1px solid $point1; background-color:#fff; color:$point1;}
    &.type-grey,&.is-disabled,&:disabled{background-color:$grey4; border-color:$grey4; color:#fff;}
    &.type-point,&.is-active{background-color:$point1; color:#fff;}
}
.button-v3{display:inline-block; position:relative; padding-right:30px; color:$grey5;
    &.type-mt{margin-top:6px;}
}

.button-default{display:block; height:50px; line-height:50px; border:1px solid $grey3; color:$grey5; font-weight:$medium; border-radius:4px; text-align:center;
    &.type-black,&.is-active{background:#000; color:#fff; border-color:#000;}
    &.type-point{background:$point1; color:#fff; border-color:$point1;}
    &.type-radius{border-radius:25px;}
    &.is-disabled,&:disabled{background-color:$grey4; border-color:$grey4; color:#fff;}
    &__wrap{display:inline-block; position:relative; box-sizing:border-box;
        &.type-arrow{padding-right:20px;
            &:after{display:block; position:absolute; top:0; bottom:0; right:0; width:9px; height:17px; margin:auto 0; background:url('../../img/mobile/common/btn_arrow.png') no-repeat center center / contain; content:'';}
        }
        &.type-plus{padding-right:30px;}
        &.type-replay{padding-left:30px;
            &:before{display:block; position:absolute; top:0; bottom:0; left:0; width:20px; height:20px; margin:auto 0;
                background:url('../../img/mobile/common/replay_icon_m.png') no-repeat center center / contain; content:'';}
        }
    }
    &.type-confirm{display:none;}
    &.type-encar{border-color:$encar; background-color:$encar; color:#fff;}
    &.type-kb{border-color:$kb; background-color:$kb; color:#fff;}
    &.type-aj{border-color:$aj; background-color:$aj; color:#fff;}
    &.type-mpark{border-color:$mpark; background-color:$mpark; color:#fff;}
    &.type-kakao{background:url(../../img/mobile/login/btn_bg_kko.png) #ffe500 no-repeat center left  20px /20px 19px; border-color:#ffe500; color:#3c1e1e;}
    &.type-facebook{background:url(../../img/mobile/login/btn_bg_fb.png) #3b579d no-repeat center left  20px /20px 20px; border-color:#3b579d; color:#fff;}
    &.type-white{background-color:#fff; color:$grey5;}
}




.checkbox-v1{ overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
    & + label{position: relative;  display: inline-block; margin-bottom: 0; margin-left: 0; padding-left: 40px; cursor: pointer; vertical-align:middle;
        &:before{position: absolute; top: 1px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 20px; height: 20px; margin: auto;
            border: 1px solid #d8d8d8; content: ''; border-radius: 3px; cursor: pointer;}
    }
    &__box{padding:15px 20px; box-sizing:border-box;}
    &:checked{
        & + label{color:$point1;
            &:before{background:url('../../img/mobile/common/check_icon.png') $point1 no-repeat center center / 14px 10px; border-color:$point1;}
        }
    }
}

.radio-v1{ overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
    $this:&;
    &.type-b-select{
        & + label{display:block; padding:15px 20px 15px 60px;
            &:before{left:20px;}
        }
        &:checked{
            & + label{color:$point1;
                &:after{left:25px;}
            }
        }
    }
    & + label{position: relative;  display: inline-block; margin-bottom: 0; margin-left: 0; padding-left: 40px; cursor: pointer; vertical-align:middle;
        &:before{position: absolute; top: 1px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 20px; height: 20px; margin: auto; border-radius:50%;
            border: 1px solid #d8d8d8; content: ''; cursor: pointer;}
    }
    &__box{padding:15px 20px; box-sizing:border-box;}
    &:checked{
        & + label{
            &:after{position:absolute; top:1px; bottom:0; left:5px; width: 10px; height: 10px; margin:auto;  background:$point1; border-radius:50%; content:'';}
        }
    }
}

.radio-v2{position: absolute;width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;
    &__tit{color:#000;}
    &__txt{margin-top:16px; color:#888; line-height:1.6;}
    &__label{display:block; padding:26px 20px; border:1px solid #ddd; border-radius: 4px; box-sizing:border-box; background-color:#fff;}
    &__wrap{position:relative; padding-left:40px;
        &.type-new{ background:url('../../img/mobile/mycar/key_icon.png') no-repeat left top 4px/ 20px 20px;}
        &.type-used{background:url('../../img/mobile/mycar/panel_icon.png') no-repeat left top 4px/ 20px 18px;}
    }
}

.input-v1{width:100%; height:40px; padding:0 14px; border:1px solid #ddd; border-radius:5px; line-height:38px;  @include vendor('appearance','none'); font-size:14px; color:#888; font-weight:$medium; box-sizing:border-box;
    &.type-unit{padding-right:40px;}
}
.input-v2{width:100%;padding:10px 0;border-bottom:1px solid #ddd;
    &:focus{border-bottom:1px solid #000;}
    //포커스 css 막기
    &.block-focus{color:$grey5;
        &:focus{border-bottom:1px solid $grey3;}
    }
    //오류시 빨간 보더
    &.error{border-bottom:1px solid #FF5D54;}
    //회원가입 인증번호 -
    &.type-certify{width:calc(100% - 170px );}
    //텍스트 중간정렬 input
    &.type-center{text-align: center;}
    //기입력된 정보로 css 없애기
    &.type-clear{border-bottom:2px solid transparent;}
    //input 두줄이 연이어 나올때
    &.type-tworow{
        & + &{margin-top:8px;}
    }
    @include placeholder-color(#ccc);
}
.checkbox-v2{ overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
    & + label{position: relative;  display: inline-block; margin-bottom: 0; margin-left: 0; padding-left: 30px; cursor: pointer; font-size: 1.7rem; color: #888; vertical-align:middle; font-weight:$light;
        &:before{position: absolute; top: 1px; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 20px; height: 20px; margin: auto; background:#fff;
            border: 1px solid #ddd; content: ''; border-radius: 3px; cursor: pointer;}
    }
    &:checked{
        & + label{
            &:before{background:url('../../img/mobile/common/check_icon.png') $point1 no-repeat center center / 14px 10px; border-color:$point1;}
        }
    }
}

.checkbox-only{ overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
    & + label{position: relative;  display: inline-block; margin-bottom: 0; margin-left: 0; width:100%; height:100%; cursor: pointer;font-size:0;
        &:before{position: absolute; top: 10px; left: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 15px; height: 15px; margin: auto; background-color:#fff;
            border: 1px solid #ddd; content: ''; border-radius: 3px; cursor: pointer;}
    }
    &:checked{
        & + label{
            &:before{background:url('../../img/mobile/common/check_icon.png') $point1 no-repeat center center / 14px 10px; border-color:$point1;}
        }
    }
}

.select-v1{ width:100%; height:42px; padding:0 20px; border:1px solid #ddd; border-radius: 4px;  line-height:42px; @include vendor('appearance','none');
    background:url('../../img/mobile/mycar/toggle_icon_m.png') #fff no-repeat center right 20px / 15px 9px; font-size:1.7rem; color:#888; font-weight:$medium; font-family:$font-normal;
    &::-ms-expand { display: n one; }
    &:hover{border-color:$point1;}
    &:focus{border-color:#000; color:#000;}
    // &.is-check{border-color:#000; color:#000;}
    &.error{border-color:#FF5D54;
        &:focus{border-color:#000; color:#000;}
    }
    &:disabled{background-color:#f5f5f5; color:#ddd;}
    option{color:#888;
        &:hover{border-color:$point1;}
    }
    &.type-d3{padding:0 15px; background: url(../../img/mobile/mycar/toggle_icon_m.png) #fff no-repeat center right 15px/15px 9px;}
}


.select-v2{ width:100%; height:40px; padding:0 14px; border:1px solid #ddd; border-radius: 5px;  line-height:38px; @include vendor('appearance','none');
    background:url('../../img/mobile/common/select_arrow_v2.png') #fff no-repeat center right 14px / 15px 8px; font-size:1.7rem; color:#888; font-weight:$medium; box-sizing:border-box;
    font-family: $font-normal;
    &::-ms-expand { display: none; }
    &:hover{border-color:$point1;}
}

.tab-v1{float:right; margin-top:6px;
    $this:&;
    &__list{margin:0; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; list-style:none;
        & + &{margin-left:15px; padding-left:16px; box-sizing:border-box;
            &:before{display:block; position:absolute; top:0; left:0; bottom:0; width:0; height:13px; margin: auto 0; border-left:1px solid #ddd; content:'';}
        }
        &.is-active{
            #{$this}__link{ color:$point1;}
        }
    }
    &__link{font-weight:$medium; color:#888; text-decoration:none;}
    &__content{display:none;
        &.is-active{display:block;}
    }
}

.tab-v2{margin-top:30px;
    $this:&;
    &__header{position:relative;  z-index:10;}
    &__list{margin:0 ; padding:0 20px; border-bottom:2px solid #dddddd; font-size:0; box-sizing:border-box;}
    &__item{position:relative; display:inline-block;
        & + &{margin-left:20px;}
        &.is-active{
            &:after{content:""; width:100%; height:2px;position:absolute; bottom:-2px; left:0; background-color:$point1;}
            #{$this}__link{color:$point1;}
        }
        &.type-btn{position:absolute; right:20px;
            #{$this}__link{display:block; padding:0 12px 0 0;
                &::after{position:absolute; top:7px; right:0; display:block; width:7px; height:4px; background:url('../../img/mobile/common/select_arrow.png') no-repeat center center /contain; content:'';}
            }
        }
    }
    &__link{position:relative; display:block; padding-bottom:16px; color:#888; text-decoration:none;}
}


.table-v1{position:relative; width:100%; margin-top:36px; padding:0; border-spacing:0px; border:0; border-collapse:collapse;
    $this:&;
    &:before{position:absolute; display:block; width:100%; height:0; border-top:1px solid #000; content:'';}
    &__width{width:33.33%;}
    &__row{
        &:first-child{
            #{$this}__th{ background:#f5f5f5; text-align:center;}
        }
    }
    &__th,&__td{padding:12px; border:1px solid $grey3; color:#000;  text-align:left; border-left:none; border-right:none;}
    &__th{font-weight:$medium; background:#fafafa;
        & + &{border-left:1px solid $grey3;}
    }
    &__td{font-weight:$light;
        & + &{border-left:1px solid $grey3;}
    }
    &__td{box-sizing:border-box;}
    &__caption{margin-top:16px; color:#000;
        #{$this}__noti{margin-top:4px;}
    }
    &__noti{display:block; color:$grey5;}
}
.input-errortxt{margin-top:8px; font-weight:$light;color:$red;}
