

/*input 초기화*/
input:focus { outline: none; }

input:focus, select:focus, textarea:focus{outline:0 ; box-shadow:none; /*border:0;*/}

input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
             -webkit-border-radius: 0;
    border: 0;
    font-family:$font-normal;
}
*{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {margin:0;font-family: $font-normal;font-weight:$medium;}
p{margin:0; word-break: keep-all;}
ul,ol,li{margin: 0;padding:0; list-style: none;}
a, button{border:0; outline:0;background:transpatrent;cursor:pointer;-webkit-tap-highlight-color:transparent;}
a{text-decoration:none; color:inherit;}

//버튼초기화
button{padding:0;border:none;cursor:pointer;overflow:visible;font-family: $font-normal; white-space: nowrap;background-color:transparent;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text]::-ms-clear {
  display:none;
}
