.img-normal{vertical-align:middle;}
.img-w100{width:100%; vertical-align:middle;}
.img-center{position:absolute; top:50%; left:50%; width:100%; @include vendor('transform','translate(-50%,-50%)');}
.sr-only { position: absolute;width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}

.clb:after{display:block; clear:both; content:'';}

.ellipsis{overflow:hidden; white-space:nowrap; text-overflow: ellipsis; word-wrap: normal;}
.ellipsis2{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;word-wrap:break-word;word-break:keep-all;}//2줄 텍스트 줄임
.bld{display:none!important;}
.relative{position:relative;}
.fl{float:left !important;}
.fr{float:right !important;}
.bld{display:none!important;}

.site-padding{padding-left:$sitePadding !important; padding-right:$sitePadding !important;}

.vertical-outer{display:inline-table; width:100%; height:100%;}
.vertical-inner{display:table-cell; width:100%; height:100%; vertical-align:middle;}
.vt-middle{vertical-align:middle;}

.inline-block{display:inline-block;}
.w-xs{width:150px;}
.w-s{width:180px;}
.w-l{width:320px;}
.w-100{display:block; width:100%;}
