@charset "UTF-8";
@import "mixins";


//로그인
html{height:auto;}
.body{
    &__type-login{background-repeat: no-repeat;background-position:center;background-image:url("../../img/mobile/login/login_bg.jpg"); background-size:cover;}
    @for $i from 1 through 24 {
    .type-bg#{$i} {background-image:url("../../img/mobile/login/login_bg_#{$i}.jpg");}
}

}
.logininput{width:100%;padding:15px 0;background-color:transparent;
        &.type-login{border-bottom:2px solid rgba(255, 255, 255,0.5);color:#fff;
            @include placeholder-color(rgba(255, 255, 255,0.5));
        }
        &:focus{border-bottom:2px solid #fff;}
}

.loginbox{width:100%;padding:60px 0 0 0 ;
    &__tit{margin-bottom:20px;line-height:38px;font-weight:$medium;color:#fff;
        //&__point{font-weight:$medium;}
    }
    //로그인폼
    &__btn{width:100%;margin:30px 0 20px 0;border:none;background:#ccc; color:#fff;
        &.is-active{background-color:#000;}
    }
    &__findbox{display:inline-block;position:relative; color:#fff;
        &__id{color:#fff;}
        &__pw{color:#fff;
            &.type-before:before{content:""; display:inline-block;width:1px; height:10px;margin:0 10px;background-color:#fff;}
        }
    }
    &__inputwrap + &__inputwrap{margin-top:10px;}
}
