@charset "UTF-8";
@import "mixins";

.main{ box-sizing:border-box;
    &__tit{display:inline-block; max-width:322px; width:100%; margin:80px 0 0 0; }
    &__txt{margin:34px 0 0 0; color:#888; font-weight:$medium; font-style: italic; line-height:1.4;}
}
.main-search{display:inline-block; position:relative; width:100%; margin-top:54px;
    &__input{width:100%; height:50px; padding:0 40px 0 20px; box-sizing:border-box; border-radius:24px; border:1px solid #dddddd; color:#000; font-family: $font-normal; line-height:50px;
        @include placeholder-color(#aaa); outline:0;
    }
    &__btn{position:absolute;}
    &__btn{display:block; position:absolute; top:0; bottom:0; right:20px; width:20px; height:50px; margin:auto 0; border:none;
        background:url('../../img/mobile/main/main_search_icon.png') no-repeat center center / 20px 20px; font-size:0; outline:0; cursor:pointer;
    }
    &__link{display:block; overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:20; text-indent:-9999px;}
}


.hash-banner{
    &__list{overflow:hidden; margin:20px -20px 0 0; padding:0 20px 0 0; font-size:0; box-sizing:border-box; }
    &__item{display:inline-block; width:280px; list-style:none;
        & + &{margin-left:20px;}
    }
    &__wrap{overflow:hidden; position:relative; border-radius:4px;}
    &__box{position:absolute; bottom:0; left:0;  width:100%; padding:20px; box-sizing:border-box;}
    &__tit{margin:0; color:#fff; font-weight:$medium;}
    &__txt{margin:4px 0 0 0; color:#fff; font-weight:$medium;}
    &__link{display:block; overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:1; text-indent:-9999px;}
}


.summary{
    &__list{margin:-8px 0 0 0; padding:0;}
    &__item{position:relative;  margin-top:20px; padding:24px 20px; border:1px solid #ddd; border-radius:4px; list-style:none; box-sizing:border-box;}
    &__wrap{position:relative; padding:0 0 0 110px; box-sizing:border-box;
        & + &{margin-top:20px;}
    }
    &__thumbnail{position:absolute; top:0; left:0; bottom:0; width:90px; height:90px; margin:auto 0;}
    &__inner{overflow:hidden; position:relative; width:100%; height:100%; border-radius:50%;}
    &__img{position:absolute; top:50%; left:50%; @include vendor('transform','translate(-50%,-50%)');height:100%;}
    &__rank{display:block; position:absolute;  top:-6px; left:-6px; width:40px; height:40px; line-height:40px; border-radius:50%; text-align:center; color:#fff; font-weight:$medium; z-index:10;
        &.type-a{background:$point1;}
        &.type-b{background:#00c01e;}
        &.type-c{background:#feca06;}
        &.type-d{background:#ff8c05;}
        &.type-e{background:#000;}
    }
    &__tit{display:-webkit-box; overflow:hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; margin:0; line-height:1.4; font-weight:$medium; color:#000;}
    &__txt{margin:16px 0 0 0;  color:#888; font-size:0;
        & + &{margin-top:10px;}
        & + & + &{margin-top:6px;}
    }
    &__hash{font-size:13px;
        & + &{margin-left:3px;}
    }
    &__price{position:absolute; top:-2px; left:0; width:90px; margin:0; font-weight:$medium; text-align:center;}
    &__number{color:#888; font-weight:$medium; font-family: $font-roboto;}
    &__unit{color:#888; font-weight:$light;}
    &__link{display:block; overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; text-indent:-9999px;}
    &__btn{margin-top:20px;}
    @media only screen and (max-width: $iphone-size) {
        &__item{padding-left:14px; padding-right:14px;}
        &__wrap{padding-left:104px}
    }
}

.main-plan{overflow:hidden; margin-top:16px;
    &__list{margin:0 0 0 -10px; padding:0; font-size:0; }
    &__item{display:inline-block; width:50%; padding-left:10px; list-style:none;  box-sizing:border-box; outline:0; vertical-align:top;
        &:nth-child(2) ~ &{margin-top:20px;}
    }
    &__wrap{position:relative;}
    &__tit{margin:14px 0 0 0; font-weight:$medium; line-height:1.3; color:#000;}
    &__img{overflow:hidden; border-radius:4px;}
    &__link{overflow:hidden; display:block; position:absolute; top:0; left:0; width:100%; height:100%; z-index:1; text-indent:-9999px; outline:0;}
}
