@charset "UTF-8";
@import "mixins";
@import "mycar/step";


// 1페이지
.mycar1__header{padding:50px 0;background-color:#0d5efe;}
.mycar1__header__tit{line-height: 20px; margin-bottom: 18px;}
.mycar1__header__img{width:188px;}

.mycar1__header__sub-tit{line-height: 32px;color:#fff;margin-bottom:55px;}
.mycar1__input{position:relative;}
.mycar1__header__input{position:relative;}
.mycar1__header__input__tit{font-weight:300;color:#fff;}
.mycar1__header__example{line-height:50px;color:#abc7ff;background-image:url(../../img/mobile/mycar/search_m.png);background-size:20px 20px;background-position:100% 50%;background-repeat:no-repeat;border-bottom:2px solid #fff;margin-bottom:20px;}
.mycar1__header__link{display: block;width:100%;height:100%;position:absolute;top:0; left:0;}
.mycar1__header__sub-txt{color:#abc7ff;font-weight:300;}
.mycar1__header__sub-txt__link{color:#fff;font-weight:300;}
.mycar1__cont {padding:45px 0 0 0;background-color:#fff;}
.mycar1__cont__tit{font-weight:500;color:#000;margin-bottom:15px;letter-spacing: -0.5px;}
.recommend-box{border:1px solid #ddd;border-radius:4px;padding:26px 20px;margin-bottom:25px;}
.recommend-box:last-child{margin-bottom:0;}
.recommend-box__tit{color:#333;margin-bottom:14px; background-size:40px;background-position:0;background-repeat: no-repeat;margin-bottom:14px;padding-left:53px;height:42px;line-height:1.2;font-weight: 500;color:#333;}
.recommend-box__info{padding-left:53px;}
.recommend-box__line{font-weight:300;color:#888;margin-bottom:6px;}
.recommend-box__info__list-wrap{margin-bottom:17px;}
.recommend-box__line:last-child{margin-bottom:0;}
.recommend-box__price{font-weight:300;color:#888;line-height: 16px;}
.recommend-box__price-value{font-weight:500;}
.recommend-box__price-score{color:#0d5efe;font-weight:500;}





// 결과페이지
.mycar-result{
    padding:60px 0 0px 0;
    background-color:#f8f9fa;
}



.mycar-result__cont__tit{
    line-height:16px;
    color:#000;
}

.mycar-result__common-box{
    padding:42px 20px 50px 20px;
    border-radius: 12px;
    background-color:#fff;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(12, 12, 12, 0.05);
    -moz-box-shadow: 0px 5px 20px 0px rgba(12, 12, 12, 0.05);
    box-shadow: 0px 5px 20px 0px rgba(12, 12, 12, 0.05);
}

.mycar-result__tag_area{
    margin-bottom: 15px;
}
.mycar-result__tag_area__tag{
    display: inline-block;
    height:27px;
    line-height:27px;
    padding:0 10px;
    border-radius: 4px;
    vertical-align:top;
}

.mycar-result__tag_area__tag.type-blue{
    background-color:#0d5efe;
    color:#fff;
}
.mycar-result__tag_area__tag.type-white{
    border:1px solid #0d5efe;
    background-color:#fff;
    color:#0d5efe;
}

.mycar-result__header__tit{
    font-weight:500;
    line-height: 1.4;
    color:#000;
}
.mycar-result__toggle-area__toggle-button{

    background-image:url(../../img/mobile/mycar/toggle_icon_m.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size:15px;

    line-height:44px;
    color:#888;

}
.mycar-result__toggle-area__toggle-box{
    display: none;
}
.mycar-result__toggle-area__toggle-box__toggle-info{
    margin-bottom:10px;
    line-height:22px;
    color:#888;
}
.mycar-result__toggle-area__toggle-box__toggle-info__num{
    color:#000
}


.mycar-result__evaluation{margin:40px 0;}

.mycar-result__header__sub-txt{
    color:#888;
    line-height:22px;
}
.mycar-result__header__sub-txt__link{
    color:#000;
}
.mycar-result__evaluation__header{
    line-height:24px;
    margin-bottom:31px;
}
.mycar-result__evaluation__tit{
    display:inline;
    line-height:34px;
    color:#333;
}
.mycar-result__evaluation__score{
    opacity:0;
    color:#0d5efe;
    transition:all .4s;
    -webkit-transition:all .4s;
}
.mycar-result__cont__price{
    display:block;
    line-height:73px;
    color:#0d5efe;
}

.mycar-result__cont__price{
    opacity:0;
    transition:all .4s;
}
.mycar-result__cont__price-txt{
    margin-top:3px;
    line-height:22px;
    color:#888;

}

.mycar-result__cont__chart-box{
    padding:32px 0 41px 0;
    opacity:0;
    transition:all .4s;
}
.mycar-result__cont__chart-inner{
    margin:0 auto;
    position:relative;
    margin-bottom:26px;
}
.mycar-result__cont__chart-inner__label{
    display: block;
    position:absolute;
    color:#888;

}
.mycar-result__cont__chart-inner__label.type-1{/*주행거리*/
    top:-2px;
    left:50%;
    margin-left:-26px;
}
.mycar-result__cont__chart-inner__label.type-2{/*사고이력*/
    top:47px;
    left:-26px;
}
.mycar-result__cont__chart-inner__label.type-3{/*용도변경*/
   bottom:7px;
    right:-13px;
}
.mycar-result__cont__chart-inner__label.type-4{/*특수사고*/
    bottom:7px;
    left:-13px;
}
.mycar-result__cont__chart-inner__label.type-5{/*피해금액*/
  top:47px;
    right:-26px;
}

.mycar-result__cont__control-box{
    text-align: center;
    line-height:12px;
}
.mycar-result__cont__control-box.type-circle{
     margin-top:20px;
}
.mycar-result__cont__control:before{
    content:"";
    margin-right:7px;
    width:12px;
    height:12px;
    border-radius: 50%;
    display: inline-block;

}
.mycar-result__cont__control.type-mine{ margin-right:20px;}
.mycar-result__cont__control.type-mine:before{
    background-color:#0d5efe;

}
.mycar-result__cont__control.type-average:before{
    background-color:#b2b2b2;
}




.mycar-result{
    &__btn{
        & + &{margin-top:20px;}
    }
}


/*비교 영역*/
.mycar-result__common-box{
    margin-bottom:20px;
}
.compare-area__tit{
    line-height:30px;
    color:#333;
    margin-bottom:16px;
}


.mycar-result .compare-area .sub_txt{
    margin-top:3px;
    line-height:22px;
    color:#888;

}
.compare-area__inner-box.type-1{
    margin-bottom:32px;
}

.mycar-result__circle-chart{
    margin:40px 0 30px 0;
    text-align: center;
}


.mycar-result__circle-box{
    display:table-cell;
    width:1%;
    text-align:center;
    vertical-align:middle;
}

.mycar-result__circle__origin{
    display:inline-block;
    font-size:1.2rem;
    color:#fff;
    text-align: center;
    border-radius: 50%;
}

.mycar-result__circle__origin.type-mine{
    /* right:50%; */
    margin-right:-18px;
    background-color: rgba(13, 94, 254, 0.8);
    vertical-align:middle;

}
.mycar-result__circle__origin.type-average{
    /* left:50%; */
    margin-left:-18px;
    background-color: rgba(102, 102, 102, 0.5);
    vertical-align:middle;

}
.mycar-result__header__sub-txt.type-info{
    margin-top:15px;
    line-height:1.7;

}
