@charset "UTF-8";
@import "mixins";
.profile{position:relative;
    &__thumbnail{overflow:hidden; position:relative; width:inherit; height:inherit; border-radius:50%;}
    &__wrap{position:relative; width:60px; height:60px;}
    &__img{display:block; position:absolute; top:50%; left:50%; width:100%; height:100%; @include vendor('transform','translate(-50%,-50%)');}
    &__box{position:absolute; top:50%; left:0; width:100%; padding-left:80px; padding-right:100px; box-sizing:border-box; @include vendor('transform','translateY(-50%)');}
    &__name{margin:0; color:#333;}
    &__email{margin:4px 0 0 0;}
    &__btn{margin-left:6px; color:#888;}
    &__plus{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; font-size:0;
        &:after{display:block; position:absolute; bottom:0; right:0;  width:20px; height:20px; background:url('../../img/mobile/mypage/black_plus.png') no-repeat center center / contain; content:''; }
    }
    &__logout{position:absolute; top:0; right:0; bottom:0; margin:auto 0;}
}
