@charset "UTF-8";
@import "mixins";
.quality{
    $this:&;
    &__dl{margin:0;}
    &__dt{color:#000;}
    &__dd{margin:20px 0 0 0; color:#000; line-height:1.86; box-sizing:border-box;
        & + #{$this}__dt{margin-top:34px;}
    }
}

.quality-header{padding:60px 0; background:$point1; color:#fff;
    &__subtit{margin-bottom:16px; color:rgba(255,255,255,0.5);}
    &__txt{margin-top:14px; line-height:1.4; font-weight:$light;}
    &__wrap{position:relative;}
    &__box{position:relative; margin:24px auto 0;  padding:30px 10px; box-sizing:border-box;
        &:before,&:after{position:absolute; top:0; display:block; width:20px; height:20px; background:url('../../img/mobile/quality/slot_border.png') no-repeat center center / 20px 20px; content:'';}
        &:before{left:0;}
        &:after{right:0; @include vendor('transform','rotate(90deg)');}
    }
    &__vertical{
        &:before,&:after{position:absolute; bottom:0; display:block; width:20px; height:20px; background:url('../../img/mobile/quality/slot_border.png') no-repeat center center / 20px 20px; content:'';}
        &:before{left:0;  @include vendor('transform','rotate(270deg)');}
        &:after{right:0; @include vendor('transform','rotate(180deg)');}
    }
}

.quality-bar{margin-top:34px;
    $this:&;
    &__tit{color:#000;}
    &__box{margin-top:20px;}
    &__list{margin:0; padding:0;}
    &__item{position:relative;
        & + &{margin-top:36px;}
        &.type-one{
            #{$this}__tit{top:0px;}
        }
    }
}



.quality-info{
    &__tit{margin-bottom:24px; color:#000;}
    &__list{margin:0; padding:0;}
    &__item{color:#000;
        & + &{margin-top:14px;}
    }
}
