@charset "UTF-8";
@import "mixins";

//회원가입

//간단푸터 회원가입 페이지에서만 검정색상
.footer__item.type-terms .footer__link{color:#000;}

.register{width:462px;margin:0 auto;padding:100px 0 0 0 ;
    &__tit{margin:50px 0 40px 0;color:$grey5;text-align:center;}
    &__subtit{color:#000;
        &.type-titv1{margin-bottom:18px;}
        &__sub{margin-bottom:3px;font-weight:$light;color:$grey5;}
    }
    &__infotxt{line-height:22px;margin-top:25px;font-weight:$light;color:$grey5;
        &__link{font-weight:$medium;color:$grey5;text-decoration: none;}
    }
    &__label{display:block;margin-bottom:15px;color:#000;}
    &__inputwrap{
        &.type-3{display:inline-block;position:relative;width:33.3%;padding-left:45px;
            &.type-before:before{content:""; display:inline-block; position:absolute;left:20px;top:23px;width:10px; height:1px; background-color:#ddd;}
            &.type-birth{
                &:after{content:"";display:inline-block;position:absolute;left:100%;width:116px;height:46px;background:url('../../img/mobile/login/birth_bg.png') no-repeat center right 0px / 116px 46px; }
            }
        }
    }
    &__innerbox{margin-left:-45px;font-size: 0;
        &.type-birth{color:$grey5;}
        &.type-certify{margin:20px 0 0 0}
        &.type-marriage{margin-left:-40px;}
    }
    &__certify__btn{display:inline-block; width:150px; height:42px; line-height:40px; font-weight:$medium; color:#fff;  background:$point1; text-align:center; border-radius:4px;border:1px solid $point1;
        &.is-during{background-color:#fff;color:$point1;}
        &.is-done{padding-right:27px;background:url('../../img/mobile/login/certify_bg.png') #fff no-repeat center right 16px / 11px 8px;color:$point1;}
    }
    &__submit{ margin-top:50px}
    &__m-wrap{display:inline-block;margin-left:40px;}
    &__errorinfo{margin-top:8px; font-weight:$light;color:#ff5d54;}
    &.type-result{width:652px;padding:120px 0 0 0 ;}
}

.registerform{
    &__item{overflow: hidden;
        & + &{margin-top:30px;}
    }
}

.register-r{text-align: center;
    &__img{width:60px;margin-bottom:12px;}
    &__tit{margin-bottom:15px; color:#000;}
    &__txt{line-height:28px;margin-bottom:50px; color:#000;
        &__point{ color:$point1;white-space: pre;}
        &.type-top{margin-bottom:8px; }
    }
    &__txtbox{margin-top:30px;}
    &__txt__sub{line-height:24px; color:$grey5;
        & + &{margin-top:10px;}
    }
    &__btnwrap{margin:-10px 0 0 0;}
    &__btninbox{margin-top:10px;}
}

.register-result{padding:60px 0 0 0;text-align: center;}

//셀렉트 막기

.js-select{display:inline-block;position:relative;width:100%;
    &.block-focus:after{content:""; display:block;position:absolute;top:0;left:0; width:100%; height:100%;}
}
