@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "search/theme";
.search-menu{position:fixed; top:0; bottom:0; right:-100%; width:100%; height:100%; background:#fff; z-index:200; transition:0.5s;
    &.is-active{right:0;}
    &__top{position:relative; height:60px; line-height:60px; padding:0 60px 0 20px; box-sizing:border-box;
        &:after{display:block; clear: both; content:'';}
    }
    &__scroll{overflow:auto; width:100%; height:100%; padding-bottom:80px; box-sizing:border-box;}
    &__back{display:inline-block; overflow:hidden; width:20px; height:100%; background:url('../../img/mobile/common/back_arrow.png') no-repeat center center / 20px 17px; border:none; outline:0; text-indent:-9999px; cursor:pointer; vertical-align:top;}
    &__tit{display:inline-block; margin-left:20px; padding-top:22px; font-weight:$medium; color:#000; line-height:1;}
    &__reset{display:block; position:absolute; right:20px; top:0; width:20px; height:100%; background:url('../../img/mobile/common/reset_icon.png') no-repeat center center / 18px 18px; border:none; outline:0; text-indent:-9999px; cursor:pointer;}
    &__box{margin-top:20px; border-top:4px solid #f8f9fa;}
    &__header{position:relative; padding:16px 20px; box-sizing:border-box; color:#000; font-weight:$medium;}
    &__body{padding:0 20px 20px;}
    &__list{margin:0; padding:0;
        &.is-hide{display:none;}
    }
    &__item{border-bottom:1px solid #ddd;}
    &__link{display:block; overflow:hidden;position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../img/mobile/common/next_arrow.png') no-repeat center right 20px / 10px 17px; border:none; text-indent:-9999px; cursor:pointer; }
    &__directly{position:absolute; right:20px; border:none; background:transparent; color:#888; text-decoration: underline;}
}

.search-banner{margin-top:20px; margin-left:-$sitePadding; margin-right:-$sitePadding; padding:0 $sitePadding;
    $this:&;
    &__vertical{display:table-cell; width:1%; height:160px; padding-right:20px; vertical-align:middle;}
    &.type-quality{background:url('../../img/mobile/search/tit_banner_1.jpg') #fdf5f4 no-repeat right $sitePadding bottom / contain;
        #{$this}__point{color:#da2432;}
    }
    &.type-price{background:url('../../img/mobile/search/tit_banner_2.jpg') #e2f2ff no-repeat right $sitePadding bottom / contain;
        #{$this}__point{color:#4356cc;}
    }
    &__tit{margin:0; color:#000; font-weight:$bold;}
    &__txt{margin:8px 0 0 0; font-size:15px; color:#000;}
    &__point{font-weight: inherit;}
    & + &{margin-top:0;}
}



.bottom-search{position:fixed; left:0; right:0; bottom:-100px; padding:0 20px; box-sizing:border-box; z-index:250; transition:0.5s; transition-delay:0.3s;
    &.is-active{bottom:20px;}
    &__btn{
        &.type-confirm{display:none;}
    }
}

.search-header{margin-top:30px;
    &__num{color:$point1;}
    &__btn{position:relative; display:block; padding-right:12px; background:transparent; border:none; outline:0; font-weight:$medium !important; font-family:$font-normal !important; cursor:pointer; box-sizing:border-box; color:#888888;
        &.type-no-arrow{padding-right:0;
            &:after{display:none;}
        }
        &.type-icon{width:20px; height:19px; margin-top:2px; background:url('../../img/mobile/common/menu_icon.png') no-repeat center center /contain; padding-right:0; font-size:0;
            &:after{display:none;}
        }
        &:after{position:absolute; top:10px; right:0; display:block; width:7px; height:4px; background:url('../../img/mobile/common/select_arrow.png') no-repeat center center /contain; content:'';}
    }
    &__list{margin:0; padding:0; font-size:0; }
    &__item{position:relative; display:inline-block; list-style:none; line-height:23px; vertical-align:top;
        & + &{margin-left:14px; padding-left:14px; box-sizing:border-box;
            &:before{position:absolute; top:3px;; left:0; width:0px; height:13px; border-left:1px solid #ddd; content:'';}
        }
    }
    &__category{color:#000;}
}






.period-style1{
    &__dl{position:relative;
        & + &{margin-top:10px;}
    }
    &__dt{position:absolute; width:40px; height:40px; line-height:40px;}
    &__dd{margin-left:-20px; padding-left:40px; box-sizing:border-box; font-size:0;}
    &__box{display:inline-block; width:50%; padding-left:20px; box-sizing:border-box;}
}


.period-style2{
    $this:&;
    &__list{margin:30px 0 0 -20px; padding:0; font-size:0;}
    &__item{display:inline-block; width:50%; padding-left:20px; box-sizing:border-box;
        & + &{position:relative;
            &:before{display:block; position:absolute; top:50%;; left:0; width:20px; @include vendor('transform','translateY(-50%)'); text-align:center;
                font-size:13px; color:#000; content:'~';
            }
        }
    }
    &__slider{height:4px; background:#eee;}
    &__check{float:left;  margin-top:20px;}
    &__btn{float:right; margin-top:10px; visibility:hidden; }
    &__box{display:none; position:relative; }
    &__unit{position:absolute; top:3px; right:10px; height:100%; height:38px; line-height:38px; font-size:14px; color:#000;}
    &.is-directly{
        #{$this}__box{display:block;}
        #{$this}__select{display:none;}
        #{$this}__btn{visibility:visible;}
        .noUi-base{display:none;}
    }
}


.tag{display:none;
    $this:&;
    &.type-color{
        #{$this}__name{position:relative; padding-left:30px;
            &:before,&:after{display:block; position:absolute; top:0; left:0; width:20px; height:20px; border:1px solid #ddd; content:''; border-radius:50%;}
            $colors: (1: #fff, 2: #000, 3: #f9f8e3, 4: #585a59, 5: #124280, 6: #c0c0c0, 7: #ff0000 , 8:#75969c, 9: #8e8574, 10: #ffff00, 11: #800080, 12: #3d3624, 13: #808275, 14: #f7f7f5, 15: #1d444b,
            16: #d3d3d3, 17: #fff, 18: #9ab95c, 19: #464741);
            @each $key, $color in $colors {
                &.color-#{$key} {
                    &:before{background-color: $color; border-color: $color;}
                    &:after{display:none;}
                }
            }
            &.color-1,&.color-17{
                &:before{border-color:#ddd;}
            }
            &.color-14{
                &.color-14{
                    &:after{display:block; z-index:10; padding-left:9px; background-color:#464741; background-clip: content-box; box-sizing:border-box;}
                }
            }
        }
    }
    &.is-active{display:block;}
    &__more{padding:16px 20px;}
    &__outer-list,&__inner-list{margin:0; padding:0;}
    &__outer-item,&__inner-item{list-style:none;}
    &__outer-wrap,&__inner-wrap{position:relative; padding:16px 20px;}
    &__outer-item{ border-bottom:1px solid #ddd;
        &.is-active{
            #{$this}__inner-item{display:block;}
        }
    }
    &__inner-item{display:none; border-top:1px solid #ddd;}
    &__inner-wrap{padding-left:44px; background:#f8f9fa;
        &:before,&:after{display:block; left:24px; position:absolute; content:'';}
        &:before{top:27px; width:7px; height:0; border-top:1px solid #888;}
        &:after{top:20px; width:0; height:7px; border-left:1px solid #888;}
        #{$this}__name{color:#888;}
    }
    &__name{font-weight:$medium; color:#000;}
    &__number{position:absolute; top:18px; right:20px;color:#888;}
    &__checkbox{overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
        & + label{cursor:pointer;}
        &:checked{
            & + label{
                #{$this}__name{color:$point1;}
            }
        }
    }
    &__link{display:block; overflow:hidden;position:absolute; top:0; left:0; width:100%; height:100%;
        background:url('../../img/mobile/common/more_arrow.png') no-repeat center right 20px / 15px 8px; border:none; text-indent:-9999px; cursor:pointer; }
}

.noUi-connects{border-radius: 0;}
.noUi-connect{background:#888;}
.noUi-target{border-radius:0; border:none; box-shadow: none;}
.noUi-horizontal .noUi-handle{width:14px; height:14px; right:-7px; border-radius: 50%; background: #fff; border:2px solid #000; cursor:move; outline:0;
    &:before,&:after{display:none;}
}
