@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "reset";

.view{
    &__imgbox{position:relative;width:100%;margin-top:-60px;margin-bottom:25px;
        &:before{content:""; display: block; position:absolute;width:100%; height:100%;background:url(../../img/mobile/view/view_gradation.png) no-repeat center top /cover;z-index: 1;}
    }
    &__img{width:100%;}
    &__cont{padding:35px 0 40px 0;border-top:10px solid #f8f9fa;
        &.type-scoreslot{padding-top:0;border-top:0}
        &.type-info{padding:0;}
        &.cluster{padding-top:0;border-top:0;}

    }
    &__tit{display:inline-block;margin-bottom:18px;color:#000;
        // &.type-tab{padding-right:15px;}
    }



}
.view-info{margin-top:22px;
    &__txt{position:relative;line-height:22px;padding-left:8px;color:#888;
        & + &{margin-top:10px;}
        &:before{content:"·"; display:inline-block;position:absolute;left:0;width:8px;}
    }
}
.view-tab{line-height:33px;margin:0 0 18px -26px;font-size:0;
    &__item{display:inline-block;vertical-align: top;position:relative;margin-left: 26px;color:#888;
        &.type-before:before{content:""; display:inline-block;position:absolute;left:-14px;top:7px;width:1px;height:18px;background-color:#ddd;}
        &.is-active{color:$point1;}
    }
    &__wrap{
        &.type-chart{padding:40px 0 80px 0;background-color:#fafafa;}
    }
}
.tab-page{display:none;
    &.is-active{display:block;}
}

.tab-index{display:none;
    &.is-active{display:block;}
}

.page-tab{

    &__inbox{height:50px;padding:4px; border:1px solid #ddd;border-radius: 25px;margin-bottom:34px;}
    &__list{width:100%;height:100%;}
    &__btn{width:50%;height:100%;line-height:100%;border-radius:21px;background-color:transparent;color:#000;
        &.is-active{background-color:$point1; color:#fff; }
    }
}

.hash.type-view{margin-bottom:28px;}
.cert-info{margin-left:-10px;
    &__txt{display:inline-block;vertical-align: top;position:relative;margin-left:10px; color:#888;
        & + &{padding-left:14px;}
        & + &:before{content:""; display:inline-block; position:absolute;top:6px;left:0px;width:4px; height:4px;margin-right: 10px; border-radius:50%;background-color:#e1e1e1;}
    }
}
.price-box{display:table;margin-bottom:36px;
    &__price{display:table-cell;vertical-align: baseline;
        &.type-price{padding-right:10px;font-weight:$bold;color:$point1;}
        &.type-monthly{color:#888}
    }
}
.more-info{padding-bottom:35px;
    &__tit{color:#000;}
    &__list{margin-bottom:40px;}
    &__item{line-height:28px;margin-bottom:18px;

        $this:&;
        &.type-icon{margin:16px 0 0 0;
            #{$this}__name{padding-left:38px;color:#888;background-position: 0 0;background-repeat: no-repeat;background-size:27px 28px;
                &.type-local{background-image:url(../../img/mobile/view/local_icon.png);}
                &.type-fuel{background-image:url(../../img/mobile/view/fuel_icon.png);}
                &.type-displacement{background-image:url(../../img/mobile/view/displacement_icon.png);}
            }
            #{$this}__val{color:#000;}
        }
    }
    &__name{color:#000;}
    &__val{font-size:2rem;color:#000;
        &.type-blue{color:$point1;}
    }
    &__btn{display: block;width:100%;height:50px; border-radius:4px; line-height:48px;  box-sizing:border-box; color:#fff;
        &.type-encar{background-color:$encar;
            // &:before{content:"sk엔카";}
        }
        &.type-kb{background-color:$kb;
            // &:before{content:"KB차차차";}
        }
        &.type-aj{background-color:$aj;
            // &:before{content:"aj셀카";}
        }
        &.type-mpark{background-color:$mpark;
            // &:before{content:"엠파크";}
        }
    }
}

.compare-area{
    &__list{border-top:1px solid #ddd; display:none;
        &.is-active{display: block;}
    }
    &__item{display:table;width:100%;padding:20px 0; border-bottom:1px solid #ddd;



    }
    &__logo{display:table-cell;width:50px;vertical-align: middle;
        &__img{width:50px;}
    }
    &__txtbox{padding-left:13px; }
    &__score{ color:$point1;}
    &__price{ color:#000;}
    &__info{display:inline-block;color:#888;
        &.type-before{position:relative;margin-left:20px;
            &:before{content:""; display:inline-block;position:absolute;top:10px;left:-12px;width:4px; height:4px; border-radius:50%;background-color:#e1e1e1;}
        }
    }
    &__merit{position:relative;padding-right:16px; color:$point1;
        &:after{content:"";display: inline-block;position:absolute;top:3px;right:0;width:12px;height:15px; background-repeat:no-repeat;background-position: right;background-size:12px 15px;background-image:url(../../img/mobile/view/merit_icon.png);}
    }
}

.price-change{
    &__tit{margin-bottom:22px;font-size:1.8rem;color:#000; }
    &__table{width:100%;margin-bottom:24px;border-collapse: collapse;}
    &__td{width:50%;padding:0;
        &__name{color:#888;}
        &__val{color:$point1;}
        $this:&;
        &.type-l{
            #{$this}__val{position:relative;padding-right:15px;
                &:before{content:""; display:inline-block;position:absolute;right:0;top:4px;width:1px; height:13px;background-color:#ddd;}
            }
        }
        &.type-r{
            #{$this}__name{padding-left:14px;}
        }
    }
}
.price-range{border-left:1px solid #ddd;
    &__box{padding-top:28px;}
    &__limit{width:100%; height:40px; }
    &__bar{height:100%;line-height:40px;padding:0 20px;border-radius: 0 20px 20px 0;text-align: right;
        $this:&;
        &.type-grey{background-color:#f5f5f5;
            #{$this}__price{color:#888;}
        }
        &.type-blue{background-color:$point1;
            #{$this}__price{color:#fff;}
        }
    }
    &__date{padding:10px 0 0 10px; color:#000; }
}

.view-chart{
    &__wrap{padding-left:20px;}
    &__bg{position:relative;width:100%;
        &__img{width:100%;}
    }
    &__txt{position:absolute;
        &.type-y{display: inline-block;height:24px;line-height:24px;margin-top:-13px;color:$point1;
            &.type-y1{left:-25px;top:0%;}
            &.type-y2{left:-25px;top:20%;}
            &.type-y3{left:-25px;top:40%;margin-top:-14px;}
            &.type-y4{left:-25px;top:60%;margin-top:-15px;}
            &.type-y5{left:-25px;top:80%;margin-top:-16px;}
        }
        &.type-x{display:inline-block;color:#888;width:86px;
            &.type-x1{bottom:-40px;left:0%;text-align: left;}
            &.type-x2{bottom:-40px;left:50%;text-align: center;margin-left:-43px; }
            &.type-x3{bottom:-40px;right:0%;text-align: right;}
        }
    }
    &__dot{display:block;position:absolute;width:14px;height:14px;margin-left:-7px;margin-bottom:-7px;border-radius: 50%; border:2px solid #aaa;background-color:#fff;
        &.thiscar{border:2px solid $point1;background-color:$point1;}
        &.is-active{border:2px solid $point1;background-color:#fff;}
    }
    &__info{display:none;position:absolute;left:50%;min-width:242px;padding:25px;border:1px solid #ddd;border-radius:8px; background-color:#fff;z-index:5;
        @include vendor('transform','translate(-50%, -50%)');
        &.is-active{display:block;}
    }
    &__list{margin:-7px 0 13px 0;}
    &__item{margin-top:7px;}
    &__name{font-weight:$light;color:#888;}
    &__val{color:#000;}
    &__btn{width:100%;height:36px; line-height:34px;border-radius: 4px;background-color:$point1;color:#fff;text-align: center;}
}

.cluster{
    &__wrap{width:100%;height:240px;
      }
}

//피드백
.feed{padding-bottom:0;
    $this:&;
    &__tit{display:inline-block;margin-bottom:15px; color:#000;vertical-align:top;}
    &__sub{margin-bottom:32px;line-height:22px; font-weight:$light;color:#888;}
    &__writearea{width:100%; height:86px;line-height: 22px;margin-bottom:25px;padding:10px 13px;border:1px solid #ddd;border-radius:4px;-webkit-border-radius:4px;-webkit-appearance:none;font-family: $font-normal;font-weight:$light;resize: none;
            @include placeholder(#ccc,$light);
    }
    &__submit{display:block;width:100%; line-height: 50px;margin:0 auto;border-radius: 25px; background-color:#000;color:#fff;text-align: center;cursor:pointer;}


}
.feed-icon{
    $this:&;
    &__list{display:inline-block;width:100%;position:relative;margin:0 0 25px 0;}
    &__item{width:20%;text-align: center;}
    &__label{display:inline-block;padding-top:42px;font-size:1.2rem;color:#888;background-repeat: no-repeat;background-size:46px;background-position:50% 0;cursor:pointer;
        &.type-5{background-image:url(../../img/mobile/view/feedback_icon_5.png);}
        &.type-4{background-image:url(../../img/mobile/view/feedback_icon_4.png);}
        &.type-3{background-image:url(../../img/mobile/view/feedback_icon_3.png);}
        &.type-2{background-image:url(../../img/mobile/view/feedback_icon_2.png);}
        &.type-1{background-image:url(../../img/mobile/view/feedback_icon_1.png);}
        &:hover{color:$point1;}
    }
    &__radio{left:50%;bottom:0;
        &:checked + #{$this}__label{
            &.type-5{color:$point1;background-image:url(../../img/mobile/view/feedback_icon_5_s.png);}
            &.type-4{color:$point1;background-image:url(../../img/mobile/view/feedback_icon_4_s.png);}
            &.type-3{color:$point1;background-image:url(../../img/mobile/view/feedback_icon_3_s.png);}
            &.type-2{color:$point1;background-image:url(../../img/mobile/view/feedback_icon_2_s.png);}
            &.type-1{color:$point1;background-image:url(../../img/mobile/view/feedback_icon_1_s.png);}
        }
    }
}




.view-cont{
    &__box{border:1px solid #ddd;border-radius:8px;
        &.type-a{padding:40px 20px;}
    }
}
//종합평가 페이지

.score{
    &__box{margin-bottom:38px;}
    &__item + &__item{margin-top: 20px;}
    &__name{color:#888;}
    &__val{min-width:23px;color:#000;}
}
.mycar-bottom{position:relative; border-top:1px solid #ddd;
    &__inbox{display: table-cell;width:1%; vertical-align: middle;padding:25px 30px;}
    &__txt{padding-right:120px; line-height:26px; color:#000; box-sizing:border-box;}
    &__btn{position:absolute; top:0; bottom:0; right:30px; margin:auto 0;
        &__link{color:#fff;}
    }
}

.mycar-top{display:table;
    &__txt{display: table-cell;vertical-align: middle;padding:20px 30px; color:#888;}
}

.replywrap{margin-top:40px;}
.reply{
    &__inbox{margin-top:38px;}
    &__top{padding:30px;border-bottom:1px solid #ddd;}
    &__tit{margin-bottom:20px;font-size:1.8rem; color:#000;}
    &__writearea{width:100%; height:90px;margin-bottom:20px;padding:10px 13px;border:1px solid #ddd;border-radius:4px;-webkit-border-radius:4px;-webkit-appearance:none;font-family: $font-normal;font-weight:$light;resize: none;
            @include placeholder(#ccc,$light);
        }
    &__btn{display:block;width:100%;line-height:50px;border-radius:4px;background-color:$point1;color:#fff;text-align: center;}
}
.reply-list{
    &__item{margin-top:20px;}
    &__bottom{padding:8px 0 0 12px;font-weight:$light;}
    &__writer{line-height:22px;color:#000;
        &:before{content:"@";}
    }
    &__date{margin-left:16px;color:#888;
        &:before{content:"·"; display: inline-block;margin:0 8px 0 -8px;color:#888;}
    }
    &__txt{padding:12px;border-radius:20px;background-color:#f5f5f5; font-weight:$light;color:#888;}
    &__btn{display:block;width:100%;margin:0 auto;line-height:20px;margin-top:28px;background-color:transparent;}
}

//뷰페이지 툴팁 및 수정사항
.level-score{
    $this:&;
    &__box + &__box{margin-top:36px;}
    &__tit{margin-bottom:16px; color:#000;
        &.type-accident{margin-bottom:24px;}
    }
}
.score-info{padding-top:25px;border-top:1px solid $grey3;
    &__txt{position:relative;line-height:20px;margin-bottom:20px;padding-left:8px;color:$grey5;
        &:before{content:"";position:absolute; left:0; top:8px; width:2px; height:2px; border-radius: 50%;background-color:$grey5;}
    }
    &__link{color:#000;padding-right:20px;background:url(../../img/mobile/view/go_link.png) no-repeat top 1px right/9px 17px;}
}
//팝업
.quality-info{display:none;position:fixed; top:0; left:0; right:0; bottom:0;font-size:0; z-index: 30; white-space: nowrap;text-align: center;overflow: auto;
    &:before{content: '';display: inline-block;height: 100%;vertical-align: middle;}
    &__box{margin-bottom:10px;padding:25px 20px; background-color:#fff;border:1px solid $grey3;border-radius:4px; white-space: normal; }
    &__tit{margin-bottom:12px;color:$point1;}
    &__txt{line-height:22px;margin:0;color:$grey5;margin-bottom:20px;
        &:last-child{margin-bottom:0;}
    }
    &__btn{background-color:#000;color:#fff;}
    &__open{display: table-cell;margin-left:8px;}
    &__img{width:21px; height:21px;    vertical-align: bottom;}
    &__wrap{display:inline-block; width:100%; vertical-align: middle;text-align: left;}
    &__close{position: absolute;top: 0;left: 0;width: 100%;height: 100%; text-indent:-9999px;z-index:0;}
}
.pop-info{margin-top:25px;
    &__item{
        & + &{margin-top:5px;}
    }
}
