
<% include ../_include/_guide_header %>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item is-active"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap">

		<div class="guide-box">
			<div class="guide-tit">button-v1</div>
			<div class="guide-wrap">
				<div>
					<button type="button" class="button-v1 txt-v1">인증번호 발송</button>
					<button type="button" class="button-v1 type-border txt-v1">인증번호 발송</button>
					<button type="button" class="button-v1 type-border txt-v1"><span class="button-v1__wrap type-check">인증확인</span></button>
				</div>
				<pre class="brush: html;">
					<button type="button" class="button-v1 txt-v1">인증번호 발송</button>
					<button type="button" class="button-v1 type-border txt-v1">인증번호 발송</button>
					<button type="button" class="button-v1 type-border txt-v1"><span class="button-v1__wrap type-check">인증확인</span></button>
				</pre>
			</div>
			<!-- //btn-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">button-v2</div>
			<div class="guide-wrap">
				<div>
					<button class="button-v2 txt-v2">로그아웃</button>
					<button class="button-v2 type-border txt-v2">로그아웃</button>
					<button class="button-v2 type-border txt-v2 is-disabled">로그아웃</button>
					<button class="button-v2 type-border txt-v2 is-active">로그아웃</button>
				</div>
				<pre class="brush: html;">
					<button type="button" class="button-v1 txt-v1">인증번호 발송</button>
					<button type="button" class="button-v1 type-border txt-v1">인증번호 발송</button>
					<button type="button" class="button-v1 type-border txt-v1"><span class="button-v1__wrap type-check">인증확인</span></button>
				</pre>
			</div>
			<!-- //btn-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">button-v3</div>
			<div class="guide-wrap">
				<div>
					<a href="" class="button-v3 txt-v1">전체보기<span class="plus"><span class="plus__wrap">plus</span></span></a>
				</div>
				<pre class="brush: html;">
					<a href="" class="button-v3 txt-v1">전체보기<span class="plus"><span class="plus__wrap">plus</span></span></a>
				</pre>
			</div>
			<!-- //btn-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">button-default</div>
			<div class="guide-wrap">
				<div>
					<a href="" class="button-default txt-v1"><span class="button-default__wrap type-arrow">가격우선 전체보기</span></a>
					<a href="../my_car_1.php" class="mycar-result__btn button-default type-reset txt-v1">
						<span class="button-default__wrap type-replay">다시하기</span>
					</a>
					<a href="" class="button-default txt-v1">
						<span class="button-default__wrap type-plus">
							검색결과 더 보기<span class="plus type-middle"><span class="plus__wrap">plus</span></span>
						</span>
					</a>
					<button type="submit" class="mycar-body__submit button-default w-100 txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 is-disabled txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-black txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-point txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-encar txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-kb txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-aj txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-mpark txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-kakao txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-facebook txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius is-disabled txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius type-black txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius type-point txt-v1">다음</button>

				</div>
				<pre class="brush: html;">
					<button type="submit" class="mycar-body__submit button-default w-100 txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 is-disabled txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-black txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-point txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-encar txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-kb txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-aj txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-mpark txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-kakao txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-facebook txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius is-disabled txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius type-black txt-v1">다음</button>
					<button type="submit" class="mycar-body__submit button-default w-100 type-radius type-point txt-v1">다음</button>
				</pre>
			</div>
			<!-- //btn-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">select-v1</div>
			<div class="guide-wrap">
				<div>
					<select name="year_month" id="year_month" class="select-v1" required="">
						<option value="">선택</option>
						<option value="01">1월</option>
						<option value="02">2월</option>
						<option value="03">3월</option>
						<option value="04">4월</option>
						<option value="05">5월</option>
						<option value="06">6월</option>
						<option value="07">7월</option>
						<option value="08">8월</option>
						<option value="09">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="12">12월</option>
					</select>
				</div>
				<pre class="brush: html;">
					<label for="year_month" class="mycar-body__label">월</label>
					<select name="year_month" id="year_month" class="select-v1" required="">
						<option value="">선택</option>
						<option value="01">1월</option>
						<option value="02">2월</option>
						<option value="03">3월</option>
						<option value="04">4월</option>
						<option value="05">5월</option>
						<option value="06">6월</option>
						<option value="07">7월</option>
						<option value="08">8월</option>
						<option value="09">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="12">12월</option>
					</select>
				</pre>
			</div>
			<!-- //select-v1 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">checkbox-v2</div>
			<div class="guide-wrap">
				<div>
					<input type="checkbox" name="mypageChkAll" id="mypageChkAll" class="checkbox-v2"><label for="mypageChkAll">전체선택</label>
				</div>
				<pre class="brush: html;">
					<input type="checkbox" name="mypageChkAll" id="mypageChkAll" class="checkbox-v2"><label for="mypageChkAll">전체선택</label>
				</pre>
			</div>
			<!-- //checkbox-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">checkbox-only</div>
			<div class="guide-wrap">
				<div>
					<input type="checkbox" name="mypageChk" id="mypageChk1" class="checkbox-only js-mypage-check"><label for="mypageChk1">선택</label>
				</div>
				<pre class="brush: html;">
					<input type="checkbox" name="mypageChk" id="mypageChk1" class="checkbox-only js-mypage-check"><label for="mypageChk1">선택</label>
				</pre>
			</div>
			<!-- //checkbox-only -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">radio-v1</div>
			<div class="guide-wrap">
				<div>
					<input type="radio" name="productAlign" id="productAlign1" value="최근등록순" class="radio-v1" checked>
					<label for="productAlign1">최근등록순</label>
				</div>
				<pre class="brush: html;">
					<input type="radio" name="productAlign" id="productAlign1" value="최근등록순" class="radio-v1" checked>
					<label for="productAlign1">최근등록순</label>
				</pre>
			</div>
			<!-- //radio-v1 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">radio-v2</div>
			<div class="guide-wrap">
				<div>
					<input type="radio" id="used" name="purchase" value="used" class="radio-v2" required="">
					<label for="used" class="radio-v2__label">
						<div class="radio-v2__wrap type-new">
							<p class="radio-v2__tit txt-v1">중고차 구매</p>
							<p class="radio-v2__txt txt-v2">본인의 차량을 중고차로 구매하셨나요?<br>중고차로 내차량을 비교분석하여<br>차량평가를 해보세요.</p>
						</div>
					</label>
				</div>
				<pre class="brush: html;">
					<input type="radio" id="used" name="purchase" value="used" class="radio-v2" required="">
					<label for="used" class="radio-v2__label">
						<div class="radio-v2__wrap type-new">
							<p class="radio-v2__tit txt-v1">중고차 구매</p>
							<p class="radio-v2__txt txt-v2">본인의 차량을 중고차로 구매하셨나요?<br>중고차로 내차량을 비교분석하여<br>차량평가를 해보세요.</p>
						</div>
					</label>
				</pre>
			</div>
			<!-- //radio-v1 -->
		</div>


		<div class="guide-box">
			<div class="guide-tit">input-v1</div>
			<div class="guide-wrap">
				<div>
					<input class="input-v1 type-unit" type="number"/>
				</div>
				<pre class="brush: html;">
					<input class="input-v1 type-unit" type="number"/>
				</pre>
			</div>
			<!-- //input-v1 -->
		</div>


		<div class="guide-box">
			<div class="guide-tit">input-v2</div>
			<div class="guide-wrap">
				<div>
					<input class="input-v2 type-unit" type="number"/>
				</div>
				<pre class="brush: html;">
					<input class="input-v2 type-unit" type="number"/>
				</pre>
			</div>
			<!-- //input-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">tab-v1</div>
			<div class="guide-wrap">
				<div>
					<div class="tab-v1">
						<ul class="tab-v1__list">
							<li class="tab-v1__item is-active"><a href="page-price" class="tab-v1__link txt-v1">가격우선</a></li>
							<li class="tab-v1__item"><a href="page-quality" class="tab-v1__link txt-v1">품질우선</a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tab-v1">
						<ul class="tab-v1__list">
							<li class="tab-v1__item is-active"><a href="page-price" class="tab-v1__link txt-v1">가격우선</a></li>
							<li class="tab-v1__item"><a href="page-quality" class="tab-v1__link txt-v1">품질우선</a></li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //input-v1 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">tab-v2</div>
			<div class="guide-wrap">
				<div>
					<div class="tab-v2">
						<ul class="tab-v2__list">
							<li class="tab-v2__item is-active"><a href="myview.html" class="tab-v2__link txt-v1">최근본차량 <span class="tab-v2__num">23</span></a></li>
							<li class="tab-v2__item"><a href="wishlist.html" class="tab-v2__link txt-v1">관심차량</a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tab-v2">
						<ul class="tab-v2__list">
							<li class="tab-v2__item is-active"><a href="myview.html" class="tab-v2__link txt-v1">최근본차량 <span class="tab-v2__num">23</span></a></li>
							<li class="tab-v2__item"><a href="wishlist.html" class="tab-v2__link txt-v1">관심차량</a></li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //input-v1 -->
		</div>

	</div><!-- //new-content-wrap -->
</body>
</html>
