
<% include ../_include/_guide_header %>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item is-active"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap">
		<!-- mark-style -->
		<div class="guide-box">
			<div class="guide-tit">mark-style</div>
			<div class="guide-wrap">
				<div>
					<span class="product__mark mark-style type-hart">113</span>
					<span class="product__mark mark-style type-top">상위 10%</span>
					<span class="product__mark mark-style type-price">113</span>
					<span class="product__mark mark-style type-graph">상위 10%</span>
				</div>
				<pre class="brush: html;">
					<span class="product__mark mark-style type-hart">113</span>
					<span class="product__mark mark-style type-top">상위 10%</span>
					<span class="product__mark mark-style type-price">113</span>
					<span class="product__mark mark-style type-graph">상위 10%</span>
				</pre>
			</div>
			<!-- //mark-style -->
		</div>

		<!-- info-stylee -->
		<div class="guide-box">
			<div class="guide-tit">info-style</div>
			<div class="guide-wrap">
				<div>
					<span class="info-style summary__info">19러9780</span>
					<span class="info-style summary__info">10년04월</span>
					<span class="info-style summary__info">197,458km</span>
				</div>
				<pre class="brush: html;">
					<span class="info-style summary__info">19러9780</span>
					<span class="info-style summary__info">10년04월</span>
					<span class="info-style summary__info">197,458km</span>
				</pre>
			</div>
			<!-- //mark-style -->
		</div>

		<!-- hash -->
		<div class="guide-box">
			<div class="guide-tit">hash</div>
			<div class="guide-wrap">
				<div>
					<div class="hash">
						<ul class="hash__list">
							<li class="hash__item"><a href="" class="hash__link type-close txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="hash">
						<ul class="hash__list">
							<li class="hash__item"><a href="" class="hash__link type-close txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link txt-v2">직장인</a></li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //mark-style -->
		</div>
		<!-- product -->
		<div class="guide-box">
			<div class="guide-tit">product</div>
			<div class="guide-wrap">
				<div>
					<div class="product">
						<ul class="product__list">
							<li class="product__item">
								<div class="product__wrap">
									<div class="product__box type-img">
										<div class="product__relative">
											<div class="product__img">
												<img src="http://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
											</div>
										</div>
									</div>
									<div class="product__box type-txt">
										<div class="product__outer">
											<div class="product__inner">
												<h3 class="product__name txt-v1 ellipsis2">
													BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
												</h3>
												<p class="product__txt txt-v1">
													<span class="product__rank">SA+</span>
													<span class="product__price">1,960<span class="ft-300">만원</span></span>
												</p>
											</div>
										</div>
									</div>
								</div>
								<p class="product__txt">
									<span class="product__info info-style txt-v2">19러9780</span>
									<span class="product__info info-style txt-v2">10년04월</span>
									<span class="product__info info-style txt-v2">197,458km</span>
								</p>
								<p class="product__txt">
									<span class="product__mark mark-style txt-v2 type-eye">113</span>
									<span class="product__mark mark-style txt-v2 type-top">상위 10%</span>
								</p>
								<img src="../../img/mobile/common/brand_kb.png" class="product__brand"alt="kb차차차"/>
								<!-- <img src="../../img/mobile/common/brand_mpark.png" class="product__brand"alt="mpark"/> -->
								<!-- <img src="../../img/mobile/common/brand_sk.png" class="product__brand"alt="sk엔카"/> -->
								<!-- <img src="../../img/mobile/common/brand_aj.png" class="product__brand"alt="aj셀카"/> -->
								<a href="" class="product__link">자세히보기</a>
							</li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="product">
						<ul class="product__list">
							<li class="product__item">
								<div class="product__wrap">
									<div class="product__box type-img">
										<div class="product__relative">
											<div class="product__img">
												<img src="http://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
											</div>
										</div>
									</div>
									<div class="product__box type-txt">
										<div class="product__outer">
											<div class="product__inner">
												<h3 class="product__name txt-v1 ellipsis2">
													BMW 5시리즈 (F10) 520d 럭셔리 플러스 BMW 5시리즈 (F10) 520d 럭셔리 플러스
												</h3>
												<p class="product__txt txt-v1">
													<span class="product__rank">SA+</span>
													<span class="product__price">1,960<span class="ft-300">만원</span></span>
												</p>
											</div>
										</div>
									</div>
								</div>
								<p class="product__txt">
									<span class="product__info info-style txt-v2">19러9780</span>
									<span class="product__info info-style txt-v2">10년04월</span>
									<span class="product__info info-style txt-v2">197,458km</span>
								</p>
								<p class="product__txt">
									<span class="product__mark mark-style txt-v2 type-eye">113</span>
									<span class="product__mark mark-style txt-v2 type-top">상위 10%</span>
								</p>
								<img src="../../img/mobile/common/brand_kb.png" class="product__brand"alt="kb차차차"/>
								<!-- <img src="../../img/mobile/common/brand_mpark.png" class="product__brand"alt="mpark"/> -->
								<!-- <img src="../../img/mobile/common/brand_sk.png" class="product__brand"alt="sk엔카"/> -->
								<!-- <img src="../../img/mobile/common/brand_aj.png" class="product__brand"alt="aj셀카"/> -->
								<a href="" class="product__link">자세히보기</a>
							</li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //view-style -->
		</div>


	</div><!-- //new-content-wrap -->
</body>
</html>
