<%
	page_type = "step"
	page = "mycar"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container type-grey">
	<div class="mycar-header">
		<div class="wrap">
			<div class="mycar-header__wrap">
				<button class="mycar-header__back js-history-back">뒤로가기</button>
				<h3 class="mycar-header__tit txt-v1">쏘나타 XD 하이브리드</h3>
				<ul class="mycar-list">
					<li class="mycar-list__item is-active">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mycar-body page-2">
		<div class="wrap">
			<h4 class="mycar-body__tit tit-v3">연식을 선택해 주세요.</h4>
			<form class="mycar-body__form" action="mycar_step_3.html" id="progress2" method="post">
				<input type="hidden" value="<?=$car_name?>" name="car_name">
				<input type="hidden" value="<?=$purchase?>" name="purchase">
				<ul class="mycar-body__list">
					<li class="mycar-body__item">
						<label for="year_year" class="mycar-body__label txt-v1">출시년도</label>
						<select name="year_year" class="select-v1" id="year_year" required="">
							<option value="">선택</option>
							<option value="2020">2020년</option>
							<option value="2019">2019년</option>
							<option value="2018">2018년</option>
							<option value="2017">2017년</option>
							<option value="2016">2016년</option>
							<option value="2015">2015년</option>
						</select>
					</li>
					<li class="mycar-body__item">
						<label for="year_month" class="mycar-body__label txt-v1">월</label>
						<select name="year_month" id="year_month" class="select-v1" required="">
							<option value="">선택</option>
							<option value="01">1월</option>
							<option value="02">2월</option>
							<option value="03">3월</option>
							<option value="04">4월</option>
							<option value="05">5월</option>
							<option value="06">6월</option>
							<option value="07">7월</option>
							<option value="08">8월</option>
							<option value="09">9월</option>
							<option value="10">10월</option>
							<option value="11">11월</option>
							<option value="12">12월</option>
						</select>
					</li>
				</ul>
				<button type="submit" class="mycar-body__submit button-default w-100 type-radius is-disabled txt-v1">다음</button>
			</form>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
