<%
	page_type = "mycar"
	page = "mycar"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="mycar1">
	<section class="mycar1__header">
	    <div class="wrap">
	        <h1 class="mycar1__header__tit"><img src="../../img/mobile/mycar/my_car_tit_m.png" alt="내차어때 서비스 베타" class="mycar1__header__img"></h1>
	        <p class="mycar1__header__sub-tit tit-v2"><span class="counter">60,548</span> 대의 차량과<br>지금 내차를 비교해 보세요</p>
	        <div class="mycar1__header__input">
	            <span class="mycar1__header__input__tit txt-v3">차량명</span>
	            <p class="mycar1__header__example txt-v1">예시) 그랜저 HG</p>
	            <button class="mycar1__header__link js-search-open"></button>
	        </div>
	        <p class="mycar1__header__sub-txt bld">찾으시려는 차량이 없으신가요? <a href="../mycar_search" class="mycar1__header__sub-txt__link">전체차량 보기 ></a></p>
	    </div>
	</section>
	<section class="mycar1__cont">
	    <div class="wrap">
	        <h2 class="mycar1__cont__tit tit-v2">최근 차량 시세</h2>
	        <ul>
	           <% for($i=0; $i<3; $i++){ %>
	            <li class="recommend-box">
	                   <h3 class="recommend-box__tit ellipsis2 txt-v1">기아 더뉴쏘렌토 디젤2.2 2WD 노블레스 스페셜</h3>
	               <div class="recommend-box__info box">
	                   <ul class="recommend-box__info__list-wrap">
	                       <li class="recommend-box__line txt-v2">연식<span class="fr ">2019년 06월식</span></li>
	                       <li class="recommend-box__line txt-v2">주행거리<span class="fr ">861,521km</span></li>
	                   </ul>
	                   <div class="recommend-box__price">
	                       <span class="recommend-box__price-value txt-v1">2,550</span> 만원<span class="recommend-box__price-score fr txt-v1">A+</span>
	                   </div>
	               </div>
	            </li>
	            <%}%>
	        </ul>
	    </div>
	</section>
	</div>
	<% include ../_search/_mycar_search %>
</div>


<% include ../_include/_footer %>
