<%
	page_type = "step"
	page = "mycar"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container type-grey">
	<div class="mycar-header">
		<div class="wrap">
			<div class="mycar-header__wrap">
				<button class="mycar-header__back js-history-back">뒤로가기</button>
				<h3 class="mycar-header__tit txt-v1">쏘나타 XD 하이브리드</h3>
				<ul class="mycar-list">
					<li class="mycar-list__item is-active">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mycar-body page-5">
		<div class="wrap">
			<h4 class="mycar-body__tit tit-v3">옵션을 선택해 주세요.</h4>
			<form class="mycar-body__form" action="mycar_result.html" id="progress5" method="post">
				<!--넘어온값-->
				<input type="hidden" value="<?=$car_name?>" name="car_name">
				<input type="hidden" value="<?=$purchase?>" name="purchase">
				<input type="hidden" value="<?=$year_year?>" name="year_year">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$accident_count?>" name="accident_count">
				<input type="hidden" value="<?=$accident_price?>" name="accident_price">
				<input type="hidden" value="<?=$accident_count?>" name="accident_count">
				<input type="hidden" value="<?=$mileage?>" name="mileage">
			   <!--//넘어온값-->
				<ul class="mycar-body__list">
					<li class="mycar-body__item">
						<label for="year_year" class="mycar-body__label txt-v1">주요옵션</label>
						<div class="mycar-option">
							<ul class="mycar-option__list type-two">
								<li class="mycar-option__item">
									<input type="checkbox" name="option" value="풀옵션" id="option0" class="mycar-option__input js-all-check">
									<label for="option0" class="mycar-option__label">풀옵션</label>
								</li>
								<li class="mycar-option__item">
									<input type="checkbox" name="option" value="네비게이션" id="option1" class="mycar-option__input js-one-check">
									<label for="option1" class="mycar-option__label">네비게이션</label>
								</li>
								<li class="mycar-option__item">
									<input type="checkbox" name="option" value="선루프" id="option2" class="mycar-option__input js-one-check">
									<label for="option2" class="mycar-option__label">선루프</label>
								</li>
								<li class="mycar-option__item">
									<input type="checkbox" name="option" value="고급시트" id="option3" class="mycar-option__input js-one-check">
									<label for="option3" class="mycar-option__label">고급시트</label>
								</li>
							</ul>
						</div>
					</li>
					<li class="mycar-body__item">
						<label for="car_color" class="mycar-body__label select-v1__label txt-v1">색상</label>
						<select name="car_color" class="select-v1" id="car_color" required="">
							<option value="">선택</option>
							<option value="1">무채색(흰색,검정 등)</option>
							<option value="2">유채색(금색, 빨간색, 파란색 등)</option>
						</select>
					</li>
				</ul>
				<button type="submit" class="mycar-body__submit button-default w-100 type-radius is-disabled txt-v1">다음</button>
			</form>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
