<%
	page_type = "mycar"
	page = "mycar"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container type-grey">
    <div class="mycar-result">
        <!--공통 영역 - 타이틀-->
        <section class="mycar-result__header">
            <div class="wrap">
                <p class="mycar-result__tag_area">
                    <span class="mycar-result__tag_area__tag type-blue txt-v2">내차어때</span>
                    <span class="mycar-result__tag_area__tag type-white txt-v2">AS보증</span>
                </p>
                <h1 class="mycar-result__header__tit tit-v2">아우디 A6 45 TDI 콰트로 C7 콰트로 C7</h1>
                <div class="mycar-result__toggle-area">
                    <p class="mycar-result__toggle-area__toggle-button toggle-button">
                        <span class="img-normal txt-v2"> 2015년 01월식 / 452,409 km</span>
                    </p>
                    <div class="mycar-result__toggle-area__toggle-box">
                        <ul>
                            <li class="mycar-result__toggle-area__toggle-box__toggle-info txt-v2">구매방식<span class="mycar-result__toggle-area__toggle-box__toggle-info__num fr img-normal txt-v2">신차구매</span></li>
                            <li class="mycar-result__toggle-area__toggle-box__toggle-info txt-v2">연식<span class="mycar-result__toggle-area__toggle-box__toggle-info__num fr img-normal txt-v2">2018년 04월</span></li>
                            <li class="mycar-result__toggle-area__toggle-box__toggle-info txt-v2">특수사고<span class="mycar-result__toggle-area__toggle-box__toggle-info__num fr img-normal txt-v2">없음</span></li>
                            <li class="mycar-result__toggle-area__toggle-box__toggle-info txt-v2">사고횟수<span class="mycar-result__toggle-area__toggle-box__toggle-info__num fr img-normal txt-v2">1회</span></li>
                            <li class="mycar-result__toggle-area__toggle-box__toggle-info txt-v2">내차 피해금액<span class="mycar-result__toggle-area__toggle-box__toggle-info__num fr img-normal txt-v2">2천만원 ~ 3천만원</span></li>
                            <li class="mycar-result__toggle-area__toggle-box__toggle-info txt-v2">주행거리<span class="mycar-result__toggle-area__toggle-box__toggle-info__num fr img-normal txt-v2">134,151 km</span></li>
                        </ul>
                    </div>
                </div>
                <p class="mycar-result__header__sub-txt txt-v3">업계 최초로 중고차의 품질을 등급화하여 정확하고 최적화된 차량시세를 평가합니다.<br><span class="mycar-result__header__sub-txt__link bld">종합평가 더 알아보기 ></span></p>
            </div>
        </section>
        <section class="mycar-result__evaluation">
            <div class="wrap">
                <div class="mycar-result__evaluation mycar-result__common-box">
                    <div class="clb mycar-result__evaluation__header">
                        <h2 class="mycar-result__evaluation__tit fl txt-v1">종합평가</h2>
                        <span class="fr mycar-result__evaluation__score score tit-v1">AA+</span>
                    </div>
                    <h3 class="mycar-result__cont__tit txt-v1">내차시세</h3>
                    <span class="img-normal mycar-result__cont__price price tit-v1"><span class="counter-result">15,165,000</span>원</span>
                    <p class="mycar-result__cont__price-txt txt-v2">차량을 직거래 할 경우 품질등급 A에 적정한 금액을 추천해 드립니다.</p>
                    <div class="mycar-result__cont__chart-box chart_wrap">
                        <div class="mycar-result__cont__chart-inner " style="width:200px; height:195px;">
                            <canvas id="myChart" width="200" height="195"></canvas>
                            <span class="mycar-result__cont__chart-inner__label type-1 txt-v2">주행거리</span>
                            <span class="mycar-result__cont__chart-inner__label type-2 txt-v2">사고이력</span>
                            <span class="mycar-result__cont__chart-inner__label type-3 txt-v2">용도변경</span>
                            <span class="mycar-result__cont__chart-inner__label type-4 txt-v2">특수사고</span>
                            <span class="mycar-result__cont__chart-inner__label type-5 txt-v2">피해금액</span>
                        </div>
                        <p class="mycar-result__cont__control-box">
                            <span class="mycar-result__cont__control type-mine txt-v3">내차수치</span>
                            <span class="mycar-result__cont__control type-average txt-v3">평균수치</span>
                        </p>
                    </div>
                    <button class="mycar-result__btn button-default type-point txt-v1 js-share-button w-100">공유하기</button>
                    <a href="../my_car_1.php" class="mycar-result__btn button-default type-reset txt-v1">
						<span class="button-default__wrap type-replay">다시하기</span>
					</a>
                </div>
            </div>
        </section>
        <section class="compare-area">
            <div class="wrap">
                <h2 class="compare-area__tit tit-v2">동일차량 비교</h2>
                <div class="mycar-result__common-box">
                    <div class="compare-area__inner-box type-1">
                        <h3 class="mycar-result__cont__tit txt-v1">딜러 판매 금액</h3>
                        <span class="mycar-result__cont__price price img-normal tit-v1">16,200,000 원</span>
                        <p class="mycar-result__cont__price-txt txt-v2">중고차 딜러에게 판매 시 상품화 및 수수료 등을 제외한 시세의 약 70~80%의 금액이 산정됩니다.</p>
                    </div>
                    <div class="compare-area__inner-box">
                        <h3 class="mycar-result__cont__tit txt-v1">차량 평균 가격</h3>
                        <span class="mycar-result__cont__price price img-normal tit-v1">16,200,000 원</span>
                        <p class="mycar-result__cont__price-txt txt-v2">동일차량 쏘나타 XD 하이브리트 차량의 평균 시세 입니다.</p>
                    </div>
                </div>
                <div class="mycar-result__common-box">
                    <div class="compare-area__inner-box type-1">
                        <h3 class="mycar-result__cont__tit txt-v1">주행거리</h3>
                        <div class="mycar-result__circle-chart">
                            <div class="mycar-result__circle-box">
                                <p class="type-mine mycar-result__circle__origin" style="width:140px; height:140px; line-height:140px;">115,464km</p>
                                <p class="type-average mycar-result__circle__origin" style="width:70px; height:70px; line-height:70px;">115,464km</p>
                            </div>
                            <p class="mycar-result__cont__control-box type-circle">
                                <span class="mycar-result__cont__control type-mine txt-v3">내차수치</span>
                                <span class="mycar-result__cont__control type-average txt-v3">평균수치</span>
                            </p>
                        </div>
                        <p class="mycar-result__cont__price-txt txt-v2">평균 주행거리보다 약 500km 더 많습니다. 하루에 약 5km씩 주행거리를 절감해 보세요</p>
                    </div>
                    <div class="compare-area__inner-box">
                        <h3 class="mycar-result__cont__tit txt-v1">사고이력</h3>
                        <div class="mycar-result__circle-chart">
                            <div class="mycar-result__circle-box">
                                <p class="mycar-result__circle__origin type-mine" style="width:140px; height:140px; line-height:140px;">115,464원</p>
                                <p class="mycar-result__circle__origin type-average" style="width:70px; height:70px; line-height:70px;">115,464원</p>
                            </div>
                            <p class="mycar-result__cont__control-box type-circle">
                                <span class="mycar-result__cont__control type-mine txt-v3">내차수치</span>
                                <span class="mycar-result__cont__control type-average txt-v3">평균수치</span>
                            </p>
                        </div>
                        <p class="mycar-result__cont__price-txt txt-v2">평균 수치보다 낮습니다. 이대로 유지하세요!</p>
                    </div>
                </div>
                <p class="mycar-result__header__sub-txt type-info txt-v3">해당 자료는 통계에 의한 결과이므로 참고 용도로만 활용하시길 바랍니다.</p>
            </div>
        </section>

    </div>
	<!-- //select 시작 -->
	<div class="bottom-select type-share">
		<form action="">
			<div class="bottom-select__wrap is-active">
				<ul class="bottom-select__list">
					<li class="bottom-select__item txt-v1">
						<button class="sns-btn type-katalk js-link-kakao">카카오톡 공유</button>
					</li>
					<li class="bottom-select__item txt-v1">
						<a href="" class="sns-btn type-fa">페이스북 공유</a>
					</li>
					<li class="bottom-select__item txt-v1">
						<a href="" class="sns-btn type-tw">트위터 공유</a>
					</li>
					<li class="bottom-select__item txt-v1">
						<button class="sns-btn type-url js-url-copy"><span class="btn-span">주소복사하기</span></button>
					</li>
				</ul>
				<button type="submit" class="bottom-select__btn txt-v2 btn-v5 js-bottom-close">취소</button>
			</div>
		</form>
	</div>
	<!-- //select 끝 -->
</div>

<% include ../_include/_footer %>
