<%
	page_type = "step"
	page = "mycar"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container type-grey">
	<div class="mycar-header">
		<div class="wrap">
			<div class="mycar-header__wrap">
				<button class="mycar-header__back js-history-back">뒤로가기</button>
				<h3 class="mycar-header__tit txt-v1">쏘나타 XD 하이브리드</h3>
				<ul class="mycar-list">
					<li class="mycar-list__item is-active">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mycar-body">
		<div class="wrap">
			<h4 class="mycar-body__tit tit-v3">사고이력을 선택해 주세요.</h4>
			<form class="mycar-body__form" action="mycar_step_4.html" id="progress3" method="post">
				<!--넘어온값-->
			   <input type="hidden" value="<?=$car_name?>" name="car_name">
			   <input type="hidden" value="<?=$purchase?>" name="purchase">
			   <input type="hidden" value="<?=$year_year?>" name="year_year">
			   <input type="hidden" value="<?=$year_month?>" name="year_month">
			   <!--//넘어온값-->
				<ul class="mycar-body__list">
					<li class="mycar-body__item">
						<label for="" class="mycar-body__label txt-v1">특수사고</label>
						<div class="mycar-option" id="special_accident">
							<ul class="mycar-option__list">
								<li class="mycar-option__item">
									<input type="checkbox" name="special_accident_0" value="없음" id="special_accident_0" class="mycar-option__input js-all-acci" checked>
									<label for="special_accident_0" class="mycar-option__label">없음</label>
									<!-- 숨긴값 -->
									<input type="checkbox" name="special_accident" value="없음" id="special_accident_3" class="mycar-option__input cs-accident js-all-acci" checked required>
								</li>
								<li class="mycar-option__item">
									<input type="checkbox" name="special_accident" value="전손" id="special_accident_1" class="mycar-option__input js-one-acci" required>
									<label for="special_accident_1" class="mycar-option__label">전손</label>
								</li>
								<li class="mycar-option__item">
									<input type="checkbox" name="special_accident" value="침수" id="special_accident_2" class="mycar-option__input js-one-acci" required>
									<label for="special_accident_2" class="mycar-option__label">침수</label>
								</li>
							</ul>
						</div>
					</li>
					<li class="mycar-body__item">
						<label for="accident_count" class="mycar-body__label txt-v1">사고횟수</label>
						<select name="accident_count" class="select-v1" id="accident_count">
							<option value="">선택</option>
							<option value="0">없음</option>
							<option value="1">1회</option>
							<option value="2">2회</option>
							<option value="3">3회</option>
							<option value="4">4회</option>
							<option value="5">5회</option>
							<option value="6">6회</option>
							<option value="7">7회</option>
							<option value="8">8회</option>
							<option value="9">9회</option>
							<option value="10">10회이상</option>
						</select>
					</li>
					<li class="mycar-body__item">
						<label for="accident_price" class="mycar-body__label txt-v1">내차 피해금액</label>
						<ul class="mycar-split js-accident-area">
							<li class="mycar-split__item">
								<select name="accident_price" id="accident_price_1" class="select-v1">
									<option value="">선택</option>
									 <% for($i=0; $i<=20; $i++){ %>
									 <option value="<%=$i*100%>"><%=$i*100%>만원</option>
									 <% }%>
								 </select>
							</li>
							<li class="mycar-split__item">
								<select name="accident_price" id="accident_price_2" class="select-v1">
									<option value="">선택</option>
									 <% for($i=0; $i<=20; $i++){ %>
									 <option value="<%=$i*100%>"><%=$i*100%>만원</option>
									 <% }%>
								 </select>
							</li>
						</ul>
					</li>
				</ul>
				<button type="submit" class="mycar-body__submit button-default w-100 type-radius is-active txt-v1">다음</button>
			</form>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
