<%
	page_type = "step"
	page = "mycar"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container type-grey">
	<div class="mycar-header">
		<div class="wrap">
			<div class="mycar-header__wrap">
				<button class="mycar-header__back js-history-back">뒤로가기</button>
				<h3 class="mycar-header__tit txt-v1">쏘나타 XD 하이브리드</h3>
				<ul class="mycar-list">
					<li class="mycar-list__item is-active">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mycar-body page-4">
		<div class="wrap">
			<h4 class="mycar-body__tit tit-v3">주행거리를 선택해 주세요.</h4>
			<form class="mycar-body__form" action="mycar_step_5.html" id="progress4" method="post">
				<!--넘어온값-->
				<input type="hidden" value="<?=$car_name?>" name="car_name">
				<input type="hidden" value="<?=$purchase?>" name="purchase">
				<input type="hidden" value="<?=$year_year?>" name="year_year">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$year_month?>" name="year_month">
				<input type="hidden" value="<?=$accident_count?>" name="accident_count">
				<input type="hidden" value="<?=$accident_price?>" name="accident_price">
				<input type="hidden" value="<?=$accident_count?>" name="accident_count">
			   <!--//넘어온값-->
				<ul class="mycar-body__list">
					<li class="mycar-body__item">
						<label for="year_year" class="mycar-body__label txt-v1">주행거리</label>
						<select class="select-v1" name="mileage" id="mileage" required>
							<option value="">선택</option>
							<option value="10000">1만 km</option>
						</select>
					</li>
					<li class="mycar-body__item">
						<div class="swiper">
							<label for="mileageText" class="mycar-body__label txt-v1">직접입력</label>
							<input type="checkbox" id="mileageCheck" name="mileageCheck" class="swiper__input">
							<label for="mileageCheck" class="swiper__label">
								<span class="swiper__circle">circle</span>
							</label>
						</div>
						<div class="mycar-distance">
							<input type="text" name="mileageText" class="mycar-distance__input is-active" id="mileageText" placeholder="주행거리를 입력해 주세요" readonly maxlength="7" autocomplete="off">
							<span class="mycar-distance__span">km</span>
						</div>
					</li>
				</ul>
				<button type="submit" class="mycar-body__submit button-default w-100 type-radius is-disabled txt-v1">다음</button>
			</form>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
