<%
	page_type = "step"
	page = "mycar"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container type-grey">
	<div class="mycar-header">
		<div class="wrap">
			<div class="mycar-header__wrap">
				<button class="mycar-header__back js-history-back">뒤로가기</button>
				<h3 class="mycar-header__tit txt-v1">쏘나타 XD 하이브리드 </h3>
				<ul class="mycar-list">
					<li class="mycar-list__item is-active">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
					<li class="mycar-list__item">dot</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mycar-body type-buy">
		<div class="wrap">
			<h4 class="mycar-body__tit tit-v3"><span class="inline-block">본인 차량의 구매방식을</span> <span class="inline-block">선택해 주세요.</span></h4>
			<form class="mycar-body__form" action="mycar_step_2.html" id="progress1" method="post">
				<ul class="mycar-body__list">
					<li class="mycar-body__item">
						<input type="radio" id="used" name="purchase" value="used" class="radio-v2" required="">
						<label for="used" class="radio-v2__label">
							<div class="radio-v2__wrap type-new">
								<p class="radio-v2__tit txt-v1">중고차 구매</p>
								<p class="radio-v2__txt txt-v2">본인의 차량을 중고차로 구매하셨나요?<br>중고차로 내차량을 비교분석하여<br>차량평가를 해보세요.</p>
							</div>
						</label>
					</li>
					<li class="mycar-body__item">
						<input type="radio" id="used" name="purchase" value="used" class="radio-v2 " required="">
						<label for="used" class="radio-v2__label">
							<div class="radio-v2__wrap type-used">
								<p class="radio-v2__tit txt-v1">중고차 구매</p>
								<p class="radio-v2__txt txt-v2">
									본인의 차량을 중고차로 구매하셨나요?<br>중고차로 내차량을 비교분석하여<br>차량평가를 해보세요.
								</p>
							</div>
						</label>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
